.cart
	.cms-table-wrap
		max-height: 240px
		overflow: scroll

@media (max-width: 575px)
	.table.table.cart

		tbody td, th
			display: block
			width: 100%
		tfoot
			border-top: 1px solid
			td 
				display: inline-block
				width: 49%