 
// newa
.page-news 
	.date  
		position: absolute
		left: 0
		right: 0 
		top: -15px
		margin: 0 auto
		padding: 6px
		max-width: 200px
		background: rgba(201, 247, 255, 0.8) 
		color: #443f3f
		font-size: 12px
		letter-spacing: 2px

	.image-box .body 
		position: relative

	.body h3
		margin: 15px auto  

	.owl-carousel .owl-item
		max-height: 500px
		overflow: hidden
		width: 100%
		
		