.main-about-01
    padding: 7rem 0 5rem 0
    background-color: $gray-color3
    .about-img
        z-index: 1
        img
            max-width: 100%
        .about-img-1
            margin-top: 5rem
    @media all and (max-width: 1480px)
        padding: 6rem 0 4rem 0
    @media all and (max-width: 1280px)
        padding: 4rem 0 3rem 0
    @media all and (max-width: 991px)
        padding: 3rem 0
.about-cata-wrap
    .about-title-01
        color: $base-color
        font-size: 1.5rem
        padding-top: 2rem
        z-index: 1
    .about-title-02
        color: $text-dark
        font-size: 2.25rem
        padding-top: 2rem
        font-weight: bolder
        position: relative
        z-index: 1
        &:after
            content: ''
            width: 5rem
            height: .4rem
            position: absolute
            background-color: $base-color
            bottom: -.5rem
            left: 50%
            transform: translateX(-50%)
            -moz-transform: translateX(-50%)
            -ms-transform: translateX(-50%)
            -webkit-transform: translateX(-50%)
            -o-transform: translateX(-50%)
    .about-text
        padding: 2rem 2rem 0 0 
        color: $text-dark
        letter-spacing: 2px
        line-height: 2em
        font-size: 1.125rem
        z-index: 1
        @media (max-width: 991px)
            line-height: 1.75em
        @media (max-width: 767px)
            padding: 2rem 0
        @media (max-width: 540px)
            font-size: 1rem
    .about-text-02
        max-width: 620px
        width: 100%
        color: $text-dark
        letter-spacing: 2px
        line-height: 2em
        font-size: 1.125rem
        padding-top: 3rem
        margin: 0 auto
        text-align: left
        z-index: 1
        @media (max-width: 540px)
            font-size: 1rem
    .about-text-03
        padding: 2rem
        color: $text-dark
        letter-spacing: 2px
        line-height: 2em
        font-size: 1.115rem
        z-index: 1
        @media (max-width: 540px)
            font-size: 1rem
.main-about-02
    padding: 7rem 0
    #about-02
        position: relative
        &:after
            content: ''
            position: absolute
            width: 1250px
            height: 575px
            background-image: url(../../../upload/about/about-03.png)
            background-repeat: no-repeat
            bottom: 0
            left: 0
            @media (max-width: 991px)
                -moz-transform: scaleX(-1)
                -webkit-transform: scaleX(-1)
                -o-transform: scaleX(-1)
                -ms-transform: scaleX(-1)
                transform: scaleX(-1)
                right: 0
                top: 3rem
                z-index: -1
    .about-text
        padding: .6rem 0
        z-index: 1
        line-height: 1.3rem
    .about-02
        padding-bottom: 7rem
        z-index: 1
    .about-img
        z-index: 1
        img
            max-width: 100%
        .about-img-1
            margin-top: 5rem
    @media all and (max-width: 1480px)
        padding: 6rem 0 5rem 0
    @media all and (max-width: 1280px)
        padding: 4rem 0
    @media all and (max-width: 991px)
        padding: 3rem 0
.main-about-03
    position: relative
    padding-bottom: 12.5rem
    &:after
        content: ''
        position: absolute
        width: 740px
        height: 715px
        background-image: url(../../../upload/about/about-05.png)
        background-repeat: no-repeat
        bottom: 0
        right: 0
        @media (max-width: 767px)
            background-size: 80%
            background-position: 100%
        @media (max-width: 640px)
            background-size: 70%
    @media all and (max-width: 1480px)
        padding-bottom: 10rem
    @media all and (max-width: 1280px)
        padding-bottom: 8rem
    @media all and (max-width: 991px)
        ppadding-bottom: 6rem
.main-about
    padding: 3.75rem 0
.timeline-cc
    list-style: none
    padding: 0
    li
        padding-top: 2.5rem
    .timeline-date
        display: inline-block
        font-size: 1.5rem
        color: $text-light
        padding-right: 6rem
        letter-spacing: 2px
        @media (max-width: 540px)
            padding-right: 4rem
    .timeline-content
        display: inline-block
        font-size: 1.125rem
        color: $text-dark
        position: relative
        padding-left: 3rem
        @media (max-width: 540px)
            font-size: 1rem
            padding-left: 0
        p
            line-height: 2em
            letter-spacing: 2px
            &.same-line
                line-height: 1.25em
        &:after
            content: ""
            width: 34px
            height: 34px
            background: url(../../../upload/about/about-04.png) center center no-repeat
            background-size: contain
            position: absolute
            left: -45px
            top: 0
            z-index: 1
            @media (max-width: 540px)
                background-size: 80%
.about-bg
    position: relative
    z-index: 1
    &:after
        position: absolute
        content: ''
        width: 100%
        height: 100%
        background: url(../../../upload/about/about-bg.png) center center no-repeat
        background-size: cover
        z-index: -1
        top: 0
        left: 0
.ceri-wrap01
    position: relative
    z-index: 0
    padding: 7rem 0 5rem 0
    background-color: $gray-color3
    &:after
        content: ""
        position: absolute
        +size(100%, 480px)
        background: url(../images/background/bg-aboutus01.jpg) top left no-repeat
        background-size: cover
        z-index: -2
        top: 0
        left: 0
    &:before
        content: ""
        position: absolute
        +size(100%, 220px)
        background: $gray-color3
        z-index: -1
        bottom: 0
        left: 0
    @media all and (max-width: 1480px)
        padding: 6rem 0 4rem 0
    @media all and (max-width: 1280px)
        padding: 4rem 0 3rem 0
    @media all and (max-width: 991px)
        padding: 3rem 0
        &:after
            background-size: 800px
.ceri-item
    .img
        @extend .shadow-cc
        background-color: white
        img
            margin: auto
            display: block
    .about-title-01
        padding-left: .75rem
        padding-right: .75rem
        background: $text-white