// .album-items
//     min-height: 380px
//     border: 2px solid 
//     position: relative
//     z-index: 1
//     -webkit-box-shadow: 0px 0px 30px 0px rgba($base-color, .15)
//     -moz-box-shadow: 0px 0px 30px 0px rgba($base-color, .15)
//     box-shadow: 0px 0px 30px 0px rgba($base-color, .15)
//     &.photo-item
//         border: 1px solid 
//         @extend .shadow-0
//     img
//         +animate_ease_second(all, .5s)
//     .albums-txt
//         padding: 1em 0
//         font-size: 1.25rem
//     .albums-img
//         display: block
//         max-width: 100%
//         overflow: hidden
//         background: $base-color
//         max-height: 250px
//         @media all and (max-width: 1199px)
//             max-height: 200px
//     a:hover, a:focus
//         img
//             +animate_ease_second(all, .5s)
//             -webkit-transform: rotate(5deg) scale(1.25)
//             -moz-transform: rotate(5deg) scale(1.25)
//             -ms-transform: rotate(5deg) scale(1.25)
//             -o-transform: rotate(5deg) scale(1.25)
//             transform: rotate(5deg) scale(1.25)
//             opacity: .8



// album page below
.image-box
    margin-top: 4rem
    margin-bottom: 4rem
#set_width
    max-width: 32.33333%
    margin-right: auto

    @media screen and (max-width: 992px)
        max-width: 47%
    @media screen and (max-width: 786px)
        max-width: initial
.row
    // padding-left: 1.6rem!important

    @media screen and (max-width: 1200px)
        // padding-left: 0rem!important
.text
    h3
        margin-top: 1rem


// album_detail page below
.album_detail_title
    margin-top: 4rem
    text-align: center
    h3
        border-bottom: solid 3.5px #3ba2dd
        display: inline-block
        padding-bottom: 6px
        letter-spacing: 6px

.listing-item
    border-top: 7px solid #1B63A5
    margin-top: 4rem
    margin-bottom: 4rem
    margin-left: .7rem
    margin-right: .7rem
    background-color: #eee
    max-width: 22.96%
    @media screen and (max-width: 992px)
        max-width: 30.48%
    @media screen and (max-width: 768px)
        max-width: 46%
    @media screen and (max-width: 576px)
        max-width: 96.5%
        margin-top: 2rem
        margin-bottom: 2rem
        margin-left: auto
        margin-right: auto
    .pic
        padding-top: .9rem
        @media screen and (max-width: 576px)
            padding-top: 2rem
    .detail_title
        margin-top: .6rem
        text-align: center
        color: #1B63A5
        
       
    .detail_text
        padding-bottom: .8rem
        letter-spacing: 0.5px !important
        font-size: 1rem
        margin-top: .6rem
        
        @media screen and (max-width: 576px)
            padding-top: .7rem
        

.back_buttton
    margin-left: auto
    margin-right: auto
    margin-bottom: 4rem
    left: 92%
    transform: translateX(-50%)

    @media screen and (max-width: 576px)
        left: 88%

.img-wrap
    height: 250px
    overflow: hidden
    
    img
        // width:  100%
        height: 100%
        

.overlay-container
    padding: 15px


    
    
