.main-contact
    padding-top: 7rem
    .contactus-info-list
        a
            color: $text-dark
    p
        color: $base-color
        font-size: 1.125rem
        letter-spacing: 2px
        line-height: 2em
        padding-bottom: 1rem
        border-bottom: solid 1px $gray-color4
        i
            padding: .5rem
        img
            max-width: 140px
            width: 100%
    ul
        list-style: none
        padding: 0
        color: $text-dark
        letter-spacing: 2px
        line-height: 2em
        padding-top: 1rem
        display: inline-block
        max-width: 500px
        width: 100%
        li:nth-child(2)
            padding-top: 1rem
            // text-indent: -.6rem
            // padding-left: 1.3rem
        i
            min-width: 34px
            text-align: center
            padding: .5rem

.main-contact-cc
    padding-top: 0
    p
        border: none
        text-align: left
        padding-left: 1rem
        @media (max-width: 1199px)
            padding: 0
            margin: 0 auto
    .border-cc
        border-bottom: 1px solid $gray-color4
    ul
        li:nth-child(2)
            padding-top: 0
.contact-cata-wrap
    .contact-title
        font-size: 1.5rem
        color: $base-color
        padding-top: 3rem 
    .contact-form-gp
        margin: 0 1rem
        input
            border: #c5d2eb solid 1px
            padding: .25rem .5rem
            // margin-bottom: 1.5rem
            letter-spacing: 2px
            border-radius: 4px
            &::-webkit-input-placeholder
                color: $base-color8
            &::-moz-placeholder
                color: $base-color8
            &::-ms-input-placeholder
                color: $base-color8
            &::input-placeholder
                color: $base-color8
        // select  
        //     border: 0
        //     margin-bottom: 1.5rem
        //     letter-spacing: 2px
        //     color: $base-color8
        //     outline: 1px solid $base-color8
        //     appearance: none
        //     -moz-appearance: none
        //     -webkit-appearance: none
        //     -ms-appearance: none
        //     background: url(../../../assets/images/icons/arrow.png) no-repeat 98% center
        textarea
            border-radius: 0
            border: 1px solid $base-color8
            letter-spacing: 2px
            margin-bottom: 1.5rem
            &::-webkit-input-placeholder
                color: $base-color8
            &::-moz-placeholder
                color: $base-color8
            &::-ms-input-placeholder
                color: $base-color8
            &::input-placeholder
                color: $base-color8
    .changeCap 
        input
            margin-left: 1.5rem
            @media (min-width: 576px) and (max-width: 684px)
                margin: 0
    button.contactBtn
        display: inline-block
        padding: 14px 60px
        cursor: pointer
        color: white
        background: $base-color
        @extend .bbradius-0
        &:hover, &:focus
            background: $base-color2
    .contact-form-gp-cc
        border: solid 1px $base-color8
        margin-bottom: 1.5rem
        .title
            display: inline-block
            padding: .5rem .25rem .5rem .5rem
            letter-spacing: 2px
            color: $base-color8
        .md-radio
            &.md-radio-inline
                display: inline-block
            input[type="radio"]
                display: none
                &:checked + label:before
                    border-color: #337ab7
                    animation: ripple 0.2s linear forwards
                &:checked + label:after
                    transform: scale(1)
            label
                position: relative
                display: inline-block
                margin-bottom: 0
                padding: 0 3rem 0 2rem
                height: 20px
                vertical-align: bottom
                line-height: 1.25em
                cursor: pointer
                &:before, &:after
                    position: absolute
                    border-radius: 50%
                    content: ""
                    transition: all .3s ease
                    transition-property: transform, border-color
                &:before
                    top: 0
                    left: 0
                    width: 20px
                    height: 20px
                    border: 1px solid $base-color8
                &:after
                    top: 5px
                    left: 5px
                    width: 10px
                    height: 10px
                    background: $base-color
                    transform: scale(0)
    .icon-flags
        img
            max-width: 160px
#map
    height: 450px
    margin: 5rem 0
.prod-cata-menu-wrap 
    .contact-cata-menu-list
        a
            font-size: 1.5rem

.btn-control
    height: 3rem
    line-height: 2.5rem
    padding: 0 1.5rem
    background: #3ba2dd
    border: 5px solid #3ba2dd
    color: #fff
    font-size: 1rem
    font-weight: bold
    letter-spacing: 2px
    transition: all 0.3s ease
    border-radius: 10px

    &:hover
        color: white
        background-color: #1C63A5
        border: 5px solid #1C63A5





.dropdown
    position: relative
    display: inline-block
    min-width: 11rem
    height: 3rem
    line-height: 3
    background: #fff
    overflow: hidden
    border: 1px solid #c5d2eb

    .dropdown_list
        width: 100%
        height: 100%
        margin: 0
        padding: 0 2rem 0 0.75rem
        color: #363d4c
        cursor: pointer
        font-size: 1.125rem
        line-height: 2.5rem
        font-weight: bold
        letter-spacing: 1px

        -webkit-appearance: none
        outline: 0
        box-shadow: none
        border: 0 !important
        background: #fff
        background-image: none
        
    &::after
        content: '\f107'
        position: absolute
        right: 0
        +v_center
        padding: 0 .75rem
        font-family: "Font Awesome 5 Free"
        -moz-osx-font-smoothing: grayscale
        -webkit-font-smoothing: antialiased
        display: inline-block
        font-style: normal
        font-variant: normal
        text-rendering: auto
        line-height: 1
        font-weight: 900
        color: #3ba2dd
        pointer-events: none

#btn_size
    background-color: #3ba2dd
    color: white

    &:active
        background-color: #1c62a5

.unit
    margin-left: 8px