
.investor-list
    margin-bottom: 5rem
    h3
        font-size: 1.5rem
        color: $base-color
        letter-spacing: 2px
        font-weight: 400
        margin: 1rem 0
    ul
        list-style: none
        padding: 0
        li
            font-size: 1.125rem
            letter-spacing: 2px
            padding-bottom: .5rem
            a
                color: $text-light
                &:hover,&:focus
                    color: $base-color2
.investor-detail
    padding-bottom: 5rem
    .table
        margin-top: 1rem
        // margin-bottom: 8rem
        td, th
            font-size: 1.125rem
            padding: .5em
        td.font-cc
            font-size: 1rem
            letter-spacing: 1.5px
        th
            border-bottom: 2px solid $base-color
        @media all and (max-width: 1199px)
            margin-top: 3rem
        @media all and (max-width: 991px)
            margin-top: 2.5rem
    .table-cc
        .table
            width: 95%
            margin: 0 auto
    .icon-pdf
        max-width: 2.5rem
    .title-investor
        border-bottom: 2px solid $base-color
        padding: 0 0 .35rem 0
.investor-table-center
    display: block
    margin-right: auto
    margin-left: auto
.investor-table-wrap
    .nav-tabs 
        border: none
        .nav-item
            .nav-link
                background-color: $gray-color3
                border-radius: 0
                padding: 1rem 2.5rem
                font-size: 1.125rem
                color: $text-light
                border: transparent
                margin: 2rem .5rem .5rem 0
            .nav-link.active
                background-color: transparent
                border-top: 2px solid $base-color8
    .text-shadow
        border-left: 3px solid $base-color2
        margin-top: 4rem
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3)
        background-color: $gray-color3
        p
            color: $text-light
            font-size: 1.125rem
            letter-spacing: 2px
            padding: 1rem 0
            margin-left: 1rem
            span
                font-size: 1rem
                color: $text-dark
        ul
            padding: 0
            list-style: none
            margin: 0
            margin-left: 1rem
            li
                font-size: 1rem
                letter-spacing: 2px
                color: $text-dark
                line-height: 2em
                padding-right: 3rem
                @media (max-width: 1340px)
                    padding: 0
            li.text-indent
                text-indent: 4.5rem
            .invest-subtitle
                min-width: 5rem
    img:not(.icon-pdf)
        margin-top: 3rem
    .text-shadow-cc
        max-width: 430px
        width: 100%
        margin: 4rem 1.5rem
        @media (max-width: 1308px)
            margin: 4rem .5rem
        @media (min-width: 992px) and (max-width: 1223px)
            margin: 4rem 0
    .investor-c-style02
        .text-shadow-cc
            max-width: 9999px
            margin: 3rem 0
            min-height: 256px
            @media (max-width: 1308px)
                margin: 2rem 0
            @media (max-width: 768px)
                min-height: 0

