#news-tabs-wrap
    width: 100%
    .nav-link
        @extend .bbradius-0
        text-align: center
        display: block
        font-weight: bold
        font-size: 1.5rem
    .nav-link.active, .show>.nav-link
        background-color: $base-color
.news-tab-content
    padding: 4rem 0
    width: 100%
.news-list
    font-size: 1.125rem
    .news-title
        font-size: 1.25rem
        padding-bottom: .5em
        border-bottom: 2px solid $text-dark
    .news-data
        padding: 1rem .5rem
    .news-subject
    > div:nth-child(6n+4), > div:nth-child(6n+5), > div:nth-child(6n)
        background: #eee

    