.prod-cata-menu-wrap
    position: relative
    z-index: 5
    +moveXY(0, -45%)
    .prod-cata-menu-list
        -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
        -moz-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
        box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
        a
            background-color: white
            padding: 1.75rem 2rem
            font-size: 1.125rem
            color: $text-dark
            border: 1px solid $base-color4
            +animation_ease
            min-width: 180px
            &:hover, &:active, &:focus
                background-color: $base-color
                color: white
                +animation_ease
    @media all and (max-width: 991px)
        .prod-cata-menu-list
            a
                padding: 1rem 1.5rem
    @media all and (max-width: 767px)
        .prod-cata-menu-list
            max-height: 0
            overflow: hidden
            position: absolute
            top: 0
            &.opened
                z-index: 1
                max-height: 999px
            a
                padding: 1rem 1.5rem
        .btn-submenu-list
            &.opened
                max-height: 999px

.prod-cata-sect
    .prod-cata-wrap
        padding: 6.25rem 0
        position: relative
        .prod-title
            font-size: 2rem
            letter-spacing: 2px
            font-weight: bold
        .prod-title-small
            font-size: 1.25rem
            font-weight: bold
            color: $text-lighter
        .prod-type
            font-size: 1.375rem
            font-weight: bold
            color: white
            background: $blue01
            padding: .75rem 1rem
            margin-top: 3rem
            margin-bottom: 2em
            ~ .prod-type
                background: $blue02
        .prod-list
            .prod-item
                margin-bottom: 1rem
                .title
                    font-size: 1.125rem
                    padding-bottom: .5em
                    margin-bottom: .5em
                    border-bottom: 2px solid $text-dark
                    a
                        color: $text-dark
                        &:hover
                            color: $base-color2
                .prod-item-info
                    min-height: 100px
                ul
                    padding: 0
                    list-style-type: none
                    li
                        line-height: 2em
                        border-bottom: 1px solid $gray-color2
                .btn-detail
                    display: block
                    margin: 2rem 0 1rem 0
    .prod-cata-pic
        position: absolute
        z-index: -1
        +v_center
        img
            opacity: .6
            position: relative
            top: -5rem
        &.left-pic
            left: 0
        &.right-pic
            right: 0
        .prod-cata-pic-bg
            background: $gray-color
            +size(810px, 300px)
        @media all and (max-width: 1540px)
            .prod-cata-pic-bg
                +size(85%, 300px)
            &.right-pic .prod-cata-pic-bg
                margin-left: 15%
            img
                width: 100%
        @media all and (max-width: 1440px)
            .prod-cata-pic-bg
                +size(75%, 240px)
            &.right-pic .prod-cata-pic-bg
                margin-left: 25%
        @media all and (max-width: 1280px)
            .prod-cata-pic-bg
                +size(70%, 240px)
            &.right-pic .prod-cata-pic-bg
                margin-left: 30%
        @media all and (max-width: 1140px)
            .prod-cata-pic-bg
                +size(60%, 240px)
            &.right-pic .prod-cata-pic-bg
                margin-left: 40%
        @media all and (max-width: 991px)
            top: -5rem
            +transform_clean
        @media all and (max-width: 768px)
            top: -19rem
            .prod-cata-pic-bg
                +size(100%, 200px)
            &.right-pic .prod-cata-pic-bg
                margin-left: 0%
        @media all and (max-width: 768px)
            top: -22rem
    .prod-cata-wrap
        @media all and (max-width: 991px)
            > div
                margin-top: 10rem
        @media all and (max-width: 768px)
            padding: 6rem 0 2rem 0
            > div
                margin-top: 25rem
        @media all and (max-width: 575px)
            padding: 0
            > div
                margin-top: 29rem