.prod-detail-top
    background: $gray-color3
    position: relative
    z-index: 1
    &:before
        content: ""
        width: 100%
        height: 5rem
        background: $gray-color3
        position: absolute
        top: -5rem
        left: 0
    .prod-detail-data
        .prod-name
            font-size: 2rem
            font-weight: bold
            letter-spacing: 2px
            margin-bottom: .25rem
        .prod-special
            color: $base-color2
            font-size: 1.25rem
            font-weight: bold
        .data-list
            color: $text-light
            padding: 2rem 2rem 1rem 2rem
            font-size: 1.125rem
            line-height: 1.5em
            margin-bottom: 0
            li
                margin-bottom: .25em
        .btn-cc02
            margin: 1rem 0
    .prod-detail-pic
        padding: 0 3rem 3rem 0rem
        @media all and (max-width: 1199px)
            padding: 0 1.5rem 2rem 0rem
        @media all and (max-width: 767px)
            padding: 0 1rem
.prod-detail-info-wrap
    background: white
    position: relative
    z-index: 1
    .tab-content
        padding-top: 5rem
        padding-bottom: 4rem
    #prod-detail-tabs
        position: relative
        top: -1.5em
        -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
        -moz-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
        box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
    .nav-link
        @extend .bbradius-0
        padding: 1rem 1.5rem
        color: $text-dark
        background: white
        font-size: 1.125rem
        border: 1px solid $base-color4
        +animation_ease
        &.active, &:hover, &:focus
            color: white
            background: $base-color
            +animation_ease
