.container-cc, .row-cc
    padding-left: 2rem
    padding-right: 2rem
    width: 100%
    max-width: 1344px
    position: relative
    @media all and (max-width: 572px)
        padding-left: 1.5rem
        padding-right: 1.5rem
.pl-0
    padding-left: 0
.pic
    img
        display: block
        max-width: 100%
        margin: auto
.arrow-cc
    +size(7px, 7px)
    +rotate(-45deg)
    position: absolute
    top: calc(50% - 3px)
    border-left: 1px solid $base-color2
    border-bottom: 1px solid $base-color2
    
.btn-cc
    display: inline-block
    vertical-align: middle
    margin: 2rem 0
    font-size: 1.125rem
    &.btn-cc01
        color: $text-light
    .btn-arrow
        display: inline-block
        vertical-align: middle
        +size(50px, 50px)
        border: 6px solid $base-color4
        @extend .bbradius-100pa
        margin-right: 1.125rem
        position: relative
        cursor: pointer
        +animate_ease_second(all, 1.25s)
        .arrow-cc-down
            +size(7px, 7px)
            +rotate(-45deg)
            position: absolute
            top: calc(50% - 3px)
            left: calc(50% - 3px)
            border-left: 1px solid $base-color4
            border-bottom: 1px solid $base-color4
        @media all and (max-width: 575px)
            +size(40px, 40px)
            margin-right: .5rem
    &:hover, &.btn-cc02:hover, &.btn-cc01:hover
        color: $base-color5
        .btn-arrow
            animation: animationFlip linear .5s
            animation-iteration-count: 1
            transform-origin: 50% 50%
            -webkit-animation: animationFlip linear .5s
            -webkit-animation-iteration-count: 1
            -webkit-transform-origin: 50% 50%
            -moz-animation: animationFlip linear .5s
            -moz-animation-iteration-count: 1
            -moz-transform-origin: 50% 50%
            -o-animation: animationFlip linear .5s
            -o-animation-iteration-count: 1
            -o-transform-origin: 50% 50%
            -ms-animation: animationFlip linear .5s
            -ms-animation-iteration-count: 1
            -ms-transform-origin: 50% 50%
            border-color: $base-color5
            +animate_ease_second(all, 1.25s)
    &.btn-cc02
        .btn-arrow
            border: 6px solid $base-color2
            .arrow-cc-right
                +size(7px, 7px)
                +rotate(-135deg)
                position: absolute
                top: calc(50% - 3px)
                left: calc(50% - 5px)
                border-left: 1px solid $base-color2
                border-bottom: 1px solid $base-color2
    .btn-word
        display: inline-block
        vertical-align: middle
        text-transform: uppercase

.list_pic
    li
        list-style-image: url(../../../upload/about/about-04.svg)
        font-size: 22px
        



.btn-h-base
    display: inline-block
    vertical-align: middle
    padding: .5rem 1rem
    text-align: center
    color: $base-color2
    border: 1px solid $base-color2
// table
table
    th, td
        vertical-align: middle
        padding: 1rem .5rem
.table
    th, td
        vertical-align: middle
        padding: 1rem .5rem
    tr
        th
            font-weight: bold
            border-top: 0
            border-bottom: 2px solid $text-dark
        td
            border-bottom: 1px solid $base-color4
.table-bordered td, .table-bordered th
    border: 1px solid $base-color4
    font-size: 1.125rem
.table-bordered tr
    th:first-child
        background: $base-color
        color: white
        border: 1px solid #c5d2eb
.table-fixed
    table-layout: fixed
    td, th
        text-align: center

.submenu-list-wrap
    position: relative
    z-index: 5
    +moveXY(0, -45%)
    .submenu-list
        -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
        -moz-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
        box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
        a
            background-color: white
            padding: 1.75rem 2rem
            font-size: 1.125rem
            color: $text-dark
            border: 1px solid $base-color4
            +animation_ease
            &:hover, &:active, &:focus
                background-color: $base-color
                color: white
                +animation_ease
    @media all and (max-width: 991px)
        .submenu-list
            a
                padding: 1rem 1.5rem
    @media all and (max-width: 767px)
        .submenu-list
            max-height: 0
            overflow: hidden
            position: absolute
            top: 0
            &.opened
                z-index: 1
                max-height: 999px
            a
                min-width: 220px
                padding: 1rem 1.5rem
        .btn-submenu-list
            &.opened
                max-height: 999px
.pagination
    .page-item
        padding: 0 .5rem
        .page-link
            color: $base-color7
            border: none
            padding: .35rem .5rem
            font-size: 1.25rem
            @extend .bbradius-0
            &:hover, &:focus, &.active, &.current
                color: $text-dark
                background: $base-color4
                background-color: $base-color4

.smartphoto
    background: rgba($base-color, .95)

.list
    padding-left: 1.5rem !important
    li
        position: relative
        b
            color: $base-color
        &:before
            content: ''
            +size(4px, 4px)
            display: block
            background: $base-color
            position: absolute
            top: calc(1em - 2px)
            left: -.75rem


.cc-control
    /* Reset Select */
    select
        -webkit-appearance: none
        -moz-appearance: none
        -ms-appearance: none
        appearance: none
        outline: 0
        box-shadow: none
        border: 0 !important
        background: #fff
        background-image: none
        @extend .bbradius-0
    /* Custom Select */
    .select
        position: relative
        display: inline-block
        min-width: 11rem
        height: 3rem
        line-height: 3
        background: #fff
        overflow: hidden
        border: 1px solid $base-color4
        @extend .bbradius-0
    select
        width: 100%
        height: 100%
        margin: 0
        padding: 0 2rem 0 .75rem
        color: $text-dark
        cursor: pointer
        font-size: 1.125rem
        line-height: 2.5rem
        font-weight: bold
        letter-spacing: 1px
    select::-ms-expand
        display: none
    /* Arrow */
    .select::after
        content: '\f107'
        position: absolute
        right: 0
        +v_center
        padding: 0 .75rem
        font-family: "Font Awesome 5 Free"
        -moz-osx-font-smoothing: grayscale
        -webkit-font-smoothing: antialiased
        display: inline-block
        font-style: normal
        font-variant: normal
        text-rendering: auto
        line-height: 1
        font-weight: 900
        color: $base-color2
        pointer-events: none
    .btn-control
        height: 3rem
        line-height: 2.5rem
        padding: 0 1.5rem
        background: $base-color2
        border: 5px solid $base-color2
        color: #fff
        font-size: 1rem
        font-weight: bold
        letter-spacing: 2px
        @extend .bbradius-10
        +animation_ease
        &:hover, &:focus, &:active
            background: $base-color
            border: 5px solid $base-color
            +animation_ease
        &.btn-h-control
            background: #fff
            color: $text-dark
            &:hover, &:focus, &:active
                background: $text-white
// animation
@keyframes animationFlip
    50%
        transform: rotateY(180deg) scale(.96)
    100%
        transform: rotateY(360deg) scale(1)

@-moz-keyframes animationFlip
    50%
        -moz-transform: rotateY(180deg) scale(.96)
    100%
        -moz-transform: rotateY(360deg) scale(1)

@-webkit-keyframes animationFlip
    50%
        -webkit-transform: rotateY(180deg) scale(.96)
    100%
        -webkit-transform: rotateY(360deg) scale(1)

@-o-keyframes animationFlip
    50%
        -o-transform: rotateY(180deg) scale(.96)
    100%
        -o-transform: rotateY(360deg) scale(1)

@-ms-keyframes animationFlip        
    50%
        -ms-transform: rotateY(180deg) scale(.96)
    100%
        -ms-transform: rotateY(360deg) scale(1)
// animation
@keyframes animationFlip_longterm
    47%
        transform: rotateY(0deg) scale(1)
    50%
        transform: rotateY(180deg) scale(.95)
    55%
        transform: rotateY(0deg) scale(1)
@-moz-keyframes animationFlip_longterm
    47%
        -moz-transform: rotateY(0deg) scale(1)
    50%
        -moz-transform: rotateY(180deg) scale(.95)
    55%
        -moz-transform: rotateY(0deg) scale(1)
@-webkit-keyframes animationFlip_longterm
    47%
        -webkit-transform: rotateY(0deg) scale(1)
    50%
        -webkit-transform: rotateY(180deg) scale(.95)
    55%
        -webkit-transform: rotateY(0deg) scale(1)
@-o-keyframes animationFlip_longterm
    47%
        -o-transform: rotateY(0deg) scale(1)
    50%
        -o-transform: rotateY(180deg) scale(.95)
    55%
        -o-transform: rotateY(0deg) scale(1)
@-ms-keyframes animationFlip_longterm
    47%
        -ms-transform: rotateY(0deg) scale(1)
    50%
        -ms-transform: rotateY(180deg) scale(.95)
    55%
        -ms-transform: rotateY(0deg) scale(1)
