.footer
    position: relative
    border-top: 1.75rem solid #f5f5f5
    color: $text-light
    .footer-logo
        width: 209px
        max-width: 100%
        margin-bottom: 1rem
        padding-top: 2px
    .footer-info
        padding: 3rem 0 1rem 0
    .f-office-title:after
        content: ': '
    .footer-office
        padding-right: 1rem
        ul
            list-style-type: none
            padding: 0
            margin: 0
            li
                font-size: 1rem
                line-height: 2em
                a
                    color: $text-light
    .subfooter
        font-size: .88rem
        padding: 1em 0
        a
            color: $text-light
    .pagetopbtn
        cursor: pointer
        opacity: .7
        z-index: 888
        &:hover, &:active, &:focus
            opacity: 1
        .icon-cc
            +size(7px, 7px)
            position: absolute
            top: calc(50% - 3px)
            left: 0
            border-left: 1px solid $base-color4
            border-bottom: 1px solid $base-color4
            &.icon-arrow-up
                +rotate(135deg)
    @media all and (max-width: 1280px)
        .footer-logo
            width: 160px
    @media all and (max-width: 991px)
        .footer-logo
            width: 120px
    @media all and (max-width: 575px)
        .footer-office
            margin-top: .5em
            border-top: 1px solid rgba($base-color4, .5)