// main-header
.main-menu
    position: fixed
    top: 0
    right: 0
    z-index: 5
    width: 0
    max-width: 75vw
    height: 100vh
    padding: 0
    overflow: hidden
    background: $base-color
    +animation_ease
    > .container
        padding: 3.75rem 0
    ul
        padding: 0
        list-style: none
    .menu-list
        padding: 2.5rem 2.5rem 2.5rem 3rem
        opacity: 0
        li:not(:last-child)
            margin-bottom: 1.5rem 
        a
            font-size: 1.25rem
            &:hover, &.current, &.active
                opacity: .7
            &:not([href]):not([tabindex])
                cursor: pointer
                color: white
            @media all and (max-width: 1140px)
                &:hover, &.current, &.active, &.focus
                    color: $text-lighter
        ul li a
            &.current, &.active
                opacity: .9
                color: $base-color5
        .main-submenu
            max-height: 0
            overflow: hidden
            background: rgba(black, .05)
            border-bottom: 1px solid $base-color4
        .btn-main-submenu.opened + .main-submenu
            max-height: 999px

#btn-close-mainmenu
    padding-top: 2rem
    padding-left: 3rem
    cursor: pointer
    &:hover, &:focus
        opacity: .7
    > *
        display: inline-block
        vertical-align: middle
    .h-link-text
        margin-left: 0
        color: white
    #cross
        display: block
        position: relative
        +size(48px, 48px)
        > span
            display: block
            position: absolute
            top: 22px
            left: 0
            +size(36px, 3px)
            @extend .bbradius-10
            background: white
            +rotate(0)
            +animate_ease_second(all, 1s)
            &:first-child
                +rotate(0)
#main-menu-close
    +size(0, 100vh)
    position: fixed
    left: 0
    top: 0
    z-index: -99
    background: rgba(black, 0.3)
    &:before, &:after
        content: ""
        position: absolute
        top: 0
        right: 0
        display: block
        +size(0, 100%)
        -webkit-transform: translate(100%, 0)
        -mos-transform: translate(100%, 0)
        -o-transform: translate(100%, 0)
        -ms-transform: translate(100%, 0)
        transform: translate(100%, 0)
    &:before
        background: rgba($base-color, .1)
    &:after
        background: rgba($base-color, .1)

body
    &.menu-opened
        overflow: hidden
        max-width: 100vw
        max-height: 100vh
        #main-menu-close
            display: block
            z-index: 2
            +size(100vw, 100vh)
            &:before, &:after
                +size(100%, 100%)
            &:before
                -webkit-transform: translate(0, 0)
                -mos-transform: translate(0, 0)
                -o-transform: translate(0, 0)
                -ms-transform: translate(0, 0)
                transform: translate(0, 0)
                -webkit-transition: all 0.75s ease
                -mos-transition: all 0.75s ease
                -o-transition: all 0.75s ease
                -ms-transition: all 0.75s ease
                transition: all 0.75s ease
            &:after
                webkit-transform: translate(0, 0)
                -mos-transform: translate(0, 0)
                -o-transform: translate(0, 0)
                -ms-transform: translate(0, 0)
                transform: translate(0, 0)
                -webkit-transition: all 0.45s ease-in
                -mos-transition: all 0.45s ease-in
                -o-transition: all 0.45s ease-in
                -ms-transition: all 0.45s ease-in
                transition: all 0.45s ease-in
        #main-menu
            width: 460px
            +animation_ease
            -webkit-box-shadow: 0px 0px 30px 0px rgba(#000, .35)
            -moz-box-shadow: 0px 0px 30px 0px rgba(#000, .35)
            box-shadow: 0px 0px 30px 0px rgba(#000, .35)
            .menu-list
                opacity: 1
                overflow-y: auto
                max-height: calc(100vh - 80px - 3rem)
        #btn-close-mainmenu
            #cross
                > span
                    +rotate(220deg)
                    -webkit-transition: all .35s cubic-bezier(.66,-0.21,.38,1.17) .25s
                    -mos-transition: all .35s cubic-bezier(.66,-0.21,.38,1.17) .25s
                    -o-transition: all .35s cubic-bezier(.66,-0.21,.38,1.17) .25s
                    -ms-transition: all .35s cubic-bezier(.66,-0.21,.38,1.17) .25s
                    transition: all .35s cubic-bezier(.66,-0.21,.38,1.17) .25s
                    
                    &:first-child
                        +rotate(-42deg)

#btn-main-menu
    position: relative
    color: $text-white
    overflow: hidden
    .collapse-button
        position: relative
        display: inline-block
        vertical-align: middle
        padding: 0
        > span
            display: inline-block
            vertical-align: middle
            @each $prefix in $prefixes
                #{$prefix}transition-delay: .25s
        .icon-bar
            background-color: #fff
            @each $prefix in $prefixes
                #{$prefix}border-radius: 3px
            display: block
            height: 3px
            width: 36px
            margin: 5px 0
            position: relative
            &:nth-child(2)
                width: 24px
                margin-left: 12px

    @media all and (min-width: 1000px)
        cursor: pointer
        margin-right: 4rem
        margin-left: 1rem
    @media all and (min-width: 1281px)
        &:hover .collapse-button
            .icon-bar
                +animation_ease
                background-color: #48bde1
    @media all and (max-width: 991px)
        color: $base-color2
        .collapse-button
            .icon-bar
                background-color: $base-color2
    @media all and (max-width: 480px)
        .h-link-text
            display: none
.main-header
    background-color: transparent
    padding: 1.35rem 0
    position: absolute
    top: 0
    left: 0
    z-index: 2
    width: 100%
    a
        color: $text-white
    .logo-word
        margin-left: 1rem
        margin-bottom: 0
        > span
            word-break: keep-all
            font-size: 13px
            text-shadow: 0px 1px 1px rgba(black, 0.35)
            color: $base-color2
            &:first-child
                font-size: 1.25rem
                color: $base-color
            @media all and (max-width: 575px)
                text-shadow: 0
        span
            word-break: keep-all
    .main-menu01
        position: relative
        ul
            list-style-type: none
            margin: 0
            padding: 0 2rem 0 0
            li
                display: inline-block
                vertical-align: middle
                padding: 0
                a
                    font-size: 1.25rem
                    color: $text-white
                    text-align: right
                    text-shadow: 1.414px 1.414px 2px rgba(black, 0.35)
                    padding-left: 1rem
                    padding-right: 1rem
                    &:hover, &:active, &:focus, &.active
                        color: $base-color2
        &:after
            content: "|"
            position: absolute
            right: 1rem
            top: 0
            color: $text-light

    .main-h-link, .h-link-text
        display: inline-block
        vertical-align: middle
    .h-link-text
        font-size: 1.125rem
        margin-left: 1rem
        text-decoration: none
            
    @media all and (min-width: 1000px)
        .main-h-link
            &:hover, &:focus
                .h-link-text
                    color: #48bde1
                    text-decoration: none
    @media all and (min-width: 1281px)
        padding: 2.5rem 0
    @media all and (max-width: 991px)
        position: static
        background: #f5f5f5
        .logo-pic
            img
                width: 100px
    @media all and (max-width: 572px)
        .logo-pic
            img
                width: 80px
    @media all and (max-width: 414px)
        .logo-word > span:first-child
            font-size: 1rem
        .logo-word > span
            font-size: 12px
        .logo-pic
            img
                width: 74px

.main-menu02
    > div
        margin-left: .75rem
        padding: 0 .5rem
// lang
.lang-wrap
    position: relative
    .btn-lang
        cursor: pointer
        color: $text-white
    .lang-list
        width: 5rem
        position: absolute
        top: 1.25em
        right: 0
        list-style: none
        max-height: 0
        overflow: hidden
        padding: 0
        background: rgba($base-color, .75)
        a
            display: block
            padding: .5rem .5em
            text-align: center
            &:hover, &:focus
                color: $base-color
                background: #fff
    &.m-lang-wrap
        margin-bottom: 1.5rem
        #m-btn-lang
            cursor: pointer
            color: white
        .lang-list
            position: static
            width: auto
            margin-top: 1rem
            margin-bottom: 0 !important
            li
                margin-bottom: 0 !important
                &.active
                    background: rgba($base-color2, .5)
                a
                    font-size: 1rem
    @media all and (min-width: 1200px)
        &:hover
            .lang-list
                max-height: 800px
.lang-opened
    .lang-list
        max-height: 800px
// search 
.search-wrap
    position: relative
    .search-form
        width: 280px
        max-height: 0
        overflow: hidden
        position: absolute
        right: 0
        top: -.25rem
        z-index: -99
        background: $base-color
        padding: 0
        @extend .bbradius-5
        +animate_ease_second(opacity, .3s)
        opacity: 0
        .btn-search, #search-button
            padding: .5rem .75rem
            &:hover
                color: $base-color5
        input
            background: rgba(white, .95)
    &:hover
        .search-form
            +animate_ease_second(opacity, .5s)
            max-height: 800px
            padding: 0.5rem 0 .5rem .75rem
            opacity: 1
            z-index: 1
.job104
    color: #FF7802
    border: 1px solid #FF7802
    letter-spacing: 1.5px
    border-radius: 3.5px
    padding: 4px 20px
    font-weight: 300
    font-family: "微軟正黑體"
    font-size: 15px
    display: block
    text-align: center
    margin-bottom: 0px
    width: 158px
    margin-top: 8px

    &:hover
        color: white
        background-color: #FF7802
    &:active
        background-color: #e66b00

.company_name
    color: #1B63A5
    text-shadow: 0px 1px 1px rgba(black, 0.35)

    @media all and (max-width: 575px)
        text-shadow: 0

.company_name_en
    color: #3ba2dd
    text-shadow: 0px 1px 1px rgba(black, 0.35)


.m-search-wrap
    input
        margin-top: 1px
        margin-bottom: 1px
    .btn-search
        border: 1px solid rgba(white, .95)
        margin-left: .25rem
        padding: .25rem 1rem
        margin: 0 0 1.5rem .25rem
        &:hover
            opacity: .7



// @keyframes animaitionS
//     0% 
//         opacity: 1
//         transform:  scaleX(1.00) 
//     25% 
//         opacity: 0.95
//         transform:  scaleX(0.20) 
//     25% 
//         transform:  scaleX(0.20)
//     100% 
//         opacity: 0.95
//         transform:  scaleX(1.00)

// @-moz-keyframes animaitionS
//     0% 
//         opacity: 1
//         -moz-transform:  scaleX(1.00) 
//     25% 
//         opacity: 0.95
//         -moz-transform:  scaleX(0.20) 
//     25% 
//         -moz-transform:  scaleX(0.20)
//     100% 
//         opacity: 0.95
//         -moz-transform:  scaleX(1.00)

// @-webkit-keyframes animaitionS 
//     0% 
//         opacity: 1
//         -webkit-transform:  scaleX(1.00) 
//     25% 
//         opacity: 0.95
//         -webkit-transform:  scaleX(0.20) 
//     25% 
//         -webkit-transform:  scaleX(0.20)
//     100% 
//         opacity: 0.95
//         -webkit-transform:  scaleX(1.00)

// @-o-keyframes animaitionS 
//     0% 
//         opacity: 1
//         -o-transform:  scaleX(1.00) 
//     25% 
//         opacity: 0.95
//         -o-transform:  scaleX(0.20) 
//     25% 
//         -o-transform:  scaleX(0.20)
//     100% 
//         opacity: 0.95
//         -o-transform:  scaleX(1.00)

// @-ms-keyframes animaitionS 
//     0% 
//         opacity: 1
//         -ms-transform:  scaleX(1.00) 
//     25% 
//         opacity: 0.95
//         -ms-transform:  scaleX(0.20) 
//     25% 
//         -ms-transform:  scaleX(0.20)
//     100% 
//         opacity: 0.95
//         -ms-transform:  scaleX(1.00)