@charset "utf-8"
// global
$prefixes: -webkit-, -moz-, -o-, -ms-, ""
@media (min-width: 1281px)
    .container-medium
        max-width: 1510px

html, body
    font-size: 16px
    font-size: 1rem
    line-height: 1.5em
    font-family: $font-family-base
    width: 100%
    overflow-x: hidden
    overflow-y: auto
    color: $text-dark
    @media (min-width: 1281px)
        letter-spacing: 1px
    @media (max-width: 1199px)
        font-size: 15px
    @media (max-width: 991px)
        font-size: 14px
    @media (max-width: 350px)
        font-size: 13px
p
    line-height: 1.5em
a
    color: $base-color2
    text-decoration: none
a:hover, a:active, a:focus
    text-decoration: none
    color: $base-color5
img
    max-width: 100%

.clearfix:after, .clearfix:before
    content: ""
    display: table

.clearfix:after
    clear: both

.mh-60vh
    min-height: 60vh

.text-colored
    color: $base-color

@mixin animation_ease
    -webkit-transition: all .3s ease
    -mos-transition: all .3s ease
    -o-transition: all .3s ease
    -ms-transition: all .3s ease
    transition: all .3s ease

@mixin animate_ease_second($t, $s)
    -webkit-transition: $t $s ease
    -mos-transition: $t $s ease
    -o-transition: $t $s ease
    -ms-transition: $t $s ease
    transition: $t $s ease

@mixin size($w,$h)
    width: $w
    height: $h

@mixin transform_clean
    -webkit-transform: none
    -moz-transform: none
    -ms-transform: none
    -o-transform: none
    transform: none

@mixin scales($r)
    -webkit-transform: scale($r)
    -moz-transform: scale($r)
    -ms-transform: scale($r)
    -o-transform: scale($r)
    transform: scale($r)

@mixin rotate($r)
    -webkit-transform: rotate($r)
    -moz-transform: rotate($r)
    -ms-transform: rotate($r)
    -o-transform: rotate($r)
    transform: rotate($r)

@mixin vertical-align
    position: relative
    top: 50%
    -webkit-transform: translateY(-50%)
    -mos-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)

@mixin moveXY($x, $y)
    -webkit-transform: translate($x, $y)
    -mos-transform: translate($x, $y)
    -o-transform: translate($x, $y)
    -ms-transform: translate($x, $y)
    transform: translate($x, $y)

@mixin v_center
    top: 50%
    +moveXY(0, -50%)

@mixin h_center
    left: 50%
    +moveXY(-50%, 0)

@mixin all_center
    top: 50%
    left: 50%
    +moveXY(-50%, -50%)

.shadow-0
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none

.shadow-5
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0, .35)
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0, .35)
    box-shadow: 0px 1px 5px 0px rgba(#000, .35)

.shadow-10
    -webkit-box-shadow: 0px 1px 10px 0px rgba(#000, .35)
    -moz-box-shadow: 0px 1px 10px 0px rgba(#000, .35)
    box-shadow: 0px 1px 10px 0px rgba(#000, .35)

.shadow-15
    -webkit-box-shadow: 0px 1px 15px 0px rgba(#000, .35)
    -moz-box-shadow: 0px 1px 15px 0px rgba(#000, .35)
    box-shadow: 0px 1px 15px 0px rgba(#000, .35)

.shadow-20
    -webkit-box-shadow: 0px 1px 20px 0px rgba(#000, .35)
    -moz-box-shadow: 0px 1px 20px 0px rgba(#000, .35)
    box-shadow: 0px 1px 20px 0px rgba(#000, .35)

.shadow-30
    -webkit-box-shadow: 0px 0px 30px 0px rgba(#000, .35)
    -moz-box-shadow: 0px 0px 30px 0px rgba(#000, .35)
    box-shadow: 0px 0px 30px 0px rgba(#000, .35)

.shadow-cc
    -webkit-box-shadow: 0px 1px 15px 0px rgba($text-dark, .25)
    -moz-box-shadow: 0px 1px 15px 0px rgba($text-dark, .25)
    box-shadow: 0px 1px 15px 0px rgba($text-dark, .25)

.cms-table-wrap
    overflow-x: auto

.pic
    img
        margin: 0 auto

@mixin borderRadius($size...)
    @if length($size) == 1
        @each $prefix in $prefixes
            #{$prefix}border-radius: $size
    @else
        @include customBorderRadius($size...)

.bbradius-0
    +borderRadius(0px)

.bbradius-5
    +borderRadius(5px)

.bbradius-10
    +borderRadius(10px)

.bbradius-12
    +borderRadius(12px)

.bbradius-15
    +borderRadius(15px)

.bbradius-20
    +borderRadius(20px)

.bbradius-30
    +borderRadius(30px)

.bbradius-50
    +borderRadius(50px)

.bbradius-60
    +borderRadius(60px)

.bbradius-80
    +borderRadius(80px)

.bbradius-90
    +borderRadius(90px)

.bbradius-100pa
    +borderRadius(100%)

// parallax
.parallax-wrapper
    .parallax-custom
        background-attachment: fixed

// letter spacing
.letter-space-01
    letter-spacing: 1px
.letter-space-02
    letter-spacing: 2px
.letter-space-03
    letter-spacing: 3px