.container-filter {
    position: relative; }
    .container-filter .prev-button, .container-filter .next-button {
      cursor: pointer;
      position: absolute;
      top: 110px;
      width: 0;
      height: 0;
      border-style: solid;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      @media (max-width: 1199px) {
        .container-filter .prev-button, .container-filter .next-button {
          top: 96px; } }
      @media (max-width: 991px) {
        .container-filter .prev-button, .container-filter .next-button {
          top: 75px; } }
      @media (max-width: 540px) {
        .container-filter .prev-button, .container-filter .next-button {
          top: 50px; } }
    .container-filter .prev-button {
      left: 24px;
      border-width: 10px 16px 10px 0;
      border-color: transparent #3BA2DD transparent transparent; }
      .container-filter .prev-button:hover {
        border-color: transparent #52C3CB transparent transparent; }
      @media (max-width: 540px) {
        .container-filter .prev-button {
          border-width: 7px 12px 7px 0;
          left: 4px; } }
    .container-filter .next-button {
      right: 24px;
      border-width: 10px 0 10px 16px;
      border-color: transparent transparent transparent #3BA2DD; }
      .container-filter .next-button:hover {
        border-color: transparent transparent transparent #52C3CB; }
      @media (max-width: 540px) {
        .container-filter .next-button {
          border-width: 7px 0 7px 12px;
          right: 4px; } }
  
  .row-item {
    padding-top: 48px;
    padding-bottom: 24px;
    margin: 0px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 991px) {
      .row-item {
        padding-top: 36px; } }
    @media (max-width: 539px) {
      .row-item {
        padding-top: 24px;
        padding-bottom: 0px;
        margin: 0px; } }
    .row-item .item {
      width: 100%;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: block;
      cursor: pointer;
      position: relative;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      margin-right: 24px; }
      .row-item .item:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(54, 61, 76, 0);
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      .row-item .item:hover:before {
        background-color: rgba(54, 61, 76, 0.8); }
      @media (max-width: 1199px) {
        .row-item .item {
          height: 120px; } }
      @media (max-width: 991px) {
        .row-item .item {
          height: 100px; } }
      @media (max-width: 539px) {
        .row-item .item {
          margin-right: 0;
          height: 70px; } }
    .row-item .item-active:before {
      background-color: rgba(54, 61, 76, 0.8); }
    .row-item .item-computing {
      background-image: url("../../upload/application/item-computing.png"); }
    .row-item .item-tel {
      background-image: url("../../upload/application/item-tel.png"); }
    .row-item .item-power {
      background-image: url("../../upload/application/item-power.png"); }
    .row-item .item-title {
      white-space: nowrap;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: #ffffff;
      font-weight: bold; }
      @media (max-width: 539px) {
        .row-item .item-title {
          font-size: 12px; } }
  
  .wrap-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F5F5F5; }
  
  .container-item {
    background-color: #fff;
    margin: 0px 24px; }
    @media (max-width: 539px) {
      .container-item {
        margin: 0; } }
  
  .row-series {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px; }
    @media (max-width: 991px) {
      .row-series {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media (max-width: 767px) {
      .row-series {
        padding: 24px 48px; } }
    @media (max-width: 539px) {
      .row-series {
        padding: 12px; } }
  
  .row-series-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 24px 14% 0px; }
    @media (max-width: 1199px) {
      .row-series-content {
        padding: 24px 5% 0px; } }
    @media (max-width: 991px) {
      .row-series-content {
        padding: 24px 24px 0px; } }
    @media (max-width: 767px) {
      .row-series-content {
        padding: 12px 24px 0px; } }
    @media (max-width: 539px) {
      .row-series-content {
        padding: 8px 24px 0px; } }
    .row-series-content .product-pic {
      width: 150px; }
      .row-series-content .product-pic img {
        width: 100%; }
      @media (max-width: 539px) {
        .row-series-content .product-pic {
          margin-bottom: 16px; } }
    .row-series-content .product-title {
      padding-top: 0px;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid #363d4c; }
    @media (max-width: 991px) {
      .row-series-content ul {
        padding-left: 24px; } }
    .row-series-content li {
      width: 200px;
      color: #363d4c;
      font-size: 16px;
      font-weight: 300;
      list-style: none;
      border-bottom: 1px solid #F0F0F0;
      padding-top: 8px;
      padding-bottom: 8px; }
      .row-series-content li:last-child {
        border-bottom: none; }
      @media (max-width: 991px) {
        .row-series-content li {
          width: 150px;
          padding: 6px 0px; } }
      @media (max-width: 539px) {
        .row-series-content li {
          width: 190px;
          padding: 8px 0px; } }
    .row-series-content .col-12 {
      margin-bottom: 60px; }
      @media (max-width: 991px) {
        .row-series-content .col-12 {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 52px; } }
      @media (max-width: 767px) {
        .row-series-content .col-12 {
          margin-bottom: 40px; } }
      @media (max-width: 539px) {
        .row-series-content .col-12 {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-bottom: 16px; } }
  
  .select {
    max-width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #3BA2DD;
    color: #3BA2DD;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    height: 60px;
    margin-right: 16px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .select:last-child {
      margin: 0; }
    .select:hover {
      background-color: #3BA2DD;
      color: #ffffff;
      border: 1px solid #3BA2DD; }
    @media (max-width: 991px) {
      .select {
        max-width: 210px; }
        .select:nth-child(3) {
          margin-right: 0; }
        .select:nth-child(n+4) {
          margin-top: 16px; } }
    @media (max-width: 767px) {
      .select {
        max-width: 190px; }
        .select:nth-child(2n) {
          margin-right: 0px; }
        .select:nth-child(3) {
          margin-right: 16px; }
        .select:nth-child(n+3) {
          margin-top: 16px; } }
    @media (max-width: 539px) {
      .select {
        max-width: 48%;
        height: 40px;
        margin-right: 8px; }
        .select:nth-child(2n) {
          margin-right: 0px; }
        .select:nth-child(3) {
          margin-right: 8px; }
        .select:nth-child(n+3) {
          margin-top: 8px; }
        .select p {
          font-size: 12px;
          line-height: 14px; } }
  
  .select-active {
    background-color: #3BA2DD;
    color: #ffffff; }
  