@charset "UTF-8";
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

.text-base {
  color: #1c62a5;
}

@media (min-width: 1281px) {
  .container-medium {
    max-width: 1510px;
  }
}

html, body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, Noto Sans CJK TC, "Noto Sans CJK TC", 微軟正黑體, "微軟正黑體", Microsoft JhengHei, "Microsoft JhengHei", sans-serif;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: #363d4c;
}

@media (min-width: 1281px) {
  html, body {
    letter-spacing: 1px;
  }
}

@media (max-width: 1199px) {
  html, body {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  html, body {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  html, body {
    font-size: 13px;
  }
}

p {
  line-height: 1.5em;
}

a {
  color: #3ba2dd;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: #52c3cb;
}

img {
  max-width: 100%;
}

.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.mh-60vh {
  min-height: 60vh;
}

.text-colored {
  color: #1c62a5;
}

.shadow-0 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.shadow-5 {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
}

.shadow-10 {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
}

.shadow-15 {
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.35);
}

.shadow-20 {
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.35);
}

.shadow-30 {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
}

.shadow-cc, .ceri-item .img {
  -webkit-box-shadow: 0px 1px 15px 0px rgba(54, 61, 76, 0.25);
  -moz-box-shadow: 0px 1px 15px 0px rgba(54, 61, 76, 0.25);
  box-shadow: 0px 1px 15px 0px rgba(54, 61, 76, 0.25);
}

.cms-table-wrap {
  overflow-x: auto;
}

.pic img {
  margin: 0 auto;
}

.bbradius-0, .pagination .page-item .page-link, .cc-control select, .cc-control .select, .btn-submenu, .prod-detail-info-wrap .nav-link, #news-tabs-wrap .nav-link, .contact-cata-wrap button.contactBtn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.bbradius-5, .search-wrap .search-form {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.bbradius-10, .cc-control .btn-control, #btn-close-mainmenu #cross>span {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.bbradius-12 {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
}

.bbradius-15 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}

.bbradius-20 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.bbradius-30 {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

.bbradius-50 {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
}

.bbradius-60 {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -o-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
}

.bbradius-80 {
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -o-border-radius: 80px;
  -ms-border-radius: 80px;
  border-radius: 80px;
}

.bbradius-90 {
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -o-border-radius: 90px;
  -ms-border-radius: 90px;
  border-radius: 90px;
}

.bbradius-100pa, .btn-cc .btn-arrow {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}

.parallax-wrapper .parallax-custom {
  background-attachment: fixed;
}

.letter-space-01 {
  letter-spacing: 1px;
}

.letter-space-02 {
  letter-spacing: 2px;
}

.letter-space-03 {
  letter-spacing: 3px;
}

.container-cc, .row-cc {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  max-width: 1344px;
  position: relative;
}

@media all and (max-width: 572px) {
  .container-cc, .row-cc {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.pl-0 {
  padding-left: 0;
}

.pic img {
  display: block;
  max-width: 100%;
  margin: auto;
}

.arrow-cc {
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: calc(50% - 3px);
  border-left: 1px solid #3ba2dd;
  border-bottom: 1px solid #3ba2dd;
}

.btn-cc {
  display: inline-block;
  vertical-align: middle;
  margin: 2rem 0;
  font-size: 1.125rem;
}

.btn-cc.btn-cc01 {
  color: #62708c;
}

.btn-cc .btn-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 6px solid #c5d2eb;
  margin-right: 1.125rem;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 1.25s ease;
  -mos-transition: all 1.25s ease;
  -o-transition: all 1.25s ease;
  -ms-transition: all 1.25s ease;
  transition: all 1.25s ease;
}

.btn-cc .btn-arrow .arrow-cc-down {
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  border-left: 1px solid #c5d2eb;
  border-bottom: 1px solid #c5d2eb;
}

@media all and (max-width: 575px) {
  .btn-cc .btn-arrow {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
  }
}

.btn-cc:hover, .btn-cc.btn-cc02:hover, .btn-cc.btn-cc01:hover {
  color: #52c3cb;
}

.btn-cc:hover .btn-arrow, .btn-cc.btn-cc02:hover .btn-arrow, .btn-cc.btn-cc01:hover .btn-arrow {
  animation: animationFlip linear 0.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFlip linear 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFlip linear 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFlip linear 0.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFlip linear 0.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  border-color: #52c3cb;
  -webkit-transition: all 1.25s ease;
  -mos-transition: all 1.25s ease;
  -o-transition: all 1.25s ease;
  -ms-transition: all 1.25s ease;
  transition: all 1.25s ease;
}

.btn-cc.btn-cc02 .btn-arrow {
  border: 6px solid #3ba2dd;
}

.btn-cc.btn-cc02 .btn-arrow .arrow-cc-right {
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 5px);
  border-left: 1px solid #3ba2dd;
  border-bottom: 1px solid #3ba2dd;
}

.btn-cc .btn-word {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}

.list_pic li {
  list-style-image: url(../../../upload/about/about-04.svg);
  font-size: 22px;
}

.btn-h-base {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  text-align: center;
  color: #3ba2dd;
  border: 1px solid #3ba2dd;
}

.btn-contact {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  text-align: center;
  color: #ffffff;
  background-color: #3ba2dd;
  margin-right: 1rem;
}

.btn-contact:hover {
  color: #ffffff;
  background-color: #52C3CB
}

table th, table td {
  vertical-align: middle;
  padding: 1rem 0.5rem;
}

.table th, .table td {
  vertical-align: middle;
  padding: 1rem 0.5rem;
}

.table tr th {
  font-weight: bold;
  border-top: 0;
  border-bottom: 2px solid #363d4c;
}

.table tr td {
  border-bottom: 1px solid #c5d2eb;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #c5d2eb;
  font-size: 1.125rem;
}

.table-bordered tr th:first-child {
  background: #1c62a5;
  color: white;
  border: 1px solid #c5d2eb;
}

.table-fixed {
  table-layout: fixed;
}

.table-fixed td, .table-fixed th {
  text-align: center;
}

.submenu-list-wrap {
  position: relative;
  z-index: 5;
  -webkit-transform: translate(0, -45%);
  -mos-transform: translate(0, -45%);
  -o-transform: translate(0, -45%);
  -ms-transform: translate(0, -45%);
  transform: translate(0, -45%);
}

.submenu-list-wrap .submenu-list {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
  box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
}

.submenu-list-wrap .submenu-list a {
  background-color: white;
  padding: 1.75rem 2rem;
  font-size: 1.125rem;
  color: #363d4c;
  border: 1px solid #c5d2eb;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.submenu-list-wrap .submenu-list a:hover, .submenu-list-wrap .submenu-list a:active, .submenu-list-wrap .submenu-list a:focus {
  background-color: #1c62a5;
  color: white;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media all and (max-width: 991px) {
  .submenu-list-wrap .submenu-list a {
    padding: 1rem 1.5rem;
  }
}

@media all and (max-width: 767px) {
  .submenu-list-wrap .submenu-list {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
  }
  .submenu-list-wrap .submenu-list.opened {
    z-index: 1;
    max-height: 999px;
  }
  .submenu-list-wrap .submenu-list a {
    min-width: 220px;
    padding: 1rem 1.5rem;
  }
  .submenu-list-wrap .btn-submenu-list.opened {
    max-height: 999px;
  }
}

.pagination .page-item {
  padding: 0 0.5rem;
}

.pagination .page-item .page-link {
  color: #2895d2;
  border: none;
  padding: 0.35rem 0.5rem;
  font-size: 1.25rem;
}

.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus, .pagination .page-item .page-link.active, .pagination .page-item .page-link.current {
  color: #363d4c;
  background: #c5d2eb;
  background-color: #c5d2eb;
}

.smartphoto {
  background: rgba(28, 98, 165, 0.95);
}

.list {
  padding-left: 1.5rem !important;
}

.list li {
  position: relative;
}

.list li b {
  color: #1c62a5;
}

.list li:before {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  background: #1c62a5;
  position: absolute;
  top: calc(1em - 2px);
  left: -0.75rem;
}

/* .cc-control {
  /* Reset Select */

/* Custom Select */

/* Arrow */

.cc-control select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}

.cc-control .select {
  position: relative;
  display: inline-block;
  min-width: 11rem;
  height: 3rem;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border: 1px solid #c5d2eb;
}

.cc-control select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 2rem 0 0.75rem;
  color: #363d4c;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.cc-control select::-ms-expand {
  display: none;
}

.cc-control .select::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -mos-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0 0.75rem;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  color: #3ba2dd;
  pointer-events: none;
}

.cc-control .btn-control {
  height: 3rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  background: #3ba2dd;
  border: 5px solid #3ba2dd;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cc-control .btn-control:hover, .cc-control .btn-control:focus, .cc-control .btn-control:active {
  background: #1c62a5;
  border: 5px solid #1c62a5;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cc-control .btn-control.btn-h-control {
  background: #fff;
  color: #363d4c;
}

.cc-control .btn-control.btn-h-control:hover, .cc-control .btn-control.btn-h-control:focus, .cc-control .btn-control.btn-h-control:active {
  background: #e6ecee;
}

@keyframes animationFlip {
  50% {
    transform: rotateY(180deg) scale(0.96);
  }
  100% {
    transform: rotateY(360deg) scale(1);
  }
}

@-moz-keyframes animationFlip {
  50% {
    -moz-transform: rotateY(180deg) scale(0.96);
  }
  100% {
    -moz-transform: rotateY(360deg) scale(1);
  }
}

@-webkit-keyframes animationFlip {
  50% {
    -webkit-transform: rotateY(180deg) scale(0.96);
  }
  100% {
    -webkit-transform: rotateY(360deg) scale(1);
  }
}

@-o-keyframes animationFlip {
  50% {
    -o-transform: rotateY(180deg) scale(0.96);
  }
  100% {
    -o-transform: rotateY(360deg) scale(1);
  }
}

@-ms-keyframes animationFlip {
  50% {
    -ms-transform: rotateY(180deg) scale(0.96);
  }
  100% {
    -ms-transform: rotateY(360deg) scale(1);
  }
}

@keyframes animationFlip_longterm {
  47% {
    transform: rotateY(0deg) scale(1);
  }
  50% {
    transform: rotateY(180deg) scale(0.95);
  }
  55% {
    transform: rotateY(0deg) scale(1);
  }
}

@-moz-keyframes animationFlip_longterm {
  47% {
    -moz-transform: rotateY(0deg) scale(1);
  }
  50% {
    -moz-transform: rotateY(180deg) scale(0.95);
  }
  55% {
    -moz-transform: rotateY(0deg) scale(1);
  }
}

@-webkit-keyframes animationFlip_longterm {
  47% {
    -webkit-transform: rotateY(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotateY(180deg) scale(0.95);
  }
  55% {
    -webkit-transform: rotateY(0deg) scale(1);
  }
}

@-o-keyframes animationFlip_longterm {
  47% {
    -o-transform: rotateY(0deg) scale(1);
  }
  50% {
    -o-transform: rotateY(180deg) scale(0.95);
  }
  55% {
    -o-transform: rotateY(0deg) scale(1);
  }
}

@-ms-keyframes animationFlip_longterm {
  47% {
    -ms-transform: rotateY(0deg) scale(1);
  }
  50% {
    -ms-transform: rotateY(180deg) scale(0.95);
  }
  55% {
    -ms-transform: rotateY(0deg) scale(1);
  }
}

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 0;
  max-width: 75vw;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  background: #1c62a5;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-menu>.container {
  padding: 3.75rem 0;
}

.main-menu ul {
  padding: 0;
  list-style: none;
}

.main-menu .menu-list {
  padding: 2.5rem 2.5rem 2.5rem 3rem;
  opacity: 0;
}

.main-menu .menu-list li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.main-menu .menu-list a {
  font-size: 1.25rem;
}

.main-menu .menu-list a:hover, .main-menu .menu-list a.current, .main-menu .menu-list a.active {
  opacity: 0.7;
}

.main-menu .menu-list a:not([href]):not([tabindex]) {
  cursor: pointer;
  color: white;
}

@media all and (max-width: 1140px) {
  .main-menu .menu-list a:hover, .main-menu .menu-list a.current, .main-menu .menu-list a.active, .main-menu .menu-list a.focus {
    color: #adb8cc;
  }
}

.main-menu .menu-list ul li a.current, .main-menu .menu-list ul li a.active {
  opacity: 0.9;
  color: #52c3cb;
}

.main-menu .menu-list .main-submenu {
  max-height: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #c5d2eb;
}

.main-menu .menu-list .btn-main-submenu.opened+.main-submenu {
  max-height: 999px;
}

#btn-close-mainmenu {
  padding-top: 2rem;
  padding-left: 3rem;
  cursor: pointer;
}

#btn-close-mainmenu:hover, #btn-close-mainmenu:focus {
  opacity: 0.7;
}

#btn-close-mainmenu>* {
  display: inline-block;
  vertical-align: middle;
}

#btn-close-mainmenu .h-link-text {
  margin-left: 0;
  color: white;
}

#btn-close-mainmenu #cross {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
}

#btn-close-mainmenu #cross>span {
  display: block;
  position: absolute;
  top: 22px;
  left: 0;
  width: 36px;
  height: 3px;
  background: white;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 1s ease;
  -mos-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#btn-close-mainmenu #cross>span:first-child {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

#main-menu-close {
  width: 0;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -99;
  background: rgba(0, 0, 0, 0.3);
}

#main-menu-close:before, #main-menu-close:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 0;
  height: 100%;
  -webkit-transform: translate(100%, 0);
  -mos-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

#main-menu-close:before {
  background: rgba(28, 98, 165, 0.1);
}

#main-menu-close:after {
  background: rgba(28, 98, 165, 0.1);
}

body.menu-opened {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

body.menu-opened #main-menu-close {
  display: block;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}

body.menu-opened #main-menu-close:before, body.menu-opened #main-menu-close:after {
  width: 100%;
  height: 100%;
}

body.menu-opened #main-menu-close:before {
  -webkit-transform: translate(0, 0);
  -mos-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.75s ease;
  -mos-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

body.menu-opened #main-menu-close:after {
  -webkit-transform: translate(0, 0);
  -mos-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.45s ease-in;
  -mos-transition: all 0.45s ease-in;
  -o-transition: all 0.45s ease-in;
  -ms-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

body.menu-opened #main-menu {
  width: 460px;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
}

body.menu-opened #main-menu .menu-list {
  opacity: 1;
  overflow-y: auto;
  max-height: calc(100vh - 80px - 3rem);
}

body.menu-opened #btn-close-mainmenu #cross>span {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
  -webkit-transition: all 0.35s cubic-bezier(0.66, -0.21, 0.38, 1.17) 0.25s;
  -mos-transition: all 0.35s cubic-bezier(0.66, -0.21, 0.38, 1.17) 0.25s;
  -o-transition: all 0.35s cubic-bezier(0.66, -0.21, 0.38, 1.17) 0.25s;
  -ms-transition: all 0.35s cubic-bezier(0.66, -0.21, 0.38, 1.17) 0.25s;
  transition: all 0.35s cubic-bezier(0.66, -0.21, 0.38, 1.17) 0.25s;
}

body.menu-opened #btn-close-mainmenu #cross>span:first-child {
  -webkit-transform: rotate(-42deg);
  -moz-transform: rotate(-42deg);
  -ms-transform: rotate(-42deg);
  -o-transform: rotate(-42deg);
  transform: rotate(-42deg);
}

#btn-main-menu {
  position: relative;
  color: #e6ecee;
  overflow: hidden;
}

#btn-main-menu .collapse-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}

#btn-main-menu .collapse-button>span {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

#btn-main-menu .collapse-button .icon-bar {
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: block;
  height: 3px;
  width: 36px;
  margin: 5px 0;
  position: relative;
}

#btn-main-menu .collapse-button .icon-bar:nth-child(2) {
  width: 24px;
  margin-left: 12px;
}

@media all and (min-width: 1000px) {
  #btn-main-menu {
    cursor: pointer;
    margin-right: 4rem;
    margin-left: 1rem;
  }
}

@media all and (min-width: 1281px) {
  #btn-main-menu:hover .collapse-button .icon-bar {
    -webkit-transition: all 0.3s ease;
    -mos-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #48bde1;
  }
}

@media all and (max-width: 991px) {
  #btn-main-menu {
    color: #3ba2dd;
  }
  #btn-main-menu .collapse-button .icon-bar {
    background-color: #3ba2dd;
  }
}

@media all and (max-width: 480px) {
  #btn-main-menu .h-link-text {
    display: none;
  }
}

.main-header {
  background-color: transparent;
  padding: 1.35rem 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.main-header a {
  color: #e6ecee;
}

.main-header .logo-word {
  margin-left: 1rem;
  margin-bottom: 0;
}

.main-header .logo-word>span {
  word-break: keep-all;
  font-size: 13px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
  color: #3ba2dd;
}

.main-header .logo-word>span:first-child {
  font-size: 1.25rem;
  color: #1c62a5;
}

@media all and (max-width: 575px) {
  .main-header .logo-word>span {
    text-shadow: 0;
  }
}

.main-header .logo-word span {
  word-break: keep-all;
}

.main-header .main-menu01 {
  position: relative;
}

.main-header .main-menu01 ul {
  list-style-type: none;
  margin: 0;
  padding: 0 2rem 0 0;
}

.main-header .main-menu01 ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}

.main-header .main-menu01 ul li a {
  font-size: 1.25rem;
  color: #e6ecee;
  /* text-align: right; */
  text-shadow: 1.414px 1.414px 2px rgba(0, 0, 0, 0.35);
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-header .main-menu01 ul li a:hover, .main-header .main-menu01 ul li a:active, .main-header .main-menu01 ul li a:focus, .main-header .main-menu01 ul li a.active {
  color: #3ba2dd;
}

.main-header .main-menu01:after {
  content: "|";
  position: absolute;
  right: 1rem;
  top: 0;
  color: #62708c;
}

.main-header .main-h-link, .main-header .h-link-text {
  display: inline-block;
  vertical-align: middle;
}

.main-header .h-link-text {
  font-size: 1.125rem;
  margin-left: 1rem;
  text-decoration: none;
}

@media all and (min-width: 1000px) {
  .main-header .main-h-link:hover .h-link-text, .main-header .main-h-link:focus .h-link-text {
    color: #48bde1;
    text-decoration: none;
  }
}

@media all and (min-width: 1281px) {
  .main-header {
    padding: 2.5rem 0;
  }
}

@media all and (max-width: 991px) {
  .main-header {
    position: static;
    background: #f5f5f5;
  }
  .main-header .logo-pic img {
    width: 100px;
  }
}

@media all and (max-width: 572px) {
  .main-header .logo-pic img {
    width: 80px;
  }
}

@media all and (max-width: 414px) {
  .main-header .logo-word>span:first-child {
    font-size: 1rem;
  }
  .main-header .logo-word>span {
    font-size: 12px;
  }
  .main-header .logo-pic img {
    width: 74px;
  }
}

.main-menu02>div {
  margin-left: 0.75rem;
  padding: 0 0.5rem;
}

.lang-wrap {
  position: relative;
}

.lang-wrap .btn-lang {
  cursor: pointer;
  color: #e6ecee;
}

.lang-wrap .lang-list {
  width: 5rem;
  position: absolute;
  top: 1.25em;
  right: 0;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  background: rgba(28, 98, 165, 0.75);
}

.lang-wrap .lang-list a {
  display: block;
  padding: 0.5rem 0.5em;
  text-align: center;
}

.lang-wrap .lang-list a:hover, .lang-wrap .lang-list a:focus {
  color: #1c62a5;
  background: #fff;
}

.lang-wrap.m-lang-wrap {
  margin-bottom: 1.5rem;
}

.lang-wrap.m-lang-wrap #m-btn-lang {
  cursor: pointer;
  color: white;
}

.lang-wrap.m-lang-wrap .lang-list {
  position: static;
  width: auto;
  margin-top: 1rem;
  margin-bottom: 0 !important;
}

.lang-wrap.m-lang-wrap .lang-list li {
  margin-bottom: 0 !important;
}

.lang-wrap.m-lang-wrap .lang-list li.active {
  background: rgba(59, 162, 221, 0.5);
}

.lang-wrap.m-lang-wrap .lang-list li a {
  font-size: 1rem;
}

@media all and (min-width: 1200px) {
  .lang-wrap:hover .lang-list {
    max-height: 800px;
  }
}

.lang-opened .lang-list {
  max-height: 800px;
}

.search-wrap {
  position: relative;
}

.search-wrap .search-form {
  width: 280px;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -0.25rem;
  z-index: -99;
  background: #1c62a5;
  padding: 0;
  -webkit-transition: opacity 0.3s ease;
  -mos-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.search-wrap .search-form .btn-search, .search-wrap .search-form #search-button {
  padding: 0.5rem 0.75rem;
}

.search-wrap .search-form .btn-search:hover, .search-wrap .search-form #search-button:hover {
  color: #52c3cb;
}

.search-wrap .search-form input {
  background: rgba(255, 255, 255, 0.95);
}

.search-wrap:hover .search-form {
  -webkit-transition: opacity 0.5s ease;
  -mos-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  max-height: 800px;
  padding: 0.5rem 0 0.5rem 0.75rem;
  opacity: 1;
  z-index: 1;
}

.job104 {
  color: #FF7802;
  border: 1px solid #FF7802;
  letter-spacing: 1.5px;
  border-radius: 3.5px;
  padding: 4px 20px;
  font-weight: 300;
  font-family: "微軟正黑體";
  font-size: 15px;
  display: block;
  text-align: center;
  margin-bottom: 0px;
  width: 158px;
  margin-top: 8px;
}

.job104:hover {
  color: white;
  background-color: #FF7802;
}

.job104:active {
  background-color: #e66b00;
}

.company_name {
  color: #1B63A5;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}

@media all and (max-width: 575px) {
  .company_name {
    text-shadow: 0;
  }
}

.company_name_en {
  color: #3ba2dd;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}

.m-search-wrap input {
  margin-top: 1px;
  margin-bottom: 1px;
}

.m-search-wrap .btn-search {
  border: 1px solid rgba(255, 255, 255, 0.95);
  margin-left: 0.25rem;
  padding: 0.25rem 1rem;
  margin: 0 0 1.5rem 0.25rem;
}

.m-search-wrap .btn-search:hover {
  opacity: 0.7;
}

.main__dropmenu__wrap:hover .main__dropmenu {
  display: block;
  max-height: 9999px;
  opacity: 1;
  -webkit-transition: opacity 0.35 ease;
  -mos-transition: opacity 0.35 ease;
  -o-transition: opacity 0.35 ease;
  -ms-transition: opacity 0.35 ease;
  transition: opacity 0.35 ease;
}

.main__dropmenu {
  display: none;
  position: absolute;
  white-space: nowrap;
  left: 0;
  bottom: 0;
  padding-top: 0.5rem !important;
	padding-left: 1rem !important;
  -webkit-transform: translate(0, 100%);
  -mos-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  max-height: 0;
  /* overflow: hidden; */
  opacity: 0;
  -webkit-transition: opacity 0.35 ease;
  -mos-transition: opacity 0.35 ease;
  -o-transition: opacity 0.35 ease;
  -ms-transition: opacity 0.35 ease;
  transition: opacity 0.35 ease;
}

.main__dropmenu__item {
  display: block !important;
}
  .main__dropmenu__item > a , .main__dropmenu__item > .wrap__dropmenu__subitem > a {
    display: block;
    padding: 0.75rem 1rem !important;
    background-color: rgba(28, 98, 165, 0.75);
    text-align: left !important;
    -webkit-transition: all 0.3s ease;
    -mos-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #e6ecee !important; }
    .main__dropmenu__item > a:hover , .main__dropmenu__item > .wrap__dropmenu__subitem > a:hover{
      background-color: white;
      text-shadow: none !important;
      color: #1c62a5 !important;
      -webkit-transition: all 0.3s ease;
      -mos-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }

    .main__dropmenu__item > .wrap__dropmenu__subitem > i {
      position: absolute;
      color: #e6ecee !important;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }

    .wrap__dropmenu__subitem:hover i{
      color: #1c62a5 !important;
    }

.sub__dropmenu__item{
  display: block !important;
  /* padding: 0.75rem 1rem !important; */
  background-color: rgba(21, 85, 145, 0.8);
  text-align: left !important;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #e6ecee !important;
}
.main-header .main-menu01 ul li .sub__dropmenu__item:hover{
  background-color: white;
}
.main-header .main-menu01 ul li .sub__dropmenu__item:hover a{
  color: #1c62a5
}

.main-menu01 ul li .sub__dropmenu__item a{
  padding-left: 0;
  padding-right: 0;
  color: #e6ecee;
}
.main__dropmenu__item > .wrap__dropmenu__subitem > .dropmenu__subitem {
  padding: 0.75rem 1.75rem 0.75rem 1rem !important;
}

.wrap__dropmenu__subitem:hover .sub__dropmenu{
  display: block !important;
}

.wrap__dropmenu__subitem{
  position: relative;
}

.main-header .main-menu01 ul .sub__dropmenu{
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0;
  font-size: 1.25rem;
  display: none;
}

body:not(.inner-page) .btn__main__dropmenu {
  font-size: 1.25rem;
  color: #e6ecee;
  text-shadow: 1.414px 1.414px 2px rgba(0, 0, 0, 0.35);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.main__dropmenu__wrap:hover body:not(.inner-page) .btn__main__dropmenu {
  color: #3ba2dd;
}
body.inner-page .btn__main__dropmenu {
	display: block;
	color: #363d4c;
	text-shadow: none;
	padding: 2.35rem 1rem;
	position: relative;
	z-index: 1;
	font-size: 1.25rem;
}
.inner-page .main-header>div:not(#main-menu) .main-menu01 .btn__main__dropmenu a {
	padding: 0;
  display: contents;
  color: #363d4c;
}
body.inner-page .btn__main__dropmenu {
  display: block;
  color: #363d4c;
  text-shadow: none;
  padding: 2.35rem 1rem;
  position: relative;
  z-index: 1;
  font-size: 1.25rem;
}

body.inner-page .btn__main__dropmenu:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: #3ba2dd;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body.inner-page .main__dropmenu__wrap:hover .btn__main__dropmenu {
  color: #3ba2dd;
}

body.inner-page .main__dropmenu__wrap:hover .btn__main__dropmenu:before {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body.inner-page .main__dropmenu {
  padding-top: 0 !important;
}

.footer {
  position: relative;
  border-top: 1.75rem solid #f5f5f5;
  color: #62708c;
}

.footer .footer-logo {
  width: 209px;
  max-width: 100%;
  margin-bottom: 1rem;
  padding-top: 2px;
}

.footer .footer-info {
  padding: 3rem 0 1rem 0;
}

.footer .f-office-title:after {
  content: ": ";
}

.footer .footer-office {
  padding-right: 1rem;
}

.footer .footer-office ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .footer-office ul li {
  font-size: 1rem;
  line-height: 2em;
}

.footer .footer-office ul li a {
  color: #62708c;
}

.footer .subfooter {
  font-size: 0.88rem;
  padding: 1em 0;
}

.footer .subfooter a {
  color: #62708c;
}

.footer .pagetopbtn {
  cursor: pointer;
  opacity: 0.7;
  z-index: 888;
}

.footer .pagetopbtn:hover, .footer .pagetopbtn:active, .footer .pagetopbtn:focus {
  opacity: 1;
}

.footer .pagetopbtn .icon-cc {
  width: 7px;
  height: 7px;
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  border-left: 1px solid #c5d2eb;
  border-bottom: 1px solid #c5d2eb;
}

.footer .pagetopbtn .icon-cc.icon-arrow-up {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

@media all and (max-width: 1280px) {
  .footer .footer-logo {
    width: 160px;
  }
}

@media all and (max-width: 991px) {
  .footer .footer-logo {
    width: 120px;
  }
}

@media all and (max-width: 575px) {
  .footer .footer-office {
    margin-top: 0.5em;
    border-top: 1px solid rgba(197, 210, 235, 0.5);
  }
}

.inner-page {
  background: #fff;
}

.inner-page .main-header {
  position: fixed;
  background: #fff;
  padding: 0;
  z-index: 20;
}

.inner-page .main-header.nav-scroll {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0.5rem;
	transition: 0.5s;
}

.inner-page .main-header.nav-ontop {
	background: #fff;
	/* padding: 1.35rem 0; */
	transition: 0.5s;
}

.inner-page .main-header>div:not(#main-menu) a, .inner-page .main-header>div:not(#main-menu) .lang-wrap .btn-lang, .inner-page .main-header>div:not(#main-menu) #btn-main-menu {
  color: #363d4c;
}

.inner-page .main-header>div:not(#main-menu) a:hover, .inner-page .main-header>div:not(#main-menu) a:active, .inner-page .main-header>div:not(#main-menu) a:focus, .inner-page .main-header>div:not(#main-menu) a.active, .inner-page .main-header>div:not(#main-menu) .lang-wrap .btn-lang:hover, .inner-page .main-header>div:not(#main-menu) .lang-wrap .btn-lang:active, .inner-page .main-header>div:not(#main-menu) .lang-wrap .btn-lang:focus, .inner-page .main-header>div:not(#main-menu) .lang-wrap .btn-lang.active, .inner-page .main-header>div:not(#main-menu) #btn-main-menu:hover, .inner-page .main-header>div:not(#main-menu) #btn-main-menu:active, .inner-page .main-header>div:not(#main-menu) #btn-main-menu:focus, .inner-page .main-header>div:not(#main-menu) #btn-main-menu.active {
  color: #3ba2dd;
}

.inner-page .main-header>div:not(#main-menu) .lang-wrap .lang-list {
  background: white;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(54, 61, 76, 0.35);
  -moz-box-shadow: 0px 0px 24px 0px rgba(54, 61, 76, 0.35);
  box-shadow: 0px 0px 24px 0px rgba(54, 61, 76, 0.35);
}

.inner-page .main-header>div:not(#main-menu) .logo-pic img {
  width: 100px;
}

.inner-page .main-header>div:not(#main-menu) .main-menu01:after {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -mos-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a {
  display: block;
  color: white;
  text-shadow: none;
  padding: 1rem 1rem;
  position: relative;
  z-index: 1;
}

.inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a:hover, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a:active, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a:focus, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a.active, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a.current {
  color: #3ba2dd;
}

.inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: #3ba2dd;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a:hover, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a:active, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a:focus, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a.active, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a.current {
  color: #3ba2dd;
}

.inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a:hover:before, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a:active:before, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a:focus:before, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a.active:before, .inner-page .main-header>div:not(#main-menu) .main-menu01 ul li a.current:before {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.inner-page #btn-main-menu .collapse-button .icon-bar {
  background-color: #363d4c;
}

.inner-page #btn-main-menu:hover .collapse-button .icon-bar {
  background-color: #3ba2dd;
}

@media all and (max-width: 1199px) {
  .inner-page .main-header {
    padding: 1.25rem 0;
  }
}

.page-aside {
  position: fixed;
  right: 0;
  z-index: -999;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -mos-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: opacity 1.75s ease;
  -mos-transition: opacity 1.75s ease;
  -o-transition: opacity 1.75s ease;
  -ms-transition: opacity 1.75s ease;
  transition: opacity 1.75s ease;
}

.page-aside a {
  display: block;
  text-align: right;
  color: #2895d2;
  padding: 0.75rem 1.8rem 0.75rem 0;
  position: relative;
  margin-bottom: 2px;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page-aside a:before {
  content: "";
  display: block;
  width: 6px;
  height: 100%;
  background: #2895d2;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page-aside a:first-child {
  color: #1c62a5;
}

.page-aside a:first-child:before {
  background: #1c62a5;
}

.page-aside a:hover {
  padding-right: 2.2rem;
  -webkit-transition: all 1s ease;
  -mos-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.page-aside a:hover:before {
  width: 1rem;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page-aside.active {
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 1.5s ease;
  -mos-transition: opacity 1.5s ease;
  -o-transition: opacity 1.5s ease;
  -ms-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

.page-aside02 .btn-m-aside-trigger {
  margin-bottom: 1rem;
  min-width: 200px;
  line-height: 2.5rem;
  font-size: 1.25rem;
  background: #c5d2eb;
  cursor: pointer;
}

.page-aside02 .aside-title {
  font-size: 1.5rem;
  color: #1c62a5;
}

.page-aside02 .aside-title:not(:first-child) {
  margin-top: 1.5rem;
}

.page-aside02 .aside02-list {
  margin-bottom: 2rem;
}

.page-aside02 ul {
  list-style-type: none;
  padding-left: 0;
}

.page-aside02 ul li {
  font-size: 1.125rem;
}

.page-aside02 ul a {
  color: #62708c;
  line-height: 1.75em;
}

.page-aside02 ul a:hover, .page-aside02 ul a:focus, .page-aside02 ul a.active {
  color: #2895d2;
}

.page-aside02 ul .fas {
  line-height: 1.75em;
}

@media all and (max-width: 991px) {
  .page-aside02 .aside02-list {
    max-height: 0;
    overflow: hidden;
    padding: 0 0.5rem;
    background: #f5f5f5;
    -webkit-transition: all 0.3s ease;
    -mos-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .page-aside02 .aside02-list.opened {
    max-height: 3999px;
    padding: 0.5rem;
    -webkit-transition: all 0.3s ease;
    -mos-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

#inbn_particlesR {
  width: 20%;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

#inbn_particlesL {
  width: 20%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.in-banner {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.in-banner .bn-content {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #c5d2eb;
  font-size: 1.125rem;
  line-height: 1.5em;
}

.in-banner .bn-page-title {
  font-size: 3.75rem;
  line-height: 1em;
  font-weight: bold;
  color: #62708c;
  margin-bottom: 0.5em;
  letter-spacing: 4px;
}

.in-banner .breadcrumb-wrap {
  position: absolute;
  bottom: -4.5em;
  left: 0;
}

.in-banner .breadcrumb-wrap .breadcrumb {
  background: none;
  font-size: 0.875rem;
  padding: 0;
}

.in-banner .breadcrumb-wrap .breadcrumb-item a {
  color: #62708c;
}

@media all and (max-width: 1440px) {
  .in-banner {
    background-position: 28% center;
  }
  .in-banner #inbn_particlesR {
    width: 40%;
    height: 400px;
  }
}

@media all and (max-width: 991px) {
  .in-banner {
    background-position: 35% center;
  }
  .in-banner #inbn_particlesR {
    width: 50%;
    height: 400px;
  }
}

@media all and (max-width: 640px) {
  .in-banner {
    background-position: 45% center;
  }
  .in-banner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .in-banner #inbn_particlesR {
    opacity: 0.5;
  }
}

@media all and (max-width: 575px) {
  .in-banner #inbn_particlesR {
    display: none;
  }
}

.inner-main {
  min-height: calc(100vh - 700px);
}

.btn-submenu {
  position: relative;
  width: 280px;
  text-align: left;
  background: white;
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
  box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
  padding: 1rem 1.5rem;
  border: 1px solid #c5d2eb;
}

.btn-submenu .arrow-cc {
  right: 1rem;
}

.btn-submenu+div {
  position: relative;
}

.btn-submenu:focus {
  outline: 0;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 3, 51, 0.1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 3, 51, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 3, 51, 0.1);
}

@media all and (max-width: 767px) {
  .btn-submenu .btn-submenu-list.opened {
    z-index: 1;
    max-height: 999px;
  }
}

.submenu-wrap {
  position: relative;
  z-index: 5;
  -webkit-transform: translate(0, -45%);
  -mos-transform: translate(0, -45%);
  -o-transform: translate(0, -45%);
  -ms-transform: translate(0, -45%);
  transform: translate(0, -45%);
}

.submenu-wrap .submenu-list {
  width: 240px;
  position: absolute;
  top: 0;
  max-height: 0;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
  box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
}

.submenu-wrap .submenu-list a {
  display: block;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  padding: 1rem 1.5rem;
}

.submenu-wrap .submenu-list a:hover, .submenu-wrap .submenu-list a:focus, .submenu-wrap .submenu-list a:active, .submenu-wrap .submenu-list a.active {
  background: #f5f5f5;
  color: #52c3cb;
}

.submenu-wrap .submenu-list.opened {
  max-height: 999px;
}

.cate-sub-nav a {
  display: inline-block;
  vertical-align: middle;
  margin: 0.35rem;
  padding: 0.35rem 1rem;
  color: #1c62a5;
  font-size: 1.25rem;
  min-width: 100px;
  text-align: center;
  border: 1px solid #c5d2eb;
}

.cate-sub-nav a:hover, .cate-sub-nav a:focus, .cate-sub-nav a.active {
  border-color: #1c62a5;
  background: #2895d2;
  color: white;
}

.detail-wrap {
  padding-top: 6.25rem;
}

.detail-wrap h1 {
  font-size: 2rem;
  line-height: 1.5em;
}

.detail-wrap img {
  max-width: 100%;
}

@media all and (max-width: 1199px) {
  .detail-wrap {
    padding-top: 4rem;
  }
  .detail-wrap h1 {
    font-size: 1.85rem;
  }
}

@media all and (max-width: 480px) {
  .detail-wrap {
    padding-top: 3rem;
  }
}

.detail-main .editor {
  overflow: auto;
}

.detail-main .editor table td, .detail-main .editor table th {
  min-width: 5em;
}

.title-design {
  border-bottom: 2px solid #1c62a5;
  padding: 0 0 0.35rem 0;
}

.table-scroller {
  overflow: auto;
  font-size: 1rem;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.main-about-01 {
  padding: 7rem 0 5rem 0;
  background-color: #f7f7f7;
}

.main-about-01 .about-img {
  z-index: 1;
}

.main-about-01 .about-img img {
  max-width: 100%;
}

.main-about-01 .about-img .about-img-1 {
  margin-top: 5rem;
}

@media all and (max-width: 1480px) {
  .main-about-01 {
    padding: 6rem 0 4rem 0;
  }
}

@media all and (max-width: 1280px) {
  .main-about-01 {
    padding: 4rem 0 3rem 0;
  }
}

@media all and (max-width: 991px) {
  .main-about-01 {
    padding: 3rem 0;
  }
}

.about-cata-wrap .about-title-01 {
  color: #1c62a5;
  font-size: 1.5rem;
  padding-top: 2rem;
  z-index: 1;
}

.about-cata-wrap .about-title-02 {
  color: #363d4c;
  font-size: 2.25rem;
  padding-top: 2rem;
  font-weight: bolder;
  position: relative;
  z-index: 1;
}

.about-cata-wrap .about-title-02:after {
  content: "";
  width: 5rem;
  height: 0.4rem;
  position: absolute;
  background-color: #1c62a5;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.about-cata-wrap .about-text {
  padding: 2rem 2rem 0 0;
  color: #363d4c;
  letter-spacing: 2px;
  line-height: 2em;
  font-size: 1.125rem;
  z-index: 1;
}

@media (max-width: 991px) {
  .about-cata-wrap .about-text {
    line-height: 1.75em;
  }
}

@media (max-width: 767px) {
  .about-cata-wrap .about-text {
    padding: 2rem 0;
  }
}

@media (max-width: 540px) {
  .about-cata-wrap .about-text {
    font-size: 1rem;
  }
}

.about-cata-wrap .about-text-02 {
  max-width: 620px;
  width: 100%;
  color: #363d4c;
  letter-spacing: 2px;
  line-height: 2em;
  font-size: 1.125rem;
  padding-top: 3rem;
  margin: 0 auto;
  text-align: left;
  z-index: 1;
}

@media (max-width: 540px) {
  .about-cata-wrap .about-text-02 {
    font-size: 1rem;
  }
}

.about-cata-wrap .about-text-03 {
  padding: 2rem;
  color: #363d4c;
  letter-spacing: 2px;
  line-height: 2em;
  font-size: 1.115rem;
  z-index: 1;
}

@media (max-width: 540px) {
  .about-cata-wrap .about-text-03 {
    font-size: 1rem;
  }
}

.main-about-02 {
  padding: 7rem 0;
}

.main-about-02 #about-02 {
  position: relative;
}

.main-about-02 #about-02:after {
  content: "";
  position: absolute;
  width: 1250px;
  height: 575px;
  background-image: url(../../../upload/about/about-03.png);
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
}

@media (max-width: 991px) {
  .main-about-02 #about-02:after {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 0;
    top: 3rem;
    z-index: -1;
  }
}

.main-about-02 .about-text {
  padding: 0.6rem 0;
  z-index: 1;
  line-height: 1.3rem;
}

.main-about-02 .about-02 {
  padding-bottom: 7rem;
  z-index: 1;
}

.main-about-02 .about-img {
  z-index: 1;
}

.main-about-02 .about-img img {
  max-width: 100%;
}

.main-about-02 .about-img .about-img-1 {
  margin-top: 5rem;
}

@media all and (max-width: 1480px) {
  .main-about-02 {
    padding: 6rem 0 5rem 0;
  }
}

@media all and (max-width: 1280px) {
  .main-about-02 {
    padding: 4rem 0;
  }
}

@media all and (max-width: 991px) {
  .main-about-02 {
    padding: 3rem 0;
  }
}

.main-about-03 {
  position: relative;
  padding-bottom: 12.5rem;
}

.main-about-03:after {
  content: "";
  position: absolute;
  width: 740px;
  height: 715px;
  background-image: url(../../../upload/about/about-05.png);
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
}

@media (max-width: 767px) {
  .main-about-03:after {
    background-size: 80%;
    background-position: 100%;
  }
}

@media (max-width: 640px) {
  .main-about-03:after {
    background-size: 70%;
  }
}

@media all and (max-width: 1480px) {
  .main-about-03 {
    padding-bottom: 10rem;
  }
}

@media all and (max-width: 1280px) {
  .main-about-03 {
    padding-bottom: 8rem;
  }
}

@media all and (max-width: 991px) {
  .main-about-03 {
    padding-bottom: 6rem;
  }
}

.main-about {
  padding: 3.75rem 0;
}

.timeline-cc {
  list-style: none;
  padding: 0;
}

.timeline-cc li {
  padding-top: 2.5rem;
}

.timeline-cc .timeline-date {
  display: inline-block;
  font-size: 1.5rem;
  color: #62708c;
  padding-right: 6rem;
  letter-spacing: 2px;
}

@media (max-width: 540px) {
  .timeline-cc .timeline-date {
    padding-right: 4rem;
  }
}

.timeline-cc .timeline-content {
  display: inline-block;
  font-size: 1.125rem;
  color: #363d4c;
  position: relative;
  padding-left: 3rem;
}

@media (max-width: 540px) {
  .timeline-cc .timeline-content {
    font-size: 1rem;
    padding-left: 0;
  }
}

.timeline-cc .timeline-content p {
  line-height: 2em;
  letter-spacing: 2px;
}

.timeline-cc .timeline-content p.same-line {
  line-height: 1.25em;
}

.timeline-cc .timeline-content:after {
  content: "";
  width: 34px;
  height: 34px;
  background: url(../../../upload/about/about-04.png) center center no-repeat;
  background-size: contain;
  position: absolute;
  left: -45px;
  top: 0;
  z-index: 1;
}

@media (max-width: 540px) {
  .timeline-cc .timeline-content:after {
    background-size: 80%;
  }
}

.about-bg {
  position: relative;
  z-index: 1;
}

.about-bg:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../../../upload/about/about-bg.png) center center no-repeat;
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
}

.ceri-wrap01 {
  position: relative;
  z-index: 0;
  padding: 7rem 0 5rem 0;
  background-color: #f7f7f7;
}

.ceri-wrap01:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 480px;
  background: url(../images/background/bg-aboutus01.jpg) top left no-repeat;
  background-size: cover;
  z-index: -2;
  top: 0;
  left: 0;
}

.ceri-wrap01:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 220px;
  background: #f7f7f7;
  z-index: -1;
  bottom: 0;
  left: 0;
}

@media all and (max-width: 1480px) {
  .ceri-wrap01 {
    padding: 6rem 0 4rem 0;
  }
}

@media all and (max-width: 1280px) {
  .ceri-wrap01 {
    padding: 4rem 0 3rem 0;
  }
}

@media all and (max-width: 991px) {
  .ceri-wrap01 {
    padding: 3rem 0;
  }
  .ceri-wrap01:after {
    background-size: 800px;
  }
}

.ceri-item .img {
  background-color: white;
}

.ceri-item .img img {
  margin: auto;
  display: block;
}

.ceri-item .about-title-01 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background: #e6ecee;
}

.prod-cata-menu-wrap {
  position: relative;
  z-index: 5;
  -webkit-transform: translate(0, -45%);
  -mos-transform: translate(0, -45%);
  -o-transform: translate(0, -45%);
  -ms-transform: translate(0, -45%);
  transform: translate(0, -45%);
}

.prod-cata-menu-wrap .prod-cata-menu-list {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
  box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
}

.prod-cata-menu-wrap .prod-cata-menu-list a {
  background-color: white;
  padding: 1.75rem 2rem;
  font-size: 1.125rem;
  color: #363d4c;
  border: 1px solid #c5d2eb;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-width: 180px;
}

.prod-cata-menu-wrap .prod-cata-menu-list a:hover, .prod-cata-menu-wrap .prod-cata-menu-list a:active, .prod-cata-menu-wrap .prod-cata-menu-list a:focus {
  background-color: #1c62a5;
  color: white;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media all and (max-width: 991px) {
  .prod-cata-menu-wrap .prod-cata-menu-list a {
    padding: 1rem 1.5rem;
  }
}

@media all and (max-width: 767px) {
  .prod-cata-menu-wrap .prod-cata-menu-list {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
  }
  .prod-cata-menu-wrap .prod-cata-menu-list.opened {
    z-index: 1;
    max-height: 999px;
  }
  .prod-cata-menu-wrap .prod-cata-menu-list a {
    padding: 1rem 1.5rem;
  }
  .prod-cata-menu-wrap .btn-submenu-list.opened {
    max-height: 999px;
  }
}

.prod-cata-sect .prod-cata-wrap {
  padding: 6.25rem 0;
  position: relative;
}

.prod-cata-sect .prod-cata-wrap .prod-title {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.prod-cata-sect .prod-cata-wrap .prod-title-small {
  font-size: 1.25rem;
  font-weight: bold;
  color: #adb8cc;
}

.prod-cata-sect .prod-cata-wrap .prod-type {
  font-size: 1.375rem;
  font-weight: bold;
  color: white;
  background: #7bcaea;
  padding: 0.75rem 1rem;
  margin-top: 3rem;
  margin-bottom: 2em;
}

.prod-cata-sect .prod-cata-wrap .prod-type~.prod-type {
  background: #5c93c9;
}

.prod-cata-sect .prod-cata-wrap .prod-list .prod-item {
  margin-bottom: 1rem;
}

.prod-cata-sect .prod-cata-wrap .prod-list .prod-item .title {
  font-size: 1.125rem;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #363d4c;
}

.prod-cata-sect .prod-cata-wrap .prod-list .prod-item .title a {
  color: #363d4c;
}

.prod-cata-sect .prod-cata-wrap .prod-list .prod-item .title a:hover {
  color: #3ba2dd;
}

.prod-cata-sect .prod-cata-wrap .prod-list .prod-item .prod-item-info {
  min-height: 100px;
}

.prod-cata-sect .prod-cata-wrap .prod-list .prod-item ul {
  padding: 0;
  list-style-type: none;
}

.prod-cata-sect .prod-cata-wrap .prod-list .prod-item ul li {
  line-height: 2em;
  border-bottom: 1px solid #f0f0f0;
}

.prod-cata-sect .prod-cata-wrap .prod-list .prod-item .btn-detail {
  display: block;
  margin: 2rem 0 1rem 0;
}

.prod-cata-sect .prod-cata-pic {
  position: absolute;
  z-index: -1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -mos-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.prod-cata-sect .prod-cata-pic img {
  opacity: 0.6;
  position: relative;
  top: -5rem;
}

.prod-cata-sect .prod-cata-pic.left-pic {
  left: 0;
}

.prod-cata-sect .prod-cata-pic.right-pic {
  right: 0;
}

.prod-cata-sect .prod-cata-pic .prod-cata-pic-bg {
  background: #f5f5f5;
  width: 810px;
  height: 300px;
}

@media all and (max-width: 1540px) {
  .prod-cata-sect .prod-cata-pic .prod-cata-pic-bg {
    width: 85%;
    height: 300px;
  }
  .prod-cata-sect .prod-cata-pic.right-pic .prod-cata-pic-bg {
    margin-left: 15%;
  }
  .prod-cata-sect .prod-cata-pic img {
    width: 100%;
  }
}

@media all and (max-width: 1440px) {
  .prod-cata-sect .prod-cata-pic .prod-cata-pic-bg {
    width: 75%;
    height: 240px;
  }
  .prod-cata-sect .prod-cata-pic.right-pic .prod-cata-pic-bg {
    margin-left: 25%;
  }
}

@media all and (max-width: 1280px) {
  .prod-cata-sect .prod-cata-pic .prod-cata-pic-bg {
    width: 70%;
    height: 240px;
  }
  .prod-cata-sect .prod-cata-pic.right-pic .prod-cata-pic-bg {
    margin-left: 30%;
  }
}

@media all and (max-width: 1140px) {
  .prod-cata-sect .prod-cata-pic .prod-cata-pic-bg {
    width: 60%;
    height: 240px;
  }
  .prod-cata-sect .prod-cata-pic.right-pic .prod-cata-pic-bg {
    margin-left: 40%;
  }
}

@media all and (max-width: 991px) {
  .prod-cata-sect .prod-cata-pic {
    top: -5rem;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@media all and (max-width: 768px) {
  .prod-cata-sect .prod-cata-pic {
    top: -19rem;
  }
  .prod-cata-sect .prod-cata-pic .prod-cata-pic-bg {
    width: 100%;
    height: 200px;
  }
  .prod-cata-sect .prod-cata-pic.right-pic .prod-cata-pic-bg {
    margin-left: 0%;
  }
}

@media all and (max-width: 768px) {
  .prod-cata-sect .prod-cata-pic {
    top: -22rem;
  }
}

@media all and (max-width: 991px) {
  .prod-cata-sect .prod-cata-wrap>div {
    margin-top: 10rem;
  }
}

@media all and (max-width: 768px) {
  .prod-cata-sect .prod-cata-wrap {
    padding: 6rem 0 2rem 0;
  }
  .prod-cata-sect .prod-cata-wrap>div {
    margin-top: 25rem;
  }
}

@media all and (max-width: 575px) {
  .prod-cata-sect .prod-cata-wrap {
    padding: 0;
  }
  .prod-cata-sect .prod-cata-wrap>div {
    margin-top: 29rem;
  }
}

.prod-detail-top {
  background: #f7f7f7;
  position: relative;
  z-index: 1;
}

.prod-detail-top:before {
  content: "";
  width: 100%;
  height: 5rem;
  background: #f7f7f7;
  position: absolute;
  top: -5rem;
  left: 0;
}

.prod-detail-top .prod-detail-data .prod-name {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0.25rem;
}

.prod-detail-top .prod-detail-data .prod-special {
  color: #3ba2dd;
  font-size: 1.25rem;
  font-weight: bold;
}

.prod-detail-top .prod-detail-data .data-list {
  color: #62708c;
  padding: 2rem 2rem 1rem 2rem;
  font-size: 1.125rem;
  line-height: 1.5em;
  margin-bottom: 0;
}

.prod-detail-top .prod-detail-data .data-list li {
  margin-bottom: 0.25em;
}

.prod-detail-top .prod-detail-data .btn-cc02 {
  margin: 1rem 0;
}

.prod-detail-top .prod-detail-pic {
  padding: 0 3rem 3rem 0rem;
}

@media all and (max-width: 1199px) {
  .prod-detail-top .prod-detail-pic {
    padding: 0 1.5rem 2rem 0rem;
  }
}

@media all and (max-width: 767px) {
  .prod-detail-top .prod-detail-pic {
    padding: 0 1rem;
  }
}

.prod-detail-info-wrap {
  background: white;
  position: relative;
  z-index: 1;
}

.prod-detail-info-wrap .tab-content {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.prod-detail-info-wrap #prod-detail-tabs {
  position: relative;
  top: -1.5em;
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
  box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
}

.prod-detail-info-wrap .nav-link {
  padding: 1rem 1.5rem;
  color: #363d4c;
  background: white;
  font-size: 1.125rem;
  border: 1px solid #c5d2eb;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.prod-detail-info-wrap .nav-link.active, .prod-detail-info-wrap .nav-link:hover, .prod-detail-info-wrap .nav-link:focus {
  color: white;
  background: #1c62a5;
  -webkit-transition: all 0.3s ease;
  -mos-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#news-tabs-wrap {
  width: 100%;
}

#news-tabs-wrap .nav-link {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
}

#news-tabs-wrap .nav-link.active, #news-tabs-wrap .show>.nav-link {
  background-color: #1c62a5;
}

.news-tab-content {
  padding: 4rem 0;
  width: 100%;
}

.news-list {
  font-size: 1.125rem;
}

.news-list .news-title {
  font-size: 1.25rem;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #363d4c;
}

.news-list .news-data {
  padding: 1rem 0.5rem;
}

.news-list>div:nth-child(6n+4), .news-list>div:nth-child(6n+5), .news-list>div:nth-child(6n) {
  background: #eee;
}

.image-box {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#set_width {
  max-width: 32.33333%;
  margin-right: auto;
}

@media screen and (max-width: 992px) {
  #set_width {
    max-width: 47%;
  }
}

@media screen and (max-width: 786px) {
  #set_width {
    max-width: initial;
  }
}

.text h3 {
  margin-top: 1rem;
}

.album_detail_title {
  margin-top: 4rem;
  text-align: center;
}

.album_detail_title h3 {
  border-bottom: solid 3.5px #3ba2dd;
  display: inline-block;
  padding-bottom: 6px;
  letter-spacing: 6px;
}

.listing-item {
  border-top: 7px solid #1B63A5;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  background-color: #eee;
  max-width: 22.96%;
}

@media screen and (max-width: 992px) {
  .listing-item {
    max-width: 30.48%;
  }
}

@media screen and (max-width: 768px) {
  .listing-item {
    max-width: 46%;
  }
}

@media screen and (max-width: 576px) {
  .listing-item {
    max-width: 96.5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.listing-item .pic {
  padding-top: 0.9rem;
}

@media screen and (max-width: 576px) {
  .listing-item .pic {
    padding-top: 2rem;
  }
}

.listing-item .detail_title {
  margin-top: 0.6rem;
  text-align: center;
  color: #1B63A5;
}

.listing-item .detail_text {
  padding-bottom: 0.8rem;
  letter-spacing: 0.5px !important;
  font-size: 1rem;
  margin-top: 0.6rem;
}

@media screen and (max-width: 576px) {
  .listing-item .detail_text {
    padding-top: 0.7rem;
  }
}

.back_buttton {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  left: 92%;
  transform: translateX(-50%);
}

@media screen and (max-width: 576px) {
  .back_buttton {
    left: 88%;
  }
}

.img-wrap {
  height: 250px;
  overflow: hidden;
}

.img-wrap img {
  height: 100%;
}

.overlay-container {
  padding: 15px;
}

.investor-list {
  margin-bottom: 5rem;
}

.investor-list h3 {
  font-size: 1.5rem;
  color: #1c62a5;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 1rem 0;
}

.investor-list ul {
  list-style: none;
  padding: 0;
}

.investor-list ul li {
  font-size: 1.125rem;
  letter-spacing: 2px;
  padding-bottom: 0.5rem;
}

.investor-list ul li a {
  color: #62708c;
}

.investor-list ul li a:hover, .investor-list ul li a:focus {
  color: #3ba2dd;
}

.investor-detail {
  padding-bottom: 5rem;
}

.investor-detail .table {
  margin-top: 1rem;
}

.investor-detail .table td, .investor-detail .table th {
  font-size: 1.125rem;
  padding: 0.5em;
}

.investor-detail .table td.font-cc {
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.investor-detail .table th {
  border-bottom: 2px solid #1c62a5;
}

@media all and (max-width: 1199px) {
  .investor-detail .table {
    margin-top: 3rem;
  }
}

@media all and (max-width: 991px) {
  .investor-detail .table {
    margin-top: 2.5rem;
  }
}

.investor-detail .table-cc .table {
  width: 95%;
  margin: 0 auto;
}

.investor-detail .icon-pdf {
  max-width: 2.5rem;
}

.investor-detail .title-investor {
  border-bottom: 2px solid #1c62a5;
  padding: 0 0 0.35rem 0;
}

.investor-table-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.investor-table-wrap .nav-tabs {
  border: none;
}

.investor-table-wrap .nav-tabs .nav-item .nav-link {
  background-color: #f7f7f7;
  border-radius: 0;
  padding: 1rem 2.5rem;
  font-size: 1.125rem;
  color: #62708c;
  border: transparent;
  margin: 2rem 0.5rem 0.5rem 0;
}

.investor-table-wrap .nav-tabs .nav-item .nav-link.active {
  background-color: transparent;
  border-top: 2px solid #262b35;
}

.investor-table-wrap .text-shadow {
  border-left: 3px solid #3ba2dd;
  margin-top: 4rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  background-color: #f7f7f7;
}

.investor-table-wrap .text-shadow p {
  color: #62708c;
  font-size: 1.125rem;
  letter-spacing: 2px;
  padding: 1rem 0;
  margin-left: 1rem;
}

.investor-table-wrap .text-shadow p span {
  font-size: 1rem;
  color: #363d4c;
}

.investor-table-wrap .text-shadow ul {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-left: 1rem;
}

.investor-table-wrap .text-shadow ul li {
  font-size: 1rem;
  letter-spacing: 2px;
  color: #363d4c;
  line-height: 2em;
  padding-right: 3rem;
}

@media (max-width: 1340px) {
  .investor-table-wrap .text-shadow ul li {
    padding: 0;
  }
}

.investor-table-wrap .text-shadow ul li.text-indent {
  text-indent: 4.5rem;
}

.investor-table-wrap .text-shadow ul .invest-subtitle {
  min-width: 5rem;
}

.investor-table-wrap img:not(.icon-pdf) {
  margin-top: 3rem;
}
.corporate .investor-table-wrap img:not(.icon-pdf) {
  margin-top: 0rem;
}

.investor-table-wrap .text-shadow-cc {
  max-width: 430px;
  width: 100%;
  margin: 4rem 1.5rem;
}

@media (max-width: 1308px) {
  .investor-table-wrap .text-shadow-cc {
    margin: 4rem 0.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1223px) {
  .investor-table-wrap .text-shadow-cc {
    margin: 4rem 0;
  }
}

.investor-table-wrap .investor-c-style02 .text-shadow-cc {
  max-width: 9999px;
  margin: 3rem 0;
  min-height: 256px;
}

@media (max-width: 1308px) {
  .investor-table-wrap .investor-c-style02 .text-shadow-cc {
    margin: 2rem 0;
  }
}

@media (max-width: 768px) {
  .investor-table-wrap .investor-c-style02 .text-shadow-cc {
    min-height: 0;
  }
}

.prod-design-data-wrap {
  padding: 1rem 0 6.5rem 0;
}

@media all and (max-width: 1920px) {
  .prod-design-data-wrap {
    padding: 0 0 5rem 0;
  }
}

@media all and (max-width: 991px) {
  .prod-design-data-wrap {
    padding: 0 0 4rem 0;
  }
}

.main-contact {
  padding-top: 7rem;
}

.main-contact .contactus-info-list a {
  color: #363d4c;
}

.main-contact p {
  color: #1c62a5;
  font-size: 1.125rem;
  letter-spacing: 2px;
  line-height: 2em;
  padding-bottom: 1rem;
  border-bottom: solid 1px #cccccc;
}

.main-contact p i {
  padding: 0.5rem;
}

.main-contact p img {
  max-width: 140px;
  width: 100%;
}

.main-contact ul {
  list-style: none;
  padding: 0;
  color: #363d4c;
  letter-spacing: 2px;
  line-height: 2em;
  padding-top: 1rem;
  display: inline-block;
  max-width: 500px;
  width: 100%;
}

.main-contact ul li:nth-child(2) {
  padding-top: 1rem;
}

.main-contact ul i {
  min-width: 34px;
  text-align: center;
  padding: 0.5rem;
}

.main-contact-cc {
  padding-top: 0;
}

.main-contact-cc p {
  border: none;
  text-align: left;
  padding-left: 1rem;
}

@media (max-width: 1199px) {
  .main-contact-cc p {
    padding: 0;
    margin: 0 auto;
  }
}

.main-contact-cc .border-cc {
  border-bottom: 1px solid #cccccc;
}

.main-contact-cc ul li:nth-child(2) {
  padding-top: 0;
}

.contact-cata-wrap .contact-title {
  font-size: 1.5rem;
  color: #1c62a5;
  padding-top: 3rem;
}

.contact-cata-wrap .contact-form-gp {
  margin: 0 1rem;
}

.contact-cata-wrap .contact-form-gp input {
  border: #c5d2eb solid 1px;
  padding: 0.25rem 0.5rem;
  letter-spacing: 2px;
  border-radius: 4px;
}

.contact-cata-wrap .contact-form-gp input::-webkit-input-placeholder {
  color: #262b35;
}

.contact-cata-wrap .contact-form-gp input::-moz-placeholder {
  color: #262b35;
}

.contact-cata-wrap .contact-form-gp input::-ms-input-placeholder {
  color: #262b35;
}

.contact-cata-wrap .contact-form-gp input::input-placeholder {
  color: #262b35;
}

.contact-cata-wrap .contact-form-gp textarea {
  border-radius: 0;
  border: 1px solid #262b35;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.contact-cata-wrap .contact-form-gp textarea::-webkit-input-placeholder {
  color: #262b35;
}

.contact-cata-wrap .contact-form-gp textarea::-moz-placeholder {
  color: #262b35;
}

.contact-cata-wrap .contact-form-gp textarea::-ms-input-placeholder {
  color: #262b35;
}

.contact-cata-wrap .contact-form-gp textarea::input-placeholder {
  color: #262b35;
}

.contact-cata-wrap .changeCap input {
  margin-left: 1.5rem;
}

@media (min-width: 576px) and (max-width: 684px) {
  .contact-cata-wrap .changeCap input {
    margin: 0;
  }
}

.contact-cata-wrap button.contactBtn {
  display: inline-block;
  padding: 14px 60px;
  cursor: pointer;
  color: white;
  background: #1c62a5;
}

.contact-cata-wrap button.contactBtn:hover, .contact-cata-wrap button.contactBtn:focus {
  background: #3ba2dd;
}

.contact-cata-wrap .contact-form-gp-cc {
  border: solid 1px #262b35;
  margin-bottom: 1.5rem;
}

.contact-cata-wrap .contact-form-gp-cc .title {
  display: inline-block;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  letter-spacing: 2px;
  color: #262b35;
}

.contact-cata-wrap .contact-form-gp-cc .md-radio.md-radio-inline {
  display: inline-block;
}

.contact-cata-wrap .contact-form-gp-cc .md-radio input[type="radio"] {
  display: none;
}

.contact-cata-wrap .contact-form-gp-cc .md-radio input[type="radio"]:checked+label:before {
  border-color: #337ab7;
  animation: ripple 0.2s linear forwards;
}

.contact-cata-wrap .contact-form-gp-cc .md-radio input[type="radio"]:checked+label:after {
  transform: scale(1);
}

.contact-cata-wrap .contact-form-gp-cc .md-radio label {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding: 0 3rem 0 2rem;
  height: 20px;
  vertical-align: bottom;
  line-height: 1.25em;
  cursor: pointer;
}

.contact-cata-wrap .contact-form-gp-cc .md-radio label:before, .contact-cata-wrap .contact-form-gp-cc .md-radio label:after {
  position: absolute;
  border-radius: 50%;
  content: "";
  transition: all 0.3s ease;
  transition-property: transform, border-color;
}

.contact-cata-wrap .contact-form-gp-cc .md-radio label:before {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #262b35;
}

.contact-cata-wrap .contact-form-gp-cc .md-radio label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #1c62a5;
  transform: scale(0);
}

.contact-cata-wrap .icon-flags img {
  max-width: 160px;
}

#map {
  height: 450px;
  margin: 5rem 0;
}

.prod-cata-menu-wrap .contact-cata-menu-list a {
  font-size: 1.5rem;
}

.btn-control {
  height: 3rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  background: #3ba2dd;
  border: 5px solid #3ba2dd;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.btn-control:hover {
  color: white;
  background-color: #1C63A5;
  border: 5px solid #1C63A5;
}

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 11rem;
  height: 3rem;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border: 1px solid #c5d2eb;
}

.dropdown .dropdown_list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 2rem 0 0.75rem;
  color: #363d4c;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}

.dropdown::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -mos-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0 0.75rem;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  color: #3ba2dd;
  pointer-events: none;
}

#btn_size {
  background-color: #3ba2dd;
  color: white;
}

#btn_size:active {
  background-color: #1c62a5;
}

.unit {
  margin-left: 8px;
}

/*# sourceMappingURL=custom-in.css.map */