@charset "UTF-8";
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
.text-base {
	color: #1c62a5;
}

@media (min-width: 1281px) {
	.container-medium {
		max-width: 1510px;
	}
}
html,
body {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5em;
	font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, Noto Sans CJK TC,
		'Noto Sans CJK TC', 微軟正黑體, '微軟正黑體', Microsoft JhengHei,
		'Microsoft JhengHei', sans-serif;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	color: #363d4c;
}
@media (min-width: 1281px) {
	html,
	body {
		letter-spacing: 1px;
	}
}
@media (max-width: 1199px) {
	html,
	body {
		font-size: 15px;
	}
}
@media (max-width: 991px) {
	html,
	body {
		font-size: 14px;
	}
}
@media (max-width: 350px) {
	html,
	body {
		font-size: 13px;
	}
}

p {
	line-height: 1.5em;
}

a {
	color: #3ba2dd;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	color: #52c3cb;
}

img {
	max-width: 100%;
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.mh-60vh {
	min-height: 60vh;
}

.text-colored {
	color: #1c62a5;
}

.shadow-0 {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.shadow-5 {
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
}

.shadow-10 {
	-webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
}

.shadow-15 {
	-webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.35);
}

.shadow-20 {
	-webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.35);
}

.shadow-30 {
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
}

.shadow-cc {
	-webkit-box-shadow: 0px 1px 15px 0px rgba(54, 61, 76, 0.25);
	-moz-box-shadow: 0px 1px 15px 0px rgba(54, 61, 76, 0.25);
	box-shadow: 0px 1px 15px 0px rgba(54, 61, 76, 0.25);
}

.cms-table-wrap {
	overflow-x: auto;
}

.pic img {
	margin: 0 auto;
}

.bbradius-0,
.pagination .page-item .page-link,
.cc-control select,
.cc-control .select {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
}

.bbradius-5,
.search-wrap .search-form {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.bbradius-10,
.cc-control .btn-control,
#btn-close-mainmenu #cross > span {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

.bbradius-12,
.idx-application-wrap .idx-app-list-wrap .idx-app-list > div {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-ms-border-radius: 12px;
	border-radius: 12px;
}

.bbradius-15 {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	border-radius: 15px;
}

.bbradius-20,
.idx-achievement-sect .idx-global-map .map-dot,
.owl-thumbs .owl-item:before {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
}

.bbradius-30 {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px;
}

.bbradius-50 {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
}

.bbradius-60 {
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-o-border-radius: 60px;
	-ms-border-radius: 60px;
	border-radius: 60px;
}

.bbradius-80 {
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-o-border-radius: 80px;
	-ms-border-radius: 80px;
	border-radius: 80px;
}

.bbradius-90,
.idx-achievement-sect .idx-global-map .map-dot:before {
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	-o-border-radius: 90px;
	-ms-border-radius: 90px;
	border-radius: 90px;
}

.bbradius-100pa,
.btn-cc .btn-arrow {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
	border-radius: 100%;
}

.parallax-wrapper .parallax-custom {
	background-attachment: fixed;
}

.letter-space-01 {
	letter-spacing: 1px;
}

.letter-space-02 {
	letter-spacing: 2px;
}

.letter-space-03 {
	letter-spacing: 3px;
}

.container-cc,
.row-cc {
	padding-left: 2rem;
	padding-right: 2rem;
	width: 100%;
	max-width: 1344px;
	position: relative;
}
@media all and (max-width: 572px) {
	.container-cc,
	.row-cc {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.pl-0 {
	padding-left: 0;
}

.pic img {
	display: block;
	max-width: 100%;
	margin: auto;
}

.arrow-cc {
	width: 7px;
	height: 7px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	top: calc(50% - 3px);
	border-left: 1px solid #3ba2dd;
	border-bottom: 1px solid #3ba2dd;
}

.btn-cc {
	display: inline-block;
	vertical-align: middle;
	margin: 2rem 0;
	font-size: 1.125rem;
}
.btn-cc.btn-cc01 {
	color: #62708c;
}
.btn-cc .btn-arrow {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border: 6px solid #c5d2eb;
	margin-right: 1.125rem;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 1.25s ease;
	-mos-transition: all 1.25s ease;
	-o-transition: all 1.25s ease;
	-ms-transition: all 1.25s ease;
	transition: all 1.25s ease;
}
.btn-cc .btn-arrow .arrow-cc-down {
	width: 7px;
	height: 7px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	top: calc(50% - 3px);
	left: calc(50% - 3px);
	border-left: 1px solid #c5d2eb;
	border-bottom: 1px solid #c5d2eb;
}
@media all and (max-width: 575px) {
	.btn-cc .btn-arrow {
		width: 40px;
		height: 40px;
		margin-right: 0.5rem;
	}
}
.btn-cc:hover,
.btn-cc.btn-cc02:hover,
.btn-cc.btn-cc01:hover {
	color: #52c3cb;
}
.btn-cc:hover .btn-arrow,
.btn-cc.btn-cc02:hover .btn-arrow,
.btn-cc.btn-cc01:hover .btn-arrow {
	animation: animationFlip linear 0.5s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: animationFlip linear 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: animationFlip linear 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: animationFlip linear 0.5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: animationFlip linear 0.5s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
	border-color: #52c3cb;
	-webkit-transition: all 1.25s ease;
	-mos-transition: all 1.25s ease;
	-o-transition: all 1.25s ease;
	-ms-transition: all 1.25s ease;
	transition: all 1.25s ease;
}
.btn-cc.btn-cc02 .btn-arrow {
	border: 6px solid #3ba2dd;
}
.btn-cc.btn-cc02 .btn-arrow .arrow-cc-right {
	width: 7px;
	height: 7px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	position: absolute;
	top: calc(50% - 3px);
	left: calc(50% - 5px);
	border-left: 1px solid #3ba2dd;
	border-bottom: 1px solid #3ba2dd;
}
.btn-cc .btn-word {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}

.list_pic li {
	list-style-image: url(../../../upload/about/about-04.svg);
	font-size: 22px;
}

.btn-h-base {
	display: inline-block;
	vertical-align: middle;
	padding: 0.5rem 1rem;
	text-align: center;
	color: #3ba2dd;
	border: 1px solid #3ba2dd;
}

table th,
table td {
	vertical-align: middle;
	padding: 1rem 0.5rem;
}

.table th,
.table td {
	vertical-align: middle;
	padding: 1rem 0.5rem;
}
.table tr th {
	font-weight: bold;
	border-top: 0;
	border-bottom: 2px solid #363d4c;
}
.table tr td {
	border-bottom: 1px solid #c5d2eb;
}

.table-bordered td,
.table-bordered th {
	border: 1px solid #c5d2eb;
	font-size: 1.125rem;
}

.table-bordered tr th:first-child {
	background: #1c62a5;
	color: white;
	border: 1px solid #c5d2eb;
}

.table-fixed {
	table-layout: fixed;
}
.table-fixed td,
.table-fixed th {
	text-align: center;
}

.submenu-list-wrap {
	position: relative;
	z-index: 5;
	-webkit-transform: translate(0, -45%);
	-mos-transform: translate(0, -45%);
	-o-transform: translate(0, -45%);
	-ms-transform: translate(0, -45%);
	transform: translate(0, -45%);
}
.submenu-list-wrap .submenu-list {
	-webkit-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
	-moz-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
	box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2);
}
.submenu-list-wrap .submenu-list a {
	background-color: white;
	padding: 1.75rem 2rem;
	font-size: 1.125rem;
	color: #363d4c;
	border: 1px solid #c5d2eb;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.submenu-list-wrap .submenu-list a:hover,
.submenu-list-wrap .submenu-list a:active,
.submenu-list-wrap .submenu-list a:focus {
	background-color: #1c62a5;
	color: white;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
@media all and (max-width: 991px) {
	.submenu-list-wrap .submenu-list a {
		padding: 1rem 1.5rem;
	}
}
@media all and (max-width: 767px) {
	.submenu-list-wrap .submenu-list {
		max-height: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
	}
	.submenu-list-wrap .submenu-list.opened {
		z-index: 1;
		max-height: 999px;
	}
	.submenu-list-wrap .submenu-list a {
		min-width: 220px;
		padding: 1rem 1.5rem;
	}
	.submenu-list-wrap .btn-submenu-list.opened {
		max-height: 999px;
	}
}

.pagination .page-item {
	padding: 0 0.5rem;
}
.pagination .page-item .page-link {
	color: #2895d2;
	border: none;
	padding: 0.35rem 0.5rem;
	font-size: 1.25rem;
}
.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus,
.pagination .page-item .page-link.active,
.pagination .page-item .page-link.current {
	color: #363d4c;
	background: #c5d2eb;
	background-color: #c5d2eb;
}

.smartphoto {
	background: rgba(28, 98, 165, 0.95);
}

.list {
	padding-left: 1.5rem !important;
}
.list li {
	position: relative;
}
.list li b {
	color: #1c62a5;
}
.list li:before {
	content: '';
	width: 4px;
	height: 4px;
	display: block;
	background: #1c62a5;
	position: absolute;
	top: calc(1em - 2px);
	left: -0.75rem;
}

/* .cc-control {
  /* Reset Select */
/* Custom Select */
/* Arrow */
.cc-control select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #fff;
	background-image: none;
}
.cc-control .select {
	position: relative;
	display: inline-block;
	min-width: 11rem;
	height: 3rem;
	line-height: 3;
	background: #fff;
	overflow: hidden;
	border: 1px solid #c5d2eb;
}
.cc-control select {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 2rem 0 0.75rem;
	color: #363d4c;
	cursor: pointer;
	font-size: 1.125rem;
	line-height: 2.5rem;
	font-weight: bold;
	letter-spacing: 1px;
}
.cc-control select::-ms-expand {
	display: none;
}
.cc-control .select::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-mos-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0 0.75rem;
	font-family: 'Font Awesome 5 Free';
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-weight: 900;
	color: #3ba2dd;
	pointer-events: none;
}
.cc-control .btn-control {
	height: 3rem;
	line-height: 2.5rem;
	padding: 0 1.5rem;
	background: #3ba2dd;
	border: 5px solid #3ba2dd;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 2px;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.cc-control .btn-control:hover,
.cc-control .btn-control:focus,
.cc-control .btn-control:active {
	background: #1c62a5;
	border: 5px solid #1c62a5;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.cc-control .btn-control.btn-h-control {
	background: #fff;
	color: #363d4c;
}
.cc-control .btn-control.btn-h-control:hover,
.cc-control .btn-control.btn-h-control:focus,
.cc-control .btn-control.btn-h-control:active {
	background: #e6ecee;
}

@keyframes animationFlip {
	50% {
		transform: rotateY(180deg) scale(0.96);
	}
	100% {
		transform: rotateY(360deg) scale(1);
	}
}
@-moz-keyframes animationFlip {
	50% {
		-moz-transform: rotateY(180deg) scale(0.96);
	}
	100% {
		-moz-transform: rotateY(360deg) scale(1);
	}
}
@-webkit-keyframes animationFlip {
	50% {
		-webkit-transform: rotateY(180deg) scale(0.96);
	}
	100% {
		-webkit-transform: rotateY(360deg) scale(1);
	}
}
@-o-keyframes animationFlip {
	50% {
		-o-transform: rotateY(180deg) scale(0.96);
	}
	100% {
		-o-transform: rotateY(360deg) scale(1);
	}
}
@-ms-keyframes animationFlip {
	50% {
		-ms-transform: rotateY(180deg) scale(0.96);
	}
	100% {
		-ms-transform: rotateY(360deg) scale(1);
	}
}
@keyframes animationFlip_longterm {
	47% {
		transform: rotateY(0deg) scale(1);
	}
	50% {
		transform: rotateY(180deg) scale(0.95);
	}
	55% {
		transform: rotateY(0deg) scale(1);
	}
}
@-moz-keyframes animationFlip_longterm {
	47% {
		-moz-transform: rotateY(0deg) scale(1);
	}
	50% {
		-moz-transform: rotateY(180deg) scale(0.95);
	}
	55% {
		-moz-transform: rotateY(0deg) scale(1);
	}
}
@-webkit-keyframes animationFlip_longterm {
	47% {
		-webkit-transform: rotateY(0deg) scale(1);
	}
	50% {
		-webkit-transform: rotateY(180deg) scale(0.95);
	}
	55% {
		-webkit-transform: rotateY(0deg) scale(1);
	}
}
@-o-keyframes animationFlip_longterm {
	47% {
		-o-transform: rotateY(0deg) scale(1);
	}
	50% {
		-o-transform: rotateY(180deg) scale(0.95);
	}
	55% {
		-o-transform: rotateY(0deg) scale(1);
	}
}
@-ms-keyframes animationFlip_longterm {
	47% {
		-ms-transform: rotateY(0deg) scale(1);
	}
	50% {
		-ms-transform: rotateY(180deg) scale(0.95);
	}
	55% {
		-ms-transform: rotateY(0deg) scale(1);
	}
}
.main-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 5;
	width: 0;
	max-width: 75vw;
	height: 100vh;
	padding: 0;
	overflow: hidden;
	background: #1c62a5;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.main-menu > .container {
	padding: 3.75rem 0;
}
.main-menu ul {
	padding: 0;
	list-style: none;
}
.main-menu .menu-list {
	padding: 2.5rem 2.5rem 2.5rem 3rem;
	opacity: 0;
}
.main-menu .menu-list li:not(:last-child) {
	margin-bottom: 1.5rem;
}
.main-menu .menu-list a {
	color: white;
	font-size: 1.25rem;
}
.main-menu .menu-list a:hover,
.main-menu .menu-list a.current,
.main-menu .menu-list a.active {
	opacity: 0.7;
}
.main-menu .menu-list a:not([href]):not([tabindex]) {
	cursor: pointer;
	color: white;
}
@media all and (max-width: 1140px) {
	.main-menu .menu-list a:hover,
	.main-menu .menu-list a.current,
	.main-menu .menu-list a.active,
	.main-menu .menu-list a.focus {
		color: #adb8cc;
	}
}
.main-menu .menu-list ul li a.current,
.main-menu .menu-list ul li a.active {
	opacity: 0.9;
	color: #52c3cb;
}
.main-menu .menu-list .main-submenu {
	max-height: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid #c5d2eb;
}
.main-menu .menu-list .btn-main-submenu.opened + .main-submenu {
	max-height: 999px;
}

#btn-close-mainmenu {
	padding-top: 2rem;
	padding-left: 3rem;
	cursor: pointer;
}
#btn-close-mainmenu:hover,
#btn-close-mainmenu:focus {
	opacity: 0.7;
}
#btn-close-mainmenu > * {
	display: inline-block;
	vertical-align: middle;
}
#btn-close-mainmenu .h-link-text {
	margin-left: 0;
	color: white;
}
#btn-close-mainmenu #cross {
	display: block;
	position: relative;
	width: 48px;
	height: 48px;
}
#btn-close-mainmenu #cross > span {
	display: block;
	position: absolute;
	top: 22px;
	left: 0;
	width: 36px;
	height: 3px;
	background: white;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: all 1s ease;
	-mos-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
#btn-close-mainmenu #cross > span:first-child {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}

#main-menu-close {
	width: 0;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -99;
	background: rgba(0, 0, 0, 0.3);
}
#main-menu-close:before,
#main-menu-close:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 0;
	height: 100%;
	-webkit-transform: translate(100%, 0);
	-mos-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
}
#main-menu-close:before {
	background: rgba(28, 98, 165, 0.1);
}
#main-menu-close:after {
	background: rgba(28, 98, 165, 0.1);
}

body.menu-opened {
	overflow: hidden;
	max-width: 100vw;
	max-height: 100vh;
}
body.menu-opened #main-menu-close {
	display: block;
	z-index: 2;
	width: 100vw;
	height: 100vh;
}
body.menu-opened #main-menu-close:before,
body.menu-opened #main-menu-close:after {
	width: 100%;
	height: 100%;
}
body.menu-opened #main-menu-close:before {
	-webkit-transform: translate(0, 0);
	-mos-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: all 0.75s ease;
	-mos-transition: all 0.75s ease;
	-o-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	transition: all 0.75s ease;
}
body.menu-opened #main-menu-close:after {
	-webkit-transform: translate(0, 0);
	-mos-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: all 0.45s ease-in;
	-mos-transition: all 0.45s ease-in;
	-o-transition: all 0.45s ease-in;
	-ms-transition: all 0.45s ease-in;
	transition: all 0.45s ease-in;
}
body.menu-opened #main-menu {
	width: 460px;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
}
body.menu-opened #main-menu .menu-list {
	opacity: 1;
	overflow-y: auto;
	max-height: calc(100vh - 80px - 3rem);
}
body.menu-opened #btn-close-mainmenu #cross > span {
	-webkit-transform: rotate(220deg);
	-moz-transform: rotate(220deg);
	-ms-transform: rotate(220deg);
	-o-transform: rotate(220deg);
	transform: rotate(220deg);
	-webkit-transition: all 0.35s cubic-bezier(0.66, -0.21, 0.38, 1.17) 0.25s;
	-mos-transition: all 0.35s cubic-bezier(0.66, -0.21, 0.38, 1.17) 0.25s;
	-o-transition: all 0.35s cubic-bezier(0.66, -0.21, 0.38, 1.17) 0.25s;
	-ms-transition: all 0.35s cubic-bezier(0.66, -0.21, 0.38, 1.17) 0.25s;
	transition: all 0.35s cubic-bezier(0.66, -0.21, 0.38, 1.17) 0.25s;
}
body.menu-opened #btn-close-mainmenu #cross > span:first-child {
	-webkit-transform: rotate(-42deg);
	-moz-transform: rotate(-42deg);
	-ms-transform: rotate(-42deg);
	-o-transform: rotate(-42deg);
	transform: rotate(-42deg);
}

#btn-main-menu {
	position: relative;
	color: #3ba2dd;
	overflow: hidden;
}
#btn-main-menu .collapse-button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}
#btn-main-menu .collapse-button > span {
	display: inline-block;
	vertical-align: middle;
	-webkit-transition-delay: 0.25s;
	-moz-transition-delay: 0.25s;
	-o-transition-delay: 0.25s;
	-ms-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
#btn-main-menu .collapse-button .icon-bar {
	background-color: #3ba2dd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: block;
	height: 3px;
	width: 36px;
	margin: 5px 0;
	position: relative;
}
#btn-main-menu .collapse-button .icon-bar:nth-child(2) {
	width: 24px;
	margin-left: 12px;
}
@media all and (min-width: 1000px) {
	#btn-main-menu {
		cursor: pointer;
		margin-right: 4rem;
		margin-left: 1rem;
	}
}
@media all and (min-width: 1281px) {
	#btn-main-menu:hover .collapse-button .icon-bar {
		-webkit-transition: all 0.3s ease;
		-mos-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
		background-color: #52c3cb;
	}
}
@media all and (max-width: 991px) {
	#btn-main-menu {
		color: #3ba2dd;
	}
	#btn-main-menu .collapse-button .icon-bar {
		background-color: #3ba2dd;
	}
}
@media all and (max-width: 480px) {
	#btn-main-menu .h-link-text {
		display: none;
	}
}

.main-header.nav-scroll {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0.5rem;
	transition: 0.5s;
}

.main-header.nav-ontop {
	background-color: transparent;
	padding: 1.35rem 0;
	transition: 0.5s;
}

.main-header {
	background-color: transparent;
	padding: 1.35rem 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}
.main-header a {
	color: #3ba2dd;
}
.main-header .logo-word {
	margin-left: 1rem;
	margin-bottom: 0;
}
.main-header .logo-word > span {
	word-break: keep-all;
	font-size: 13px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
	color: #3ba2dd;
}
.main-header .logo-word > span:first-child {
	font-size: 1.25rem;
	color: #1c62a5;
}
@media all and (max-width: 575px) {
	.main-header .logo-word > span {
		text-shadow: 0;
	}
}
.main-header .logo-word span {
	word-break: keep-all;
}
.main-header .main-menu01 {
	position: relative;
}
.main-header .main-menu01 ul {
	list-style-type: none;
	margin: 0;
	padding: 0 2rem 0 0;
}
.main-header .main-menu01 ul li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}
.main-header .main-menu01 ul li a {
	font-size: 1.25rem;
	color: #3ba2dd;
	text-align: right;
	/* text-shadow: 1.414px 1.414px 2px rgba(0, 0, 0, 0.35); */
	padding-left: 1rem;
	padding-right: 1rem;
}
.main-header .main-menu01 ul li a:hover,
.main-header .main-menu01 ul li a:active,
.main-header .main-menu01 ul li a:focus,
.main-header .main-menu01 ul li a.active {
	color: #52c3cb;
}
.main-header .main-menu01:after {
	content: '|';
	position: absolute;
	right: 1rem;
	top: 0;
	color: #3ba2dd;
}
.main-header .main-h-link,
.main-header .h-link-text {
	display: inline-block;
	vertical-align: middle;
}
.main-header .h-link-text {
	font-size: 1.125rem;
	margin-left: 1rem;
	text-decoration: none;
}
@media all and (min-width: 1000px) {
	.main-header .main-h-link:hover .h-link-text,
	.main-header .main-h-link:focus .h-link-text {
		color: #52c3cb;
		text-decoration: none;
	}
}
@media all and (min-width: 1281px) {
	.main-header {
		padding: 2.5rem 0;
	}
}
@media all and (max-width: 991px) {
	.main-header {
		position: fixed;
		background: #f5f5f5;
	}
	.main-header .logo-pic img {
		width: 100px;
	}
}
@media all and (max-width: 572px) {
	.main-header .logo-pic img {
		width: 80px;
	}
}
@media all and (max-width: 414px) {
	.main-header .logo-word > span:first-child {
		font-size: 1rem;
	}
	.main-header .logo-word > span {
		font-size: 12px;
	}
	.main-header .logo-pic img {
		width: 74px;
	}
}

.main-menu02 > div {
	margin-left: 0.75rem;
	padding: 0 0.5rem;
}

.lang-wrap {
	position: relative;
}
.lang-wrap .btn-lang {
	cursor: pointer;
	color: #3ba2dd;
}
.lang-wrap .lang-list {
	width: 5rem;
	position: absolute;
	top: 1.25em;
	right: 0;
	list-style: none;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	background: rgba(28, 98, 165, 0.75);
}
.lang-wrap .lang-list a {
	display: block;
	color: #fff;
	padding: 0.5rem 0.5em;
	text-align: center;
}
.lang-wrap .lang-list a:hover,
.lang-wrap .lang-list a:focus {
	color: #1c62a5;
	background: #fff;
}
.lang-wrap.m-lang-wrap {
	margin-bottom: 1.5rem;
}
.lang-wrap.m-lang-wrap #m-btn-lang {
	cursor: pointer;
	color: white;
}
.lang-wrap.m-lang-wrap .lang-list {
	position: static;
	width: auto;
	margin-top: 1rem;
	margin-bottom: 0 !important;
}
.lang-wrap.m-lang-wrap .lang-list li {
	margin-bottom: 0 !important;
}
.lang-wrap.m-lang-wrap .lang-list li.active {
	background: rgba(59, 162, 221, 0.5);
}
.lang-wrap.m-lang-wrap .lang-list li a {
	font-size: 1rem;
}
@media all and (min-width: 1200px) {
	.lang-wrap:hover .lang-list {
		max-height: 800px;
	}
}

.lang-opened .lang-list {
	max-height: 800px;
}

.search-wrap {
	position: relative;
}
.search-wrap .search-form {
	width: 280px;
	max-height: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: -0.25rem;
	z-index: -99;
	background: #1c62a5;
	padding: 0;
	-webkit-transition: opacity 0.3s ease;
	-mos-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
}
.search-wrap .search-form .btn-search,
.search-wrap .search-form #search-button {
	padding: 0.5rem 0.75rem;
}
.search-wrap .search-form .btn-search:hover,
.search-wrap .search-form #search-button:hover {
	color: #52c3cb;
}
.search-wrap .search-form input {
	background: rgba(255, 255, 255, 0.95);
}
.search-wrap:hover .search-form {
	-webkit-transition: opacity 0.5s ease;
	-mos-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	max-height: 800px;
	padding: 0.5rem 0 0.5rem 0.75rem;
	opacity: 1;
	z-index: 1;
}

.job104 {
	color: #ff7802;
	border: 1px solid #ff7802;
	letter-spacing: 1.5px;
	border-radius: 3.5px;
	padding: 4px 20px;
	font-weight: 300;
	font-family: '微軟正黑體';
	font-size: 15px;
	display: block;
	text-align: center;
	margin-bottom: 0px;
	width: 158px;
	margin-top: 8px;
}
.job104:hover {
	color: white;
	background-color: #ff7802;
}
.job104:active {
	background-color: #e66b00;
}

.company_name {
	color: #1b63a5;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}
@media all and (max-width: 575px) {
	.company_name {
		text-shadow: 0;
	}
}

.company_name_en {
	color: #3ba2dd;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}

.m-search-wrap input {
	margin-top: 1px;
	margin-bottom: 1px;
}
.m-search-wrap .btn-search {
	border: 1px solid rgba(255, 255, 255, 0.95);
	margin-left: 0.25rem;
	padding: 0.25rem 1rem;
	margin: 0 0 1.5rem 0.25rem;
}
.m-search-wrap .btn-search:hover {
	opacity: 0.7;
}

.main__dropmenu__wrap:hover .main__dropmenu {
	display: block;
	max-height: 9999px;
	opacity: 1;
	-webkit-transition: opacity 0.35 ease;
	-mos-transition: opacity 0.35 ease;
	-o-transition: opacity 0.35 ease;
	-ms-transition: opacity 0.35 ease;
	transition: opacity 0.35 ease;
}

.main__dropmenu {
	display: none;
	position: absolute;
	white-space: nowrap;
	bottom: 0;
	padding-top: 0.5rem !important;
	padding-left: 1rem !important;
	-webkit-transform: translate(0, 100%);
	-mos-transform: translate(0, 100%);
	-o-transform: translate(0, 100%);
	-ms-transform: translate(0, 100%);
	transform: translate(0, 100%);
	max-height: 0;
	/* overflow: hidden; */
	opacity: 0;
	-webkit-transition: opacity 0.35 ease;
	-mos-transition: opacity 0.35 ease;
	-o-transition: opacity 0.35 ease;
	-ms-transition: opacity 0.35 ease;
	transition: opacity 0.35 ease;
}

.main__dropmenu__item {
	display: block !important;
}

.main__dropmenu__item > a,
.main__dropmenu__item > .wrap__dropmenu__subitem > a {
	display: block;
	padding: 0.75rem 1rem !important;
	background-color: rgba(28, 98, 165, 0.75);
	text-align: left !important;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #e6ecee !important;
}
.main__dropmenu__item > a:hover,
.main__dropmenu__item > .wrap__dropmenu__subitem > a:hover {
	background-color: white;
	text-shadow: none !important;
	color: #1c62a5 !important;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.main__dropmenu__item > .wrap__dropmenu__subitem > i {
	position: absolute;
	color: #e6ecee !important;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
}

.wrap__dropmenu__subitem:hover i {
	color: #1c62a5 !important;
}

.sub__dropmenu__item {
	display: block !important;
	padding: 0.75rem 1rem !important;
	background-color: rgba(21, 85, 145, 0.8);
	text-align: left !important;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #e6ecee !important;
}
.main-header .main-menu01 ul li .sub__dropmenu__item:hover {
	background-color: white;
}
.main-header .main-menu01 ul li .sub__dropmenu__item:hover a {
	color: #1c62a5;
}

.main-menu01 ul li .sub__dropmenu__item a {
	padding-left: 0;
	padding-right: 0;
	color: #e6ecee;
}
.main__dropmenu__item > .wrap__dropmenu__subitem > .dropmenu__subitem {
	padding: 0.75rem 1.75rem 0.75rem 1rem !important;
}

.wrap__dropmenu__subitem:hover .sub__dropmenu {
	display: block !important;
}

.wrap__dropmenu__subitem {
	position: relative;
}

.main-header .main-menu01 ul .sub__dropmenu {
	position: absolute;
	top: 0;
	left: 100%;
	padding: 0;
	font-size: 1.25rem;
	display: none;
}

body:not(.inner-page) .btn__main__dropmenu {
	font-size: 1.25rem;
	color: #3ba2dd;
	/* text-shadow: 1.414px 1.414px 2px rgba(0, 0, 0, 0.35); */
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
}

.main__dropmenu__wrap:hover body:not(.inner-page) .btn__main__dropmenu {
	color: #52c3cb;
}

body.inner-page .btn__main__dropmenu {
	display: block;
	color: #363d4c;
	text-shadow: none;
	padding: 2.35rem 1rem;
	position: relative;
	z-index: 1;
	font-size: 1.25rem;
}
.inner-page .main-header>div:not(#main-menu) .main-menu01 .btn__main__dropmenu a {
	padding: 0;
    display: contents;
    color: #363d4c;
}
body.inner-page .btn__main__dropmenu:before {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	background: #3ba2dd;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body.inner-page .main__dropmenu__wrap:hover .btn__main__dropmenu {
	color: #3ba2dd;
}
body.inner-page .main__dropmenu__wrap:hover .btn__main__dropmenu:before {
	opacity: 1;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body.inner-page .main__dropmenu {
	padding-top: 0 !important;
}

.footer {
	position: relative;
	border-top: 1.75rem solid #f5f5f5;
	color: #62708c;
}
.footer .footer-logo {
	width: 209px;
	max-width: 100%;
	margin-bottom: 1rem;
	padding-top: 2px;
}
.footer .footer-info {
	padding: 3rem 0 1rem 0;
}
.footer .f-office-title:after {
	content: ': ';
}
.footer .footer-office {
	padding-right: 1rem;
}
.footer .footer-office ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.footer .footer-office ul li {
	font-size: 1rem;
	line-height: 2em;
}
.footer .footer-office ul li a {
	color: #62708c;
}
.footer .subfooter {
	font-size: 0.88rem;
	padding: 1em 0;
}
.footer .subfooter a {
	color: #62708c;
}
.footer .pagetopbtn {
	cursor: pointer;
	opacity: 0.7;
	z-index: 888;
}
.footer .pagetopbtn:hover,
.footer .pagetopbtn:active,
.footer .pagetopbtn:focus {
	opacity: 1;
}
.footer .pagetopbtn .icon-cc {
	width: 7px;
	height: 7px;
	position: absolute;
	top: calc(50% - 3px);
	left: 0;
	border-left: 1px solid #c5d2eb;
	border-bottom: 1px solid #c5d2eb;
}
.footer .pagetopbtn .icon-cc.icon-arrow-up {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
@media all and (max-width: 1280px) {
	.footer .footer-logo {
		width: 160px;
	}
}
@media all and (max-width: 991px) {
	.footer .footer-logo {
		width: 120px;
	}
}
@media all and (max-width: 575px) {
	.footer .footer-office {
		margin-top: 0.5em;
		border-top: 1px solid rgba(197, 210, 235, 0.5);
	}
}

.page-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000000;
	pointer-events: none;
	background: #c5d2eb;
}
.page-loader .loader-word {
	letter-spacing: 5px;
	font-size: 1.75rem;
	color: #62708c;
	font-weight: bold;
}
.page-loader.fadeOutDown {
	opacity: 0;
	z-index: -99999;
	-webkit-transition: opacity 1.2s ease-in-out, z-index 1.5s linear;
	-moz-transition: opacity 1.2s ease-in-out, z-index 1.5s linear;
	-o-transition: opacity 1.2s ease-in-out, z-index 1.5s linear;
	transition: opacity 1.2s ease-in-out, z-index 1.5s linear;
}
.page-loader .loader-logo img {
	max-width: 100%;
}
@media all and (max-width: 768px) {
	.page-loader .loader-logo {
		width: 100px;
	}
}

.front-index.unprepared {
	overflow: hidden;
	max-width: 100vw;
	max-height: 100vh;
}

.front-index {
	font-size: 1.125rem;
	line-height: 1.25em;
}
.front-index p {
	line-height: 1.25em;
}
.front-index .owl-nav {
	margin: 2rem 0;
}
.front-index .owl-nav button {
	width: 4rem;
	height: 4rem;
	border: none;
	cursor: pointer;
}
.front-index .owl-nav button:focus,
.front-index .owl-nav button:active,
.front-index .owl-nav button:active {
	border: 0;
	outline: 0;
}
@media all and (max-width: 1199px) {
	.front-index .owl-nav button {
		width: 3.5rem;
		height: 3.5rem;
	}
}
@media all and (max-width: 991px) {
	.front-index .owl-nav button {
		width: 3rem;
		height: 3rem;
	}
}
.front-index .owl-nav button.owl-next {
	background: rgba(255, 255, 255, 0.15) url(../images/icons/icon-right.png)
		center center no-repeat;
}
.front-index .owl-nav button.owl-next:hover,
.front-index .owl-nav button.owl-next:active,
.front-index .owl-nav button.owl-next:focus {
	background: rgba(255, 255, 255, 0.15)
		url(../images/icons/icon-right-hover.png) center center no-repeat;
}
.front-index .owl-nav button.owl-prev {
	background: rgba(255, 255, 255, 0.15) url(../images/icons/icon-left.png)
		center center no-repeat;
	margin-right: 1rem;
}
.front-index .owl-nav button.owl-prev:hover,
.front-index .owl-nav button.owl-prev:active,
.front-index .owl-nav button.owl-prev:focus {
	background: rgba(255, 255, 255, 0.15)
		url(../images/icons/icon-left-hover.png) center center no-repeat;
}
.front-index div#customNav.disabled {
	display: none;
}
.front-index .btn-nav {
	display: block;
	width: 4rem;
	height: 4rem;
	border: none;
	cursor: pointer;
	background: #fcfcfc;
}
.front-index .btn-nav:focus,
.front-index .btn-nav:active,
.front-index .btn-nav:active {
	border: 0;
	outline: 0;
}
.front-index .btn-nav.btn-nav-next {
	background: #fcfcfc url(../images/icons/icon-right.png) center center
		no-repeat;
}
.front-index .btn-nav.btn-nav-next:hover,
.front-index .btn-nav.btn-nav-next:active,
.front-index .btn-nav.btn-nav-next:focus {
	background: #fcfcfc url(../images/icons/icon-right-hover.png) center center
		no-repeat;
}
.front-index .btn-nav.btn-nav-prev {
	background: #fcfcfc url(../images/icons/icon-left.png) center center
		no-repeat;
	margin-right: 1rem;
}
.front-index .btn-nav.btn-nav-prev:hover,
.front-index .btn-nav.btn-nav-prev:active,
.front-index .btn-nav.btn-nav-prev:focus {
	background: #fcfcfc url(../images/icons/icon-left-hover.png) center center
		no-repeat;
}
.front-index .btn-nav.inactive {
	opacity: 0.35;
	cursor: not-allowed;
}
.front-index .btn-nav.inactive.btn-nav-next:hover,
.front-index .btn-nav.inactive.btn-nav-next:active,
.front-index .btn-nav.inactive.btn-nav-next:focus {
	background: #fcfcfc url(../images/icons/icon-right.png) center center
		no-repeat;
}
.front-index .btn-nav.inactive.btn-nav-prev:hover,
.front-index .btn-nav.inactive.btn-nav-prev:active,
.front-index .btn-nav.inactive.btn-nav-prev:focus {
	background: #fcfcfc url(../images/icons/icon-left.png) center center
		no-repeat;
}
@media all and (max-width: 1199px) {
	.front-index .btn-nav {
		width: 3.5rem;
		height: 3.5rem;
	}
}
@media all and (max-width: 991px) {
	.front-index .btn-nav {
		width: 3rem;
		height: 3rem;
	}
}

.idx-banner-wrap {
	position: relative;
	z-index: 1;
	width: 100%;
	overflow: hidden;
}
.idx-banner-wrap:after {
	content: '';
	display: block;
	width: 17%;
	height: 100%;
	background: #fff url(../images/home/bg-bn02.png) top left no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.idx-banner-wrap #idx-banner-slider {
	width: 100%;
	max-width: 1920px;
}
.idx-banner-wrap #idxbnNav {
	position: absolute;
	right: 2rem;
	bottom: 1rem;
	z-index: 3;
}
.idx-banner-wrap .idx-bn-content {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-mos-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	bottom: 0;
	z-index: 3;
}
.idx-banner-wrap .idx-bn-content .idx-bn-context .main-slogan {
	font-size: 3.25rem;
	font-weight: 300;
	color: #1c62a5;
	letter-spacing: 4px;
	margin-bottom: 1rem;
}
.idx-banner-wrap .idx-bn-content .idx-bn-context .main-slogan p {
	margin-bottom: 0.5rem;
}
.idx-banner-wrap .idx-bn-content .idx-bn-context .main-slogan b {
	font-weight: bold;
}
.idx-banner-wrap .idx-bn-content .idx-bn-context .sub-slogan {
	font-size: 1.875rem;
	color: #62708c;
}
.idx-banner-wrap .idx-bn-content .idx-bn-context .sub-slogan p {
	line-height: 1.15em;
	margin-bottom: 0rem;
}
@media all and (max-width: 1480px) {
	.idx-banner-wrap .idx-bn-content .idx-bn-context .main-slogan {
		font-size: 2.25rem;
	}
	.idx-banner-wrap .idx-bn-content .idx-bn-context .sub-slogan {
		font-size: 1.25rem;
	}
	.idx-banner-wrap .idx-bn-content .idx-bn-context .sub-slogan p {
		margin-bottom: 0;
	}
}
@media all and (max-width: 991px) {
	.idx-banner-wrap {
		height: 440px;
	}
	.idx-banner-wrap .idx-bn-content .idx-bn-context .main-slogan {
		letter-spacing: 2px;
		font-size: 1.85rem;
	}
}
@media all and (max-width: 575px) {
	.idx-banner-wrap {
		height: 360px;
	}
}

.idx-sect {
	padding: 6.25rem 0;
}
.idx-sect .main-title {
	font-size: 3.75rem;
	line-height: 1.5em;
	font-weight: bold;
	margin-bottom: 0.35em;
}
@media all and (max-width: 1199px) {
	.idx-sect {
		padding: 5rem 0;
	}
	.idx-sect .main-title {
		font-size: 3rem;
	}
}
@media all and (max-width: 991px) {
	.idx-sect {
		padding: 4rem 0;
	}
	.idx-sect .main-title {
		font-size: 2.75rem;
	}
}
@media all and (max-width: 640px) {
	.idx-sect {
		padding: 3rem 0;
	}
}
@media all and (max-width: 572px) {
	.idx-sect {
		padding: 2rem 0;
	}
}

.idx-description {
	color: #62708c;
}
.idx-description p {
	line-height: 2em;
	margin-bottom: 0;
}

.idx-news-wrap {
	font-size: 1.125rem;
	padding: 7.5rem 0;
	position: relative;
}
.idx-news-wrap .main-title {
	margin-bottom: 1em;
}
.idx-news-wrap:before {
	content: '';
	width: 420px;
	height: 100%;
	background: url(../images/home/pic-idx-01.jpg) center left no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}
.idx-news-wrap .news-list .news-item {
	line-height: 1.25em;
	margin-bottom: 1em;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
}
.idx-news-wrap .news-list .news-item .idx-news-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.idx-news-wrap .news-list .news-item .idx-news-link:hover ~ *,
.idx-news-wrap .news-list .news-item .idx-news-link:hover ~ a,
.idx-news-wrap .news-list .news-item .idx-news-link:hover ~ * > a,
.idx-news-wrap .news-list .news-item .idx-news-link:active ~ *,
.idx-news-wrap .news-list .news-item .idx-news-link:active ~ a,
.idx-news-wrap .news-list .news-item .idx-news-link:active ~ * > a,
.idx-news-wrap .news-list .news-item .idx-news-link:focus ~ *,
.idx-news-wrap .news-list .news-item .idx-news-link:focus ~ a,
.idx-news-wrap .news-list .news-item .idx-news-link:focus ~ * > a {
	color: #52c3cb;
}
.idx-news-wrap .news-list a {
	color: #363d4c;
}
@media all and (max-width: 1480px) {
	.idx-news-wrap:before {
		opacity: 0.75;
	}
}
@media all and (max-width: 1199px) {
	.idx-news-wrap {
		padding: 3rem 0;
	}
	.idx-news-wrap:before {
		opacity: 0.35;
		width: 320px;
		height: 90%;
	}
	.idx-news-wrap .main-title {
		margin-bottom: 0.75em;
	}
}
@media all and (max-width: 991px) {
	.idx-news-wrap {
		padding: 1rem 0;
	}
	.idx-news-wrap:before {
		opacity: 0.03;
		width: 35%;
		height: 50%;
		background: #1c62a5;
	}
	.idx-news-wrap .main-title {
		margin-bottom: 0.5em;
	}
}
@media all and (max-width: 575px) {
	.idx-news-wrap:before {
		display: none;
	}
	.idx-news-wrap .news-list .news-item .date {
		font-size: 0.9rem;
		color: #62708c;
	}
}

.idx-prod-sect {
	padding: 3.5rem 0;
	background: url(../images/home/bg-prod.jpg) left center no-repeat;
	background-size: cover;
	position: relative;
}
.idx-prod-sect:before {
	content: '';
	width: 420px;
	height: 100%;
	background: url(../images/home/pic-idx-02.jpg) center right no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	background-attachment: fixed;
}
.idx-prod-sect .idx-prod-list {
	margin: 2rem 0;
}
.idx-prod-sect .idx-prod-list .owl-nav button.owl-next,
.idx-prod-sect .idx-prod-list .owl-nav button.owl-prev {
	background-color: #fcfcfc;
}
.idx-prod-sect .idx-prod-list .prod-pic {
	position: relative;
	margin-bottom: 1rem;
	background: url(../images/idx-prod-pattern.jpg) center center repeat;
}
.idx-prod-sect .idx-prod-list .prod-pic a {
	display: block;
	border: 6px solid #3ba2dd;
	overflow: hidden;
}
.idx-prod-sect .idx-prod-list .prod-pic a img {
	-webkit-transition: all 0.5s ease;
	-mos-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.idx-prod-sect .idx-prod-list .prod-pic a:hover {
	border-color: #52c3cb;
}
@media all and (min-width: 992px) {
	.idx-prod-sect .idx-prod-list .prod-pic a:hover img {
		-webkit-transition: all 0.5s ease;
		-mos-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
		-webkit-transform: rotate(5deg) scale(1.25);
		-moz-transform: rotate(5deg) scale(1.25);
		-ms-transform: rotate(5deg) scale(1.25);
		-o-transform: rotate(5deg) scale(1.25);
		transform: rotate(5deg) scale(1.25);
		opacity: 0.8;
	}
}
@media all and (max-width: 1480px) {
	.idx-prod-sect:before {
		opacity: 0.75;
	}
}
@media all and (max-width: 1199px) {
	.idx-prod-sect:before {
		opacity: 0.5;
	}
}
@media all and (max-width: 991px) {
	.idx-prod-sect:before {
		opacity: 0.3;
	}
}

.idx-application-wrap {
	position: relative;
	max-width: 100%;
}
.idx-application-wrap .global-animate {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 820px;
	height: 820px;
}
.idx-application-wrap .global-animate .globe-canvas {
	z-index: 1;
	position: absolute;
	left: -38%;
	top: -11%;
	width: 70%;
	height: 70%;
}
@media all and (max-width: 1140px) {
	.idx-application-wrap .global-animate {
		width: 580px;
		height: 580px;
	}
	.idx-application-wrap .global-animate .globe-canvas {
		opacity: 0.75;
	}
	.idx-application-wrap .global-animate img {
		width: 300px;
	}
}
@media all and (max-width: 991px) {
	.idx-application-wrap .global-animate .globe-canvas {
		opacity: 0.55;
	}
}
@media all and (max-width: 991px) {
	.idx-application-wrap .global-animate {
		opacity: 0.75;
	}
}
.idx-application-wrap .idx-app-list-wrap {
	width: 100%;
	padding-left: 18%;
	max-width: 1344px;
	position: relative;
}
.idx-application-wrap .idx-app-list-wrap .idx-app-list {
	width: 1268px;
	margin-top: 1rem;
}
.idx-application-wrap .idx-app-list-wrap .idx-app-list > div {
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	width: calc(100% / 5 - 1.2rem);
}
.idx-application-wrap .idx-app-list-wrap .idx-app-list > div:not(:last-child) {
	margin-right: 1rem;
}
.idx-application-wrap .idx-app-list-wrap .idx-app-list > div img {
	display: block;
	max-width: 100%;
	margin: auto;
}
.idx-application-wrap .idx-app-list-wrap .idx-app-list > div p {
	width: 100%;
	position: absolute;
	bottom: 1rem;
	text-align: center;
	color: #e6ecee;
	font-size: 1.125rem;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.35);
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.idx-application-wrap .idx-app-list-wrap .idx-app-list > div .idx-app-link {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.idx-application-wrap .idx-app-list-wrap .idx-app-list > div:hover p {
	bottom: 2rem;
	-webkit-transition: all 0.3s ease;
	-mos-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
@media all and (max-width: 1860px) {
	.idx-application-wrap .idx-app-list-wrap .idx-app-list {
		width: 1200px;
	}
}
@media all and (max-width: 1680px) {
	.idx-application-wrap .idx-app-list-wrap {
		padding-left: 20%;
	}
	.idx-application-wrap .idx-app-list-wrap .idx-app-list {
		width: 1140px;
	}
	.idx-application-wrap .idx-app-list-wrap .idx-app-list > div p {
		bottom: 0.5rem;
		font-size: 1rem;
	}
}
@media all and (max-width: 1540px) {
	.idx-application-wrap .idx-app-list-wrap {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.idx-application-wrap .idx-app-list-wrap .idx-app-list {
		width: 100%;
	}
}
@media all and (max-width: 991px) {
	.idx-application-wrap .idx-app-list-wrap {
		padding-left: 18%;
	}
	.idx-application-wrap .idx-app-list-wrap .idx-app-list > div {
		width: calc(100% / 3 - 1.25rem);
		margin-bottom: 0.5rem;
	}
}
@media all and (max-width: 768px) {
	.idx-application-wrap .idx-app-list-wrap {
		padding-left: 1rem;
	}
}
@media all and (max-width: 540px) {
	.idx-application-wrap .idx-app-list-wrap .idx-app-list > div {
		width: calc(100% / 2 - 1.25rem);
	}
}

.idx-about-wrap {
	position: relative;
	max-width: 100%;
}
.idx-about-wrap .idx-about-context h3 {
	font-size: 1.125rem;
	color: #3ba2dd;
	margin-bottom: 0.5em;
}
.idx-about-wrap .idx-core-wrap {
	width: 580px;
	height: 580px;
	position: absolute;
	right: 9%;
	top: 0;
	z-index: -1;
}
.idx-about-wrap .idx-core-wrap img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.idx-about-wrap .idx-core-wrap .idx-core-logo {
	opacity: 0;
}
.idx-about-wrap .idx-core-wrap .idx-core-logo.animation {
	-webkit-transition: all 3s ease;
	-mos-transition: all 3s ease;
	-o-transition: all 3s ease;
	-ms-transition: all 3s ease;
	transition: all 3s ease;
	opacity: 1;
	animation: animationFlip linear 4s;
	animation-iteration-count: 2;
	animation-delay: 2s;
	transform-origin: 50% 50%;
	-webkit-animation: animationFlip linear 4s;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-delay: 2s;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: animationFlip linear 4s;
	-moz-animation-iteration-count: 2;
	-moz-animation-delay: 2s;
	-moz-transform-origin: 50% 50%;
	-o-animation: animationFlip linear 4s;
	-o-animation-iteration-count: 2;
	-o-animation-delay: 2s;
	-o-transform-origin: 50% 50%;
	-ms-animation: animationFlip linear 4s;
	-ms-animation-iteration-count: 2;
	-ms-animation-delay: 2s;
	-ms-transform-origin: 50% 50%;
}
@media all and (min-width: 1921px) {
	.idx-about-wrap .idx-core-wrap {
		right: 10%;
	}
}
@media all and (max-width: 1280px) {
	.idx-about-wrap .idx-core-wrap {
		width: 500px;
		height: 500px;
		right: 5%;
	}
}
@media all and (max-width: 1199px) {
	.idx-about-wrap .idx-core-wrap {
		right: 3%;
		width: 440px;
		height: 440px;
	}
}
@media all and (max-width: 991px) {
	.idx-about-wrap .idx-core-wrap {
		position: relative;
		width: 480px;
		height: 480px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-mos-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
}
@media all and (max-width: 572px) {
	.idx-about-wrap .idx-core-wrap {
		position: relative;
		width: 320px;
		height: 320px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-mos-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
}
@media all and (max-width: 414px) {
	.idx-about-wrap .idx-core-wrap {
		position: relative;
		width: 310px;
		height: 310px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-mos-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
}
@media all and (max-width: 350px) {
	.idx-about-wrap .idx-core-wrap {
		position: relative;
		width: 280px;
		height: 280px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-mos-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
}

.idx-achievement-sect {
	position: relative;
}
.idx-achievement-sect .idx-achieve-item {
	color: #62708c;
	font-weight: bold;
	font-size: 1.125rem;
	margin-bottom: 1.25rem;
}
.idx-achievement-sect .idx-achieve-item p {
	line-height: 1.5em;
}
.idx-achievement-sect .idx-achieve-item .stat-number > span {
	color: #3ba2dd;
}
.idx-achievement-sect .idx-achieve-item .icon-achieve {
	position: relative;
}
.idx-achievement-sect .idx-achieve-item .icon-achieve > img:nth-child(2) {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	animation: animationFlip_longterm linear 7s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	-webkit-animation: animationFlip_longterm linear 7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: animationFlip_longterm linear 7s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 50%;
	-o-animation: animationFlip_longterm linear 7s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 50% 50%;
	-ms-animation: animationFlip_longterm linear 7s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 50% 50%;
}
.idx-achievement-sect .idx-achieve-item .icon-achieve img {
	max-width: initial;
}
.idx-achievement-sect .idx-global-map {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-mos-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: -1;
}
.idx-achievement-sect .idx-global-map .map-dot {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: #88bedd;
}
.idx-achievement-sect .idx-global-map .map-dot:before {
	content: '';
	display: block;
	width: 4rem;
	height: 4rem;
	border: 1px solid #88bedd;
	position: absolute;
	top: calc(-2rem + 7px);
	left: calc(-2rem + 7px);
	animation: puls ease-out 1.8s;
	animation-iteration-count: infinite;
	-webkit-animation: puls ease-out 1.8s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: puls ease-out 1.8s;
	-moz-animation-iteration-count: infinite;
	-o-animation: puls ease-out 1.8s;
	-o-animation-iteration-count: infinite;
	-ms-animation: puls ease-out 1.8s;
	-ms-animation-iteration-count: infinite;
}
.idx-achievement-sect .idx-global-map .map-dot--1 {
	top: 20%;
	left: 15%;
}
.idx-achievement-sect .idx-global-map .map-dot--2 {
	top: 40%;
	left: 24%;
}
.idx-achievement-sect .idx-global-map .map-dot--2:before {
	width: 5rem;
	height: 5rem;
	top: calc(-2.5rem + 7px);
	left: calc(-2.5rem + 7px);
}
.idx-achievement-sect .idx-global-map .map-dot--3 {
	top: 9%;
	left: 44.5%;
}
.idx-achievement-sect .idx-global-map .map-dot--4 {
	top: 24%;
	left: 70%;
}
.idx-achievement-sect .idx-global-map .map-dot--4:before {
	width: 2.5rem;
	height: 2.5rem;
	top: calc(-1.25rem + 7px);
	left: calc(-1.25rem + 7px);
}
.idx-achievement-sect .idx-global-map .map-dot--5 {
	top: 60%;
	left: 62%;
}
.idx-achievement-sect .idx-global-map .map-dot--5:before {
	width: 2.5rem;
	height: 2.5rem;
	top: calc(-1.25rem + 7px);
	left: calc(-1.25rem + 7px);
}
.idx-achievement-sect .idx-global-map .map-dot--6 {
	top: 37%;
	left: 91%;
}
.idx-achievement-sect .idx-global-map .map-dot--6:before {
	width: 2rem;
	height: 2rem;
	top: calc(-1rem + 7px);
	left: calc(-1rem + 7px);
}
.idx-achievement-sect .idx-global-map .map-dot--7 {
	top: 46%;
	left: 85%;
}
.idx-achievement-sect .idx-global-map .map-dot--7:before {
	width: 5.625rem;
	height: 5.625rem;
	top: calc(-2.8125rem + 7px);
	left: calc(-2.8125rem + 7px);
}
@media all and (max-width: 1140px) {
	.idx-achievement-sect .idx-global-map {
		opacity: 0.7;
	}
}
@media all and (max-width: 991px) {
	.idx-achievement-sect .idx-global-map {
		opacity: 0.5;
	}
}
@media all and (max-width: 572px) {
	.idx-achievement-sect .idx-global-map {
		opacity: 0.35;
	}
}

.idx-history-sect {
	position: relative;
	z-index: 1;
	min-height: 800px;
}
.idx-history-sect .main-title {
	max-width: calc(100% - 100px);
}
.idx-history-sect .btn-nav,
.idx-history-sect .btn-nav:focus,
.idx-history-sect .btn-nav:active,
.idx-history-sect .btn-nav:active {
	border: 1px solid #1c62a5;
}
.idx-history-sect .idx-history-pic-wrap {
	position: absolute;
	width: 32.5%;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-mos-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	left: 0;
	z-index: -1;
}
.idx-history-sect .idx-history-pic-wrap img {
	position: absolute;
	left: -2rem;
	z-index: 1;
}
.idx-history-sect .idx-history-pic-wrap img:not(:first-child) {
	position: relative;
	z-index: -1;
	left: 15%;
}
@media all and (max-width: 1580px) {
	.idx-history-sect .idx-history-pic-wrap img {
		left: -5rem;
	}
}
@media all and (max-width: 1480px) {
	.idx-history-sect .idx-history-pic-wrap {
		width: 28%;
	}
	.idx-history-sect .idx-history-pic-wrap img {
		left: -30%;
	}
	.idx-history-sect .idx-history-pic-wrap img:not(:first-child) {
		left: 5%;
	}
}
@media all and (max-width: 1280px) {
	.idx-history-sect .idx-history-pic-wrap {
		width: 22%;
	}
	.idx-history-sect .idx-history-pic-wrap img {
		left: -70%;
	}
	.idx-history-sect .idx-history-pic-wrap img:not(:first-child) {
		left: -20%;
	}
}
@media all and (max-width: 1199px) {
	.idx-history-sect {
		min-height: 640px;
	}
	.idx-history-sect .idx-history-pic-wrap {
		width: 25%;
	}
	.idx-history-sect .idx-history-pic-wrap img {
		width: 500px;
	}
	.idx-history-sect .idx-history-pic-wrap img:not(:first-child) {
		width: 460px;
		left: -30%;
	}
}
@media all and (max-width: 991px) {
	.idx-history-sect {
		min-height: 500px;
	}
	.idx-history-sect .cd-horizontal-timeline .events-content p,
	.idx-history-sect .cd-horizontal-timeline .events-content em {
		font-size: 1rem;
	}
	.idx-history-sect .idx-history-pic-wrap {
		top: -5%;
		opacity: 0.35;
	}
	.idx-history-sect .idx-history-pic-wrap img {
		left: -24%;
		width: 320px;
	}
	.idx-history-sect .idx-history-pic-wrap img:not(:first-child) {
		display: none;
	}
}
@media all and (max-width: 572px) {
	.idx-history-sect {
		padding-top: 4rem;
		min-height: 420px;
	}
	.idx-history-sect .idx-history-pic-wrap {
		top: 0;
	}
	.idx-history-sect .idx-history-pic-wrap img {
		width: 280px;
	}
}
@media all and (max-width: 480px) {
	.idx-history-sect {
		min-height: 380px;
	}
	.idx-history-sect .idx-history-pic-wrap img {
		width: 240px;
	}
}

.cc-timeline-wrap {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.owl-thumbs .owl-stage-outer {
	overflow: visible;
}
.owl-thumbs .owl-item {
	width: 78px;
	padding: 1rem 0;
	color: #adb8cc;
	position: relative;
	z-index: 2;
	cursor: pointer;
	text-align: center;
}
.owl-thumbs .owl-item:before {
	content: '';
	width: 12px;
	height: 12px;
	border: 3px solid #adb8cc;
	position: absolute;
	bottom: -5px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-mos-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	z-index: 0;
	background: white;
}
.owl-thumbs .owl-item:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: #e6ecee;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.owl-thumbs .owl-item.current,
.owl-thumbs .owl-item:hover,
.owl-thumbs .owl-item:focus {
	color: #1c62a5;
}
.owl-thumbs .owl-item.current:before,
.owl-thumbs .owl-item:hover:before,
.owl-thumbs .owl-item:focus:before {
	background: #1c62a5;
	border-color: #1c62a5;
}

.timeline {
	position: relative;
}
.timeline .owl-item em {
	display: block;
	font-style: normal;
	margin: 10px auto;
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	line-height: 1em;
	font-weight: bold;
	color: #62708c;
}
.timeline .owl-item p {
	font-size: 1rem;
	line-height: 1.75em;
}

#owl-timeline-nav {
	position: absolute;
	top: -7.5rem;
	right: 0;
}

#owl-timeline-nav button {
	border: 1px solid #adb8cc;
}

#owl-timeline-nav button:hover,
#owl-timeline-nav button:focus,
#owl-timeline-nav button:active,
#owl-timeline-nav button:active {
	border: 1px solid #1c62a5;
}

.owl-timeline {
	padding-top: 5rem;
}

.cd-timeline-navigation {
	position: absolute;
	top: -7.5rem;
	right: 0;
}

.cd-horizontal-timeline a {
	text-decoration: none;
}

.cd-horizontal-timeline {
	opacity: 0;
	margin: 2em auto;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cd-horizontal-timeline ol,
.cd-horizontal-timeline ul {
	list-style: none;
	padding: 10px;
}

.cd-horizontal-timeline::before {
	/* never visible - this is used in jQuery to check the current MQ */
	content: 'mobile';
	display: none;
}

.cd-horizontal-timeline.loaded {
	/* show the timeline after events position has been set (using JavaScript) */
	opacity: 1;
}

.cd-horizontal-timeline .timeline {
	position: relative;
	height: 4rem;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
.cd-horizontal-timeline .timeline:before {
	display: none;
}

.cd-horizontal-timeline .events-wrapper {
	position: relative;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before {
	/* these are used to create a shadow effect at the sides of the timeline */
	content: '';
	position: absolute;
	z-index: 2;
	top: 0;
	height: 100%;
	width: 20px;
}

.cd-horizontal-timeline .events-wrapper::before {
	left: 0;
	background-image: -webkit-linear-gradient(
		left,
		#ffffff,
		rgba(255, 255, 255, 0)
	);
	background-image: linear-gradient(
		to right,
		#ffffff,
		rgba(255, 255, 255, 0)
	);
}

.cd-horizontal-timeline .events-wrapper::after {
	right: 0;
	background-image: -webkit-linear-gradient(
		right,
		#ffffff,
		rgba(255, 255, 255, 0)
	);
	background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
}

.cd-horizontal-timeline .events {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 49px;
	height: 2px;
	background: #c5d2eb;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cd-horizontal-timeline .filling-line {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #1c62a5;
	-webkit-transform: scaleX(0.944661);
	-moz-transform: scaleX(0.944661);
	-ms-transform: scaleX(0.944661);
	-o-transform: scaleX(0.944661);
	transform: scaleX(0.944661);
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cd-horizontal-timeline .events a {
	position: absolute;
	bottom: 0;
	z-index: 2;
	text-align: center;
	font-size: 0.95rem;
	padding-bottom: 15px;
	color: #1c62a5;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.cd-horizontal-timeline .events a::after {
	/* this is used to create the event spot */
	content: '';
	position: absolute;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -5px;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: 3px solid #c5d2eb;
	background-color: white;
	-webkit-transition: background-color 0.3s, border-color 0.3s;
	-moz-transition: background-color 0.3s, border-color 0.3s;
	transition: background-color 0.3s, border-color 0.3s;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
	background-color: #1c62a5;
	border-color: #1c62a5;
}

.cd-horizontal-timeline .events a.selected {
	pointer-events: none;
}

.cd-horizontal-timeline .events a.selected::after {
	background-color: #1c62a5;
	border-color: #1c62a5;
}

@media only screen and (min-width: 1100px) {
	.cd-horizontal-timeline {
		margin: 1em auto;
		padding: 1em;
	}
}
.cd-horizontal-timeline::before {
	/* never visible - this is used in jQuery to check the current MQ */
	content: 'desktop';
}

.cd-horizontal-timeline .events-content {
	position: relative;
	width: 100%;
	margin: 2em 0;
	overflow: hidden;
	-webkit-transition: height 0.4s;
	-moz-transition: height 0.4s;
	transition: height 0.4s;
}

.cd-horizontal-timeline .events-content li {
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 0;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	padding: 0 5%;
	opacity: 0;
	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
	/* visible event content */
	position: relative;
	z-index: 2;
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	text-align: center;
}

.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
	-webkit-animation-name: cd-enter-right;
	-moz-animation-name: cd-enter-right;
	animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
	-webkit-animation-name: cd-enter-left;
	-moz-animation-name: cd-enter-left;
	animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
	-webkit-animation-direction: reverse;
	-moz-animation-direction: reverse;
	animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li > * {
	max-width: 800px;
	margin: 0 auto;
}

.cd-horizontal-timeline .events-content em {
	display: block;
	font-style: normal;
	margin: 10px auto;
}

.cd-horizontal-timeline .events-content p {
	display: block;
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	line-height: 2em;
}

.cd-horizontal-timeline .events-content p.color01 {
	color: #a0a0a0;
}

.cd-horizontal-timeline .events-content h3 {
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	line-height: 2em;
}

.cd-horizontal-timeline .events-content em {
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	line-height: 1em;
	font-weight: bold;
	color: #62708c;
}

@-webkit-keyframes cd-enter-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}
@-moz-keyframes cd-enter-right {
	0% {
		opacity: 0;
		-moz-transform: translateX(100%);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0%);
	}
}
@keyframes cd-enter-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}
@-webkit-keyframes cd-enter-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}
@-moz-keyframes cd-enter-left {
	0% {
		opacity: 0;
		-moz-transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0%);
	}
}
@keyframes cd-enter-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}
@-o-keyframes puls {
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-ms-keyframes puls {
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes puls {
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes puls {
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes puls {
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*# sourceMappingURL=custom-home.css.map */
