.wrap-filter {
  background-color: #f5f5f5; }

.row-filter {
  padding-top: 3rem;
  padding-bottom: 2rem; }
  .row-filter .col-12 {
    border-top: 1px solid #C5D2EB;
    border-left: 1px solid #C5D2EB;
    background-color: #fff; }
    .row-filter .col-12:nth-child(4n), .row-filter .col-12:last-child {
      border-right: 1px solid #C5D2EB; }
    .row-filter .col-12:nth-child(n+6) {
      border-bottom: 1px solid #C5D2EB; }

@media (max-width: 1200px) {
  .row-filter {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem; } }

@media (max-width: 540px) {
  .row-filter {
    padding-bottom: 24px; }
    .row-filter .col-12 {
      margin-bottom: 24px;
      border: 1px solid #C5D2EB; }
      .row-filter .col-12:last-child {
        margin-bottom: 0; } }

.row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  background-color: #1C62A5;
  color: #fff; }

@media (max-width: 768px) {
  .row-title {
    font-size: 16px; } }

@media (max-width: 540px) {
  .row-title {
    height: auto;
    padding: 12px 0px;
    font-size: 16px; } }

.row-options {
  padding: 1.2rem 3rem 0;
  height: 180px;
  overflow-y: scroll; }

@media (max-width: 540px) {
  .row-options {
    height: auto;
    max-height: 220px;
    padding-top: 12px; } }

.option {
  margin-top: 0.75rem; }
  .option:first-child {
    margin-top: 0; }
  .option label {
    margin: 0;
    position: relative;
    cursor: pointer; }
  .option input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer; }
  .option label:before {
    content: '';
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #C5D2EB;
    background-color: #fff;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0.75rem;
    margin-bottom: 0.25rem; }
  .option input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3.5px;
    left: 5px;
    width: 8px;
    height: 11px;
    border: solid #3BA2DD;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.option-disabled label {
  color: #C6C6C6 !important; }

.option-disabled label:before {
  border: 1px solid #C6C6C6 !important;
  background-color: #F5F5F5 !important; }

.row-options-value {
  height: 120px;
  background-color: #F5F5F5;
  padding: 0.75rem 1rem 0;
  margin: 1.2rem 1.2rem 0; }

.value-disabled label {
  color: #C6C6C6; }

.value-disabled input {
  border: 1px solid #C6C6C6 !important; }
  .value-disabled input:focus, .value-disabled input:active {
    border: 1px solid #C6C6C6 !important; }

.row-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.75rem; }
  .row-value .value:first-child {
    margin-right: 1.5rem; }
  .row-value input {
    width: 65px;
    font-size: 1rem;
    border: 1px solid #C5D2EB;
    border-radius: 5px;
    padding-left: 0.5rem; }
    .row-value input:focus, .row-value input:active {
      outline: none;
      border: 1px solid #3BA2DD; }
  .row-value label {
    margin: 0; }

@media (max-width: 1200px) {
  .row-value .value:first-child {
    margin-right: 1rem; }
  .row-value input {
    width: 50px; } }

@media (max-width: 540px) {
  .row-value .value:first-child {
    margin-right: 24px; }
  .row-value input {
    width: 60px; } }

.row-btn {
  padding: 1.2rem 0px; }

@media (max-width: 540px) {
  .row-btn {
    padding: 1rem 0px; } }

.btn-reset {
  padding: 0.75rem 3rem;
  display: inline-block;
  border: 1px solid #3BA2DD;
  border-radius: 5px;
  color: #3BA2DD;
  cursor: pointer; }
  .btn-reset:hover {
    background-color: #3BA2DD;
    color: #ffffff; }

.row-submit {
  padding: 0rem 0px 3rem; }

@media (max-width: 540px) {
  .row-submit {
    padding: 0px 0px 24px; } }

.btn-submit {
  padding: 0.75rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #3BA2DD;
  color: #ffffff;
  cursor: pointer; }
  .btn-submit:hover {
    background-color: #52C3CB; }
  .btn-submit .fa-search {
    margin-right: 0.5rem; }

@media (max-width: 540px) {
  .btn-submit {
    font-size: 18px;
    border-radius: 10px;
    padding: 14px 40px; } }

.row-result {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .row-result .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .row-result .result h4 {
      font-size: 14px;
      margin: 0; }
    .row-result .result .between-result {
      color: #1C62A5;
      margin: 0px 4px;
      font-size: 18px; }
  .row-result .btn-all-reset {
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px #3BA2DD;
    color: #3BA2DD;
    cursor: pointer;
    font-size: 14px;
    display: inline-block; }
    .row-result .btn-all-reset:hover {
      border: solid 1px #52C3CB;
      color: #52C3CB; }

@media (max-width: 1200px) {
  .row-result {
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 768px) {
  .row-result .result {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 8px; }
    .row-result .result h4 {
      line-height: 18px; } }

@media (max-width: 540px) {
  .row-result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .row-result .result {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      margin-bottom: 16px; }
      .row-result .result h4 {
        line-height: 18px; }
    .row-result .btn-all-reset {
      width: 130px; } }

.row-data .table-responsive {
  margin-top: 1rem;
  margin-bottom: 2rem; }

.row-data th, .row-data td {
  white-space: nowrap; }

.row-data .table th, .row-data .table td {
  padding: 1rem; }

.row-data th {
  background-color: #1C62A5;
  color: #fff; }

.row-data .table tr th {
  border-top: 1px solid #C5D2EB;
  border-bottom: 1px solid #C5D2EB;
  border-left: 1px solid #C5D2EB; }
  .row-data .table tr th:last-child {
    border-right: 1px solid #C5D2EB; }

.row-data .table tr td {
  border-bottom: 1px solid #C5D2EB;
  border-left: 1px solid #C5D2EB; }
  .row-data .table tr td:last-child {
    border-right: 1px solid #C5D2EB; }

.row-data .prod-design-data-wrap {
  overflow: hidden; }

.row-data a {
  text-decoration: underline; }

.row-data .btn-contact-product {
  padding: 0.75rem 1rem;
  border-radius: 5px;
  background-color: #3BA2DD;
  color: #fff;
  cursor: pointer;
  text-decoration: none; }
  .row-data .btn-contact-product:hover {
    background-color: #52C3CB; }

@media (max-width: 1200px) {
  .row-data {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 540px) {
  .row-data .prod-design-data-wrap {
    padding-bottom: 36px; }
  .row-data .table-responsive {
    margin-bottom: 12px; }
  .row-data th {
    font-size: 16px; }
  .row-data .table th, .row-data .table td {
    padding: 20px 28px; } }

.row-page-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .row-page-number .page-link {
    color: #363D4C;
    border: 1px solid #C5D2EB;
    text-decoration: none; }
    .row-page-number .page-link:hover {
      background-color: #C5D2EB;
      color: #363D4C; }
  .row-page-number li:first-child a {
    border-radius: 5px 0px 0px 5px; }
  .row-page-number li:last-child a {
    border-radius: 0px 5px 5px 0px; }
  .row-page-number .active a {
    background-color: #3BA2DD !important;
    color: #fff !important; }

@media (max-width: 540px) {
  .row-page-number .page-link {
    font-size: 16px;
    padding: 8px 14px; }
  .pagination {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.noUi-target {
  cursor: pointer; }
  .noUi-target:focus {
    outline: none; }

.noUi-horizontal {
  height: 3px;
  border: none; }

.noUi-connect {
  background: #30A6E8; }

.noUi-base {
  background: #c6c6c6; }

.noUi-horizontal .noUi-handle {
  top: -6px;
  right: -8px;
  width: 16px;
  height: 16px;
  background: #30A6E8;
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  cursor: pointer;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s; }
  .noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
    content: none; }
  .noUi-horizontal .noUi-handle:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .noUi-horizontal .noUi-handle:focus {
    outline: none;
    content: none; }

.noUi-touch-area:focus {
  outline: none; }

/* styles for filter */
.row-slider {
  padding: 1.2rem 3rem 0; }

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.filter-label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0; }

.filter-input {
  height: 32px;
  border: 1px solid #c5d2eb;
  border-radius: 5px;
  padding: 0 0px;
  cursor: pointer;
  max-width: 50px;
  text-align: center; }
  .filter-input:focus {
    border: 1px solid #30A6E8;
    outline: none; }

.filter-slider-price {
  width: 75%;
  margin: 20px 5px; }

@media (max-width: 540px) {
  .filter-slider-price {
    width: 80%; } }
