@charset "utf-8"
@font-face
    font-family: Roboto
    src: url(../fonts/Roboto/Roboto-Regular.ttf)
// font
$font-family-base: Roboto, 'Helvetica Neue', Helvetica, Arial, Noto Sans CJK TC, 'Noto Sans CJK TC', 微軟正黑體, '微軟正黑體', Microsoft JhengHei, 'Microsoft JhengHei', sans-serif !default

// colors
$base-color: #1c62a5
$base-color2: #3ba2dd
$base-color3: rgb(98, 112, 140)
$base-color4: #c5d2eb
$base-color5: #52c3cb
$base-color6: #88bedd
$base-color7: #2895d2
$base-color8: #262b35

$text-dark: #363d4c
$text-light: #62708c
$text-lighter: #adb8cc
$text-white: #e6ecee

$gray-color: #f5f5f5
$gray-color2: #f0f0f0
$gray-color3: #f7f7f7
$gray-color4: #cccccc

$blue01: #7bcaea
$blue02: #5c93c9

.text-base
    color: $base-color

