.page-loader
    position: fixed
    top: 0
    left: 0
    +size(100%, 100%)
    z-index: 100000000
    pointer-events: none
    background: $base-color4
    .loader-word
        letter-spacing: 5px
        font-size: 1.75rem
        color: $text-light
        font-weight: bold
    &.fadeOutDown
        opacity: 0
        z-index: -99999
        -webkit-transition: opacity 1.2s ease-in-out, z-index 1.5s linear
        -moz-transition: opacity 1.2s ease-in-out, z-index 1.5s linear
        -o-transition: opacity 1.2s ease-in-out, z-index 1.5s linear
        transition: opacity 1.2s ease-in-out, z-index 1.5s linear
    .loader-logo
        img
            max-width: 100%
    @media all and (max-width: 768px)
        .loader-logo
            width: 100px
.front-index.unprepared
    overflow: hidden
    max-width: 100vw
    max-height: 100vh

.front-index
    font-size: 1.125rem
    line-height: 1.25em
    p
        line-height: 1.25em
    .owl-nav
        margin: 2rem 0
        button
            +size(4rem, 4rem)
            border: none
            cursor: pointer
            &:focus, &:active, &:active
                border: 0
                outline: 0
            @media all and (max-width: 1199px)
                +size(3.5rem, 3.5rem)
            @media all and (max-width: 991px)
                +size(3rem, 3rem)
        button.owl-next
            background: rgba(white, .15) url(../images/icons/icon-right.png) center center no-repeat
            &:hover, &:active, &:focus
                background: rgba(white, .15) url(../images/icons/icon-right-hover.png) center center no-repeat
        button.owl-prev
            background: rgba(white, .15) url(../images/icons/icon-left.png) center center no-repeat
            margin-right: 1rem
            &:hover, &:active, &:focus
                background: rgba(white, .15) url(../images/icons/icon-left-hover.png) center center no-repeat
    div#customNav.disabled
        display: none
    .btn-nav
        display: block
        +size(4rem, 4rem)
        border: none
        cursor: pointer
        background: #fcfcfc
        &:focus, &:active, &:active
            border: 0
            outline: 0
        &.btn-nav-next
            background: #fcfcfc url(../images/icons/icon-right.png) center center no-repeat
            &:hover, &:active, &:focus
                background: #fcfcfc url(../images/icons/icon-right-hover.png) center center no-repeat
        &.btn-nav-prev
            background: #fcfcfc url(../images/icons/icon-left.png) center center no-repeat
            margin-right: 1rem
            &:hover, &:active, &:focus
                background: #fcfcfc url(../images/icons/icon-left-hover.png) center center no-repeat
        &.inactive
            opacity: .35
            cursor: not-allowed
            &.btn-nav-next:hover, &.btn-nav-next:active, &.btn-nav-next:focus
                background: #fcfcfc url(../images/icons/icon-right.png) center center no-repeat
            &.btn-nav-prev:hover, &.btn-nav-prev:active, &.btn-nav-prev:focus
                background: #fcfcfc url(../images/icons/icon-left.png) center center no-repeat
        @media all and (max-width: 1199px)
            +size(3.5rem, 3.5rem)
        @media all and (max-width: 991px)
            +size(3rem, 3rem)

.idx-banner-wrap
    position: relative
    z-index: 1
    width: 100%
    overflow: hidden
    &:after
        content: ""
        display: block
        +size(17%, 100%)
        background: #fff url(../images/home/bg-bn02.png) top left no-repeat
        background-size: contain
        position: absolute
        top: 0
        left: 0
        z-index: 2
    #idx-banner-slider
        width: 100%
        max-width: 1920px
    #idxbnNav
        position: absolute
        right: 2rem
        bottom: 1rem
        z-index: 3
    .idx-bn-content
        position: absolute
        +h_center
        bottom: 0
        z-index: 3
        .idx-bn-context
            .main-slogan
                font-size: 3.25rem
                font-weight: 300
                color: $base-color
                letter-spacing: 4px
                margin-bottom: 1rem
                p
                    margin-bottom: .5rem
                b
                    font-weight: bold
            .sub-slogan
                font-size: 1.875rem
                color: $text-light
                p
                    line-height: 1.15em
                    margin-bottom: 0rem
    @media all and (max-width: 1480px)
        .idx-bn-content
            .idx-bn-context
                .main-slogan
                    font-size: 2.25rem
                .sub-slogan
                    font-size: 1.25rem
                    p
                        margin-bottom: 0
    @media all and (max-width: 1280px)
    @media all and (max-width: 1199px)

    @media all and (max-width: 991px)
        height: 440px
        .idx-bn-content .idx-bn-context .main-slogan
            letter-spacing: 2px
            font-size: 1.85rem
    @media all and (max-width: 575px)
        height: 360px
.idx-sect
    padding: 6.25rem 0
    .main-title
        font-size: 3.75rem
        line-height: 1.5em
        font-weight: bold
        margin-bottom: .35em
    @media all and (max-width: 1199px)
        padding: 5rem 0
        .main-title
            font-size: 3rem
    @media all and (max-width: 991px)
        padding: 4rem 0
        .main-title
            font-size: 2.75rem
    @media all and (max-width: 640px)
        padding: 3rem 0
    @media all and (max-width: 572px)
        padding: 2rem 0
.idx-description
    color: $text-light
    p
        line-height: 2em
        margin-bottom: 0
.idx-news-wrap
    font-size: 1.125rem
    padding: 7.5rem 0
    position: relative
    .main-title
        margin-bottom: 1em
    &:before
        content: ""
        +size(420px, 100%)
        background: url(../images/home/pic-idx-01.jpg) center left no-repeat
        position: absolute
        top: 0
        left: 0
    .news-list
        .news-item
            line-height: 1.25em
            margin-bottom: 1em
            border-bottom: 1px solid #f0f0f0
            position: relative
            .idx-news-link
                position: absolute
                +size(100%, 100%)
                top: 0
                left: 0
                z-index: 1
                &:hover, &:active, &:focus
                    ~ *, ~ a, ~ * > a
                        color: $base-color5
        a
            color: $text-dark
    @media all and (max-width: 1480px)
        &:before
            opacity: .75
    @media all and (max-width: 1199px)
        padding: 3rem 0
        &:before
            opacity: .35
            +size(320px, 90%)
        .main-title
            margin-bottom: .75em
    @media all and (max-width: 991px)
        padding: 1rem 0
        &:before
            opacity: .03
            +size(35%, 50%)
            background: $base-color
        .main-title
            margin-bottom: .5em
    @media all and (max-width: 575px)
        &:before
            display: none
        .news-list
            .news-item
                .date
                    font-size: .9rem
                    color: $text-light
.idx-prod-sect
    padding: 3.5rem 0
    background: url(../images/home/bg-prod.jpg) left center no-repeat
    background-size: cover
    position: relative
    &:before
        content: ""
        +size(420px, 100%)
        background: url(../images/home/pic-idx-02.jpg) center right no-repeat
        position: absolute
        top: 0
        right: 0
        background-attachment: fixed
    .idx-prod-list
        margin: 2rem 0
        .owl-nav
            button.owl-next, button.owl-prev
                background-color: #fcfcfc
        .prod-pic
            position: relative
            margin-bottom: 1rem
            background: url(../images/idx-prod-pattern.jpg) center center repeat
            a
                display: block
                border: 6px solid $base-color2
                overflow: hidden
                img
                    +animate_ease_second(all, .5s)
                &:hover
                    border-color: $base-color5
    @media all and (min-width: 992px)
        .idx-prod-list .prod-pic a:hover img
            +animate_ease_second(all, .5s)
            -webkit-transform: rotate(5deg) scale(1.25)
            -moz-transform: rotate(5deg) scale(1.25)
            -ms-transform: rotate(5deg) scale(1.25)
            -o-transform: rotate(5deg) scale(1.25)
            transform: rotate(5deg) scale(1.25)
            opacity: .8
    @media all and (max-width: 1480px)
        &:before
            opacity: .75
    @media all and (max-width: 1199px)
        &:before
            opacity: .5
    @media all and (max-width: 991px)
        &:before
            opacity: .3
.idx-application-wrap
    position: relative
    max-width: 100%
    .global-animate
        position: absolute
        left: 0
        top: 0
        z-index: -1
        +size(820px, 820px)
        .globe-canvas
            z-index: 1
            position: absolute
            left: -38%
            top: -11%
            +size(70%, 70%)
        @media all and (max-width: 1140px)
            +size(580px, 580px)
            .globe-canvas
                opacity: .75
            img
                width: 300px
        @media all and (max-width: 991px)
            .globe-canvas
                opacity: .55
        @media all and (max-width: 991px)
            opacity: .75
    .idx-app-list-wrap
        width: 100%
        padding-left: 18%
        max-width: 1344px
        position: relative
        .idx-app-list
            width: 1268px
            margin-top: 1rem
            > div
                display: inline-block
                vertical-align: top
                position: relative
                @extend .bbradius-12
                overflow: hidden
                width: calc(100% / 5 - 1.2rem)
                &:not(:last-child)
                    margin-right: 1rem
                img
                    display: block
                    max-width: 100%
                    margin: auto
                p
                    width: 100%
                    position: absolute
                    bottom: 1rem
                    text-align: center
                    color: $text-white
                    font-size: 1.125rem
                    text-shadow: 0px 2px 1px rgba(black, 0.35)
                    +animation_ease
                .idx-app-link
                    position: absolute
                    top: 0
                    bottom: 0
                    +size(100%, 100%)
                &:hover p
                    bottom: 2rem
                    +animation_ease
    @media all and (max-width: 1860px)
        .idx-app-list-wrap
            .idx-app-list
                width: 1200px
    @media all and (max-width: 1680px)
        .idx-app-list-wrap
            padding-left: 20%
            .idx-app-list
                width: 1140px
                > div
                    p
                        bottom: .5rem
                        font-size: 1rem
    @media all and (max-width: 1540px)
        .idx-app-list-wrap
            padding-left: 1rem
            padding-right: 1rem
            .idx-app-list
                width: 100%
    @media all and (max-width: 991px)
        .idx-app-list-wrap
            padding-left: 18%
            .idx-app-list
                > div
                    width: calc(100% / 3 - 1.25rem)
                    margin-bottom: .5rem
    @media all and (max-width: 768px)
        .idx-app-list-wrap
            padding-left: 1rem
    @media all and (max-width: 540px)
        .idx-app-list-wrap
            .idx-app-list
                > div
                    width: calc(100% / 2 - 1.25rem)
        
.idx-about-wrap
    position: relative
    max-width: 100%
    .idx-about-context
        h3
            font-size: 1.125rem
            color: $base-color2
            margin-bottom: .5em
    .idx-core-wrap
        +size(580px, 580px)
        position: absolute
        right: 9%
        top: 0
        z-index: -1
        img
            +size(100%, 100%)
            position: absolute
            top: 0
            left: 0
        .idx-core-logo
            opacity: 0
        .idx-core-logo.animation
            +animate_ease_second(all, 3s)
            opacity: 1
            animation: animationFlip linear 4s
            animation-iteration-count: 2
            animation-delay: 2s
            transform-origin: 50% 50%
            -webkit-animation: animationFlip linear 4s
            -webkit-animation-iteration-count: 2
            -webkit-animation-delay: 2s
            -webkit-transform-origin: 50% 50%
            -moz-animation: animationFlip linear 4s
            -moz-animation-iteration-count: 2
            -moz-animation-delay: 2s
            -moz-transform-origin: 50% 50%
            -o-animation: animationFlip linear 4s
            -o-animation-iteration-count: 2
            -o-animation-delay: 2s
            -o-transform-origin: 50% 50%
            -ms-animation: animationFlip linear 4s
            -ms-animation-iteration-count: 2
            -ms-animation-delay: 2s
            -ms-transform-origin: 50% 50%
    @media all and (min-width: 1921px)
        .idx-core-wrap
            right: 10%
    @media all and (max-width: 1280px)
        .idx-core-wrap
            +size(500px, 500px)
            right: 5%
    @media all and (max-width: 1199px)
        .idx-core-wrap
            right: 3%
            +size(440px, 440px)
    @media all and (max-width: 991px)
        .idx-core-wrap
            position: relative
            +size(480px, 480px)
            +h_center
    @media all and (max-width: 572px)
        .idx-core-wrap
            position: relative
            +size(320px, 320px)
            +h_center
    @media all and (max-width: 414px)
        .idx-core-wrap
            position: relative
            +size(310px, 310px)
            +h_center
    @media all and (max-width: 350px)
        .idx-core-wrap
            position: relative
            +size(280px, 280px)
            +h_center
// achieve
.idx-achievement-sect
    position: relative
    .idx-achieve-item
        color: $text-light
        font-weight: bold
        font-size: 1.125rem
        margin-bottom: 1.25rem
        p
            line-height: 1.5em
        .stat-number > span
            color: $base-color2
        .icon-achieve
            position: relative
            > img:nth-child(2)
                +size(100%, 100%)
                position: absolute
                top: 0
                left: 0
                z-index: 1
                animation: animationFlip_longterm linear 7s
                animation-iteration-count: infinite
                transform-origin: 50% 50%
                -webkit-animation: animationFlip_longterm linear 7s
                -webkit-animation-iteration-count: infinite
                -webkit-transform-origin: 50% 50%
                -moz-animation: animationFlip_longterm linear 7s
                -moz-animation-iteration-count: infinite
                -moz-transform-origin: 50% 50%
                -o-animation: animationFlip_longterm linear 7s
                -o-animation-iteration-count: infinite
                -o-transform-origin: 50% 50%
                -ms-animation: animationFlip_longterm linear 7s
                -ms-animation-iteration-count: infinite
                -ms-transform-origin: 50% 50%
            img
                max-width: initial
    .idx-global-map
        position: absolute
        right: 0
        +v_center
        z-index: -1
        .map-dot
            +size(15px, 15px)
            position: absolute
            top: 0
            left: 0
            z-index: 1
            background: $base-color6
            @extend .bbradius-20
            &:before
                content: ""
                display: block
                +size(4rem, 4rem)
                border: 1px solid $base-color6
                position: absolute
                top: calc(-2rem + 7px)
                left: calc(-2rem + 7px)
                @extend .bbradius-90
                animation: puls ease-out 1.8s
                animation-iteration-count: infinite
                -webkit-animation: puls ease-out 1.8s
                -webkit-animation-iteration-count: infinite
                -moz-animation: puls ease-out 1.8s
                -moz-animation-iteration-count: infinite
                -o-animation: puls ease-out 1.8s
                -o-animation-iteration-count: infinite
                -ms-animation: puls ease-out 1.8s
                -ms-animation-iteration-count: infinite
        .map-dot--1
            top: 20%
            left: 15%
        .map-dot--2
            top: 40%
            left: 24%
            &:before
                +size(5rem, 5rem)
                top: calc(-2.5rem + 7px)
                left: calc(-2.5rem + 7px)
        .map-dot--3
            top: 9%
            left: 44.5%
        .map-dot--4
            top: 24%
            left: 70%
            &:before
                +size(2.5rem, 2.5rem)
                top: calc(-1.25rem + 7px)
                left: calc(-1.25rem + 7px)
        .map-dot--5
            top: 60%
            left: 62%
            &:before
                +size(2.5rem, 2.5rem)
                top: calc(-1.25rem + 7px)
                left: calc(-1.25rem + 7px)
        .map-dot--6
            top: 37%
            left: 91%
            &:before
                +size(2rem, 2rem)
                top: calc(-1rem + 7px)
                left: calc(-1rem + 7px)
        .map-dot--7
            top: 46%
            left: 85%
            &:before
                +size(5.625rem, 5.625rem)
                top: calc(-2.8125rem + 7px)
                left: calc(-2.8125rem + 7px)
        @media all and (max-width: 1140px)
            opacity: .7
        @media all and (max-width: 991px)
            opacity: .5
        @media all and (max-width: 572px)
            opacity: .35

// history
.idx-history-sect
    position: relative
    z-index: 1
    min-height: 800px
    .main-title
        max-width: calc(100% - 100px)
    .btn-nav, .btn-nav:focus, .btn-nav:active, .btn-nav:active
        border: 1px solid $base-color
    .idx-history-pic-wrap
        position: absolute
        width: 32.5%
        +v_center
        left: 0
        z-index: -1
        img
            position: absolute
            left: -2rem
            z-index: 1
            &:not(:first-child)
                position: relative
                z-index: -1
                left: 15%
    @media all and (max-width: 1580px)
        .idx-history-pic-wrap
            img
                left: -5rem
    @media all and (max-width: 1480px)
        .idx-history-pic-wrap
            width: 28%
            img
                left: -30%
            img:not(:first-child)
                left: 5%
    @media all and (max-width: 1280px)
        .idx-history-pic-wrap
            width: 22%
            img
                left: -70%
            img:not(:first-child)
                left: -20%
    @media all and (max-width: 1199px)
        min-height: 640px
        .idx-history-pic-wrap
            width: 25%
            img
                width: 500px
            img:not(:first-child)
                width: 460px
                left: -30%
    @media all and (max-width: 991px)
        min-height: 500px
        .cd-horizontal-timeline .events-content p, .cd-horizontal-timeline .events-content em
            font-size: 1rem
        .idx-history-pic-wrap
            top: -5%
            opacity: .35
            img
                left: -24%
                width: 320px
            img:not(:first-child)
                display: none
    @media all and (max-width: 572px)
        padding-top: 4rem
        min-height: 420px
        .idx-history-pic-wrap
            top: 0
            img
                width: 280px
    @media all and (max-width: 480px)
        min-height: 380px
        .idx-history-pic-wrap
            img
                width: 240px

// timeline
.cc-timeline-wrap
    position: relative
    overflow: hidden
    z-index: 1
.owl-thumbs
    .owl-stage-outer
        overflow: visible
    .owl-item
        width: 78px
        padding: 1rem 0
        color: $text-lighter
        position: relative
        z-index: 2
        cursor: pointer
        text-align: center
        &:before
            content: ""
            +size(12px, 12px)
            border: 3px solid $text-lighter
            @extend .bbradius-20
            position: absolute
            bottom: -5px
            +h_center
            z-index: 0
            background: white
        &:after
            content: ""
            display: block
            +size(100%, 2px)
            background: $text-white
            position: absolute
            bottom: 0
            left: 0
            z-index: -1
        &.current, &:hover, &:focus
            color: $base-color
            &:before
                background: $base-color
                border-color: $base-color

.timeline
    position: relative
    .owl-item
        em
            display: block
            font-style: normal
            margin: 10px auto
            font-size: 1.5rem
            letter-spacing: 1.5px
            line-height: 1em
            font-weight: bold
            color: $text-light
        p
            font-size: 1rem
            line-height: 1.75em
#owl-timeline-nav
    position: absolute
    top: -7.5rem
    right: 0
#owl-timeline-nav button
    border: 1px solid $text-lighter
#owl-timeline-nav button:hover,
#owl-timeline-nav button:focus,
#owl-timeline-nav button:active,
#owl-timeline-nav button:active
    border: 1px solid $base-color
.owl-timeline
    padding-top: 5rem

.cd-timeline-navigation
    position: absolute
    top: -7.5rem
    right: 0
.cd-horizontal-timeline a
    text-decoration: none
.cd-horizontal-timeline
    opacity: 0
    margin: 2em auto
    -webkit-transition: opacity 0.2s
    -moz-transition: opacity 0.2s
    transition: opacity 0.2s
.cd-horizontal-timeline ol,
.cd-horizontal-timeline ul
    list-style: none
    padding: 10px
.cd-horizontal-timeline::before
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile'
    display: none
.cd-horizontal-timeline.loaded
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1
.cd-horizontal-timeline .timeline
    position: relative
    height: 4rem
    width: 100%
    max-width: 800px
    margin: 0 auto
    &:before
        display: none
.cd-horizontal-timeline .events-wrapper
    position: relative
    height: 100%
    margin: 0
    overflow: hidden
.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before
    /* these are used to create a shadow effect at the sides of the timeline */
    content: ''
    position: absolute
    z-index: 2
    top: 0
    height: 100%
    width: 20px
.cd-horizontal-timeline .events-wrapper::before
    left: 0
    background-image: -webkit-linear-gradient( left, #ffffff, rgba(255, 255, 255, 0))
    background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0))
.cd-horizontal-timeline .events-wrapper::after
    right: 0
    background-image: -webkit-linear-gradient( right, #ffffff, rgba(255, 255, 255, 0))
    background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0))
.cd-horizontal-timeline .events
    position: absolute
    z-index: 1
    left: 0
    top: 49px
    height: 2px
    background: $base-color4
    -webkit-transition: -webkit-transform 0.4s
    -moz-transition: -moz-transform 0.4s
    transition: transform 0.4s
.cd-horizontal-timeline .filling-line
    position: absolute
    z-index: 1
    left: 0
    top: 0
    height: 100%
    width: 100%
    background-color: $base-color
    -webkit-transform: scaleX(0.944661)
    -moz-transform: scaleX(0.944661)
    -ms-transform: scaleX(0.944661)
    -o-transform: scaleX(0.944661)
    transform: scaleX(0.944661)
    -webkit-transform-origin: left center
    -moz-transform-origin: left center
    -ms-transform-origin: left center
    -o-transform-origin: left center
    transform-origin: left center
    -webkit-transition: -webkit-transform 0.3s
    -moz-transition: -moz-transform 0.3s
    transition: transform 0.3s
.cd-horizontal-timeline .events a
    position: absolute
    bottom: 0
    z-index: 2
    text-align: center
    font-size: .95rem
    padding-bottom: 15px
    color: $base-color
    -webkit-transform: translateZ(0)
    -moz-transform: translateZ(0)
    -ms-transform: translateZ(0)
    -o-transform: translateZ(0)
    transform: translateZ(0)
.cd-horizontal-timeline .events a::after
    /* this is used to create the event spot */
    content: ''
    position: absolute
    left: 50%
    right: auto
    -webkit-transform: translateX(-50%)
    -moz-transform: translateX(-50%)
    -ms-transform: translateX(-50%)
    -o-transform: translateX(-50%)
    transform: translateX(-50%)
    bottom: -5px
    height: 12px
    width: 12px
    border-radius: 50%
    border: 3px solid $base-color4
    background-color: white
    -webkit-transition: background-color 0.3s, border-color 0.3s
    -moz-transition: background-color 0.3s, border-color 0.3s
    transition: background-color 0.3s, border-color 0.3s
.no-touch .cd-horizontal-timeline .events a:hover::after
    background-color: $base-color
    border-color: $base-color
.cd-horizontal-timeline .events a.selected
    pointer-events: none
.cd-horizontal-timeline .events a.selected::after
    background-color: $base-color
    border-color: $base-color
@media only screen and (min-width: 1100px)
    .cd-horizontal-timeline
        margin: 1em auto
        padding: 1em
.cd-horizontal-timeline::before
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop'
.cd-horizontal-timeline .events-content
    position: relative
    width: 100%
    margin: 2em 0
    overflow: hidden
    -webkit-transition: height 0.4s
    -moz-transition: height 0.4s
    transition: height 0.4s
.cd-horizontal-timeline .events-content li
    position: absolute
    z-index: 1
    width: 100%
    left: 0
    top: 0
    -webkit-transform: translateX(-100%)
    -moz-transform: translateX(-100%)
    -ms-transform: translateX(-100%)
    -o-transform: translateX(-100%)
    transform: translateX(-100%)
    padding: 0 5%
    opacity: 0
    -webkit-animation-duration: 0.4s
    -moz-animation-duration: 0.4s
    animation-duration: 0.4s
    -webkit-animation-timing-function: ease-in-out
    -moz-animation-timing-function: ease-in-out
    animation-timing-function: ease-in-out
.cd-horizontal-timeline .events-content li.selected
    /* visible event content */
    position: relative
    z-index: 2
    opacity: 1
    -webkit-transform: translateX(0)
    -moz-transform: translateX(0)
    -ms-transform: translateX(0)
    -o-transform: translateX(0)
    transform: translateX(0)
    text-align: center
.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right
    -webkit-animation-name: cd-enter-right
    -moz-animation-name: cd-enter-right
    animation-name: cd-enter-right
.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left
    -webkit-animation-name: cd-enter-left
    -moz-animation-name: cd-enter-left
    animation-name: cd-enter-left
.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left
    -webkit-animation-direction: reverse
    -moz-animation-direction: reverse
    animation-direction: reverse
.cd-horizontal-timeline .events-content li>*
    max-width: 800px
    margin: 0 auto
.cd-horizontal-timeline .events-content em
    display: block
    font-style: normal
    margin: 10px auto
.cd-horizontal-timeline .events-content p
    display: block
    font-size: 1.5rem
    letter-spacing: 1.5px
    line-height: 2em
.cd-horizontal-timeline .events-content p.color01
    color: #a0a0a0
.cd-horizontal-timeline .events-content h3
    font-size: 1.5rem
    letter-spacing: 1.5px
    line-height: 2em
.cd-horizontal-timeline .events-content em
    font-size: 1.5rem
    letter-spacing: 1.5px
    line-height: 1em
    font-weight: bold
    color: $text-light
@-webkit-keyframes cd-enter-right
    0%
        opacity: 0
        -webkit-transform: translateX(100%)
    100%
        opacity: 1
        -webkit-transform: translateX(0%)
@-moz-keyframes cd-enter-right
    0%
        opacity: 0
        -moz-transform: translateX(100%)
    100%
        opacity: 1
        -moz-transform: translateX(0%)
@keyframes cd-enter-right
    0%
        opacity: 0
        -webkit-transform: translateX(100%)
        -moz-transform: translateX(100%)
        -ms-transform: translateX(100%)
        -o-transform: translateX(100%)
        transform: translateX(100%)
    100%
        opacity: 1
        -webkit-transform: translateX(0%)
        -moz-transform: translateX(0%)
        -ms-transform: translateX(0%)
        -o-transform: translateX(0%)
        transform: translateX(0%)
@-webkit-keyframes cd-enter-left
    0%
        opacity: 0
        -webkit-transform: translateX(-100%)  
    100%
        opacity: 1
        -webkit-transform: translateX(0%)
@-moz-keyframes cd-enter-left
    0%
        opacity: 0
        -moz-transform: translateX(-100%)
    100%
        opacity: 1
        -moz-transform: translateX(0%)
@keyframes cd-enter-left
    0%
        opacity: 0
        -webkit-transform: translateX(-100%)
        -moz-transform: translateX(-100%)
        -ms-transform: translateX(-100%)
        -o-transform: translateX(-100%)
        transform: translateX(-100%)
    100%
        opacity: 1
        -webkit-transform: translateX(0%)
        -moz-transform: translateX(0%)
        -ms-transform: translateX(0%)
        -o-transform: translateX(0%)
        transform: translateX(0%)

@-o-keyframes puls
    20%
        opacity: 0
    100%
        opacity: 1
@-ms-keyframes puls
    20%
        opacity: 0
    100%
        opacity: 1
@-moz-keyframes puls
    20%
        opacity: 0
    100%
        opacity: 1
@-webkit-keyframes puls
    20%
        opacity: 0
    100%
        opacity: 1

@keyframes puls
    20%
        opacity: 0

    100%
        opacity: 1

