// 內頁共用
// header
.inner-page
    background: #fff
    .main-header
        position: relative
        padding: 0
        z-index: 20
        > div:not(#main-menu)
            a, .lang-wrap .btn-lang, #btn-main-menu
                color: $text-dark
                &:hover, &:active, &:focus, &.active
                    color: $base-color2
            .lang-wrap
                .lang-list
                    background: white
                    -webkit-box-shadow: 0px 0px 24px 0px rgba($text-dark, .35)
                    -moz-box-shadow: 0px 0px 24px 0px rgba($text-dark, .35)
                    box-shadow: 0px 0px 24px 0px rgba($text-dark, .35)
            .logo-pic
                img
                    width: 100px
            .main-menu01
                &:after
                    +v_center
                ul
                    li
                        a
                            display: block
                            color: $text-dark
                            text-shadow: none
                            padding: 2.35rem 1rem
                            position: relative
                            z-index: 1
                            &:hover, &:active, &:focus, &.active, &.current
                                color: $base-color2
                            &:before
                                content: ""
                                display: block
                                +size(100%, 3px)
                                position: absolute
                                bottom: 0
                                left: 0
                                opacity: 0
                                background: $base-color2
                                +animation_ease
                            &:hover, &:active, &:focus, &.active, &.current
                                color: $base-color2
                                &:before
                                    opacity: 1
                                    +animation_ease
    #btn-main-menu
        .collapse-button .icon-bar
            background-color: $text-dark
        &:hover
            .collapse-button .icon-bar
                background-color: $base-color2
    @media all and (max-width: 1199px)
        .main-header
            padding: 1.25rem 0
// aside
.page-aside
    position: fixed
    right: 0
    z-index: -999
    +v_center
    opacity: 0
    +animate_ease_second(opacity, 1.75s)
    a
        display: block
        text-align: right
        color: $base-color7
        padding: .75rem 1.8rem .75rem 0
        position: relative
        margin-bottom: 2px
        z-index: 1
        +animation_ease
        &:before
            content: ""
            display: block
            +size(6px, 100%)
            background: $base-color7
            position: absolute
            top: 0
            right: 0
            +animation_ease
        &:first-child
            color: $base-color
            &:before
                background: $base-color
        &:hover
            padding-right: 2.2rem
            +animate_ease_second(all, 1s)
            &:before
                width: 1rem
                +animation_ease
    &.active
        z-index: 2
        opacity: 1
        +animate_ease_second(opacity, 1.5s)
.page-aside02
    .btn-m-aside-trigger
        margin-bottom: 1rem
        min-width: 200px
        line-height: 2.5rem
        font-size: 1.25rem
        background: $base-color4
        cursor: pointer
    .aside-title
        font-size: 1.5rem
        color: $base-color
        &:not(:first-child)
            margin-top: 1.5rem
    .aside02-list
        margin-bottom: 2rem
    ul
        list-style-type: none
        padding-left: 0
        li
            font-size: 1.125rem
        a
            color: $text-light
            line-height: 1.75em
            &:hover, &:focus, &.active
                color: $base-color7
        .fas
            line-height: 1.75em
    @media all and (max-width: 991px)
        .aside02-list
            max-height: 0
            overflow: hidden
            padding: 0 .5rem
            background: $gray-color
            +animation_ease
            &.opened
                max-height: 3999px
                padding: .5rem
                +animation_ease

// banner
#inbn_particlesR
    width: 20%
    height: 400px
    position: absolute
    top: 0
    right: 0
    z-index: 0
#inbn_particlesL
    width: 20%
    height: 400px
    position: absolute
    top: 0
    left: 0
    z-index: 0
.in-banner
    position: relative
    z-index: 4
    width: 100%
    height: 400px
    background-size: cover
    background-repeat: no-repeat
    overflow: hidden
    .bn-content
        position: absolute
        width: 100%
        height: 100%
        color: $base-color4
        font-size: 1.125rem
        line-height: 1.5em
    .bn-page-title
        font-size: 3.75rem
        line-height: 1em
        font-weight: bold
        color: $text-light
        margin-bottom: .5em
        letter-spacing: 4px
    .breadcrumb-wrap
        position: absolute
        bottom: -4.5em
        left: 0
        .breadcrumb
            background: none
            font-size: .875rem
            padding: 0
        .breadcrumb-item a
            color: $text-light
    @media all and (max-width: 1440px)
        background-position: 28% center
        #inbn_particlesR
            +size(40%, 400px)
    @media all and (max-width: 991px)
        background-position: 35% center
        #inbn_particlesR
            +size(50%, 400px)
    @media all and (max-width: 640px)
        background-position: 45% center
        &:before
            content: ""
            +size(100%, 100%)
            position: absolute
            top: 0
            left: 0
            z-index: 0
            background-color: rgba(black, .5)
        #inbn_particlesR
            opacity: .5
    @media all and (max-width: 575px)
        #inbn_particlesR
            display: none
.inner-main
    min-height: calc(100vh - 700px)
.btn-submenu
    position: relative
    width: 280px
    text-align: left
    background: white
    -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
    -moz-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
    box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
    @extend .bbradius-0
    padding: 1rem 1.5rem
    border: 1px solid $base-color4
    .arrow-cc
        right: 1rem
    + div
        position: relative
    &:focus
        outline: 0
        -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 3, 51, .1)
        -moz-box-shadow: 0px 0px 2px 0px rgba(0, 3, 51, .1)
        box-shadow: 0px 0px 2px 0px rgba(0, 3, 51, .1)
    @media all and (max-width: 767px)
        .btn-submenu-list
            &.opened
                z-index: 1
                max-height: 999px
.submenu-wrap
    position: relative
    z-index: 5
    +moveXY(0, -45%)
    .submenu-list
        width: 240px
        position: absolute
        top: 0
        max-height: 0
        overflow: hidden
        background: white
        -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
        -moz-box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
        box-shadow: 0px 0px 45px 0px rgba(0, 3, 51, 0.2)
        a
            display: block
            width: 100%
            border-bottom: 1px solid $gray-color
            padding: 1rem 1.5rem
            &:hover, &:focus, &:active, &.active
                background: $gray-color
                color: $base-color5
        &.opened
            max-height: 999px
// cate-sub-nav
.cate-sub-nav
    a
        display: inline-block
        vertical-align: middle
        margin: .35rem
        padding: .35rem 1rem
        color: $base-color
        font-size: 1.25rem
        min-width: 100px
        text-align: center
        border: 1px solid $base-color4
        &:hover, &:focus, &.active
            border-color: $base-color
            background: $base-color7
            color: white

// detail wrap
.detail-wrap
    padding-top: 6.25rem
    h1
        font-size: 2rem
        line-height: 1.5em
    img
        max-width: 100%
    @media all and (max-width: 1199px)
        padding-top: 4rem
        h1
            font-size: 1.85rem
    @media all and (max-width: 480px)
        padding-top: 3rem

.detail-main
    .editor
        overflow: auto
        table
            td, th
                min-width: 5em

.title-design
    border-bottom: 2px solid #1c62a5
    padding: 0 0 0.35rem 0

.table-scroller
    overflow: auto
    font-size: 1rem
    // word-break: break-all

.align-center
    margin-left: auto
    margin-right: auto