.page-loader .loader-word {
  letter-spacing: 1px;
  font-size: 1.5rem; }
  @media all and (max-width: 575px) {
    .page-loader .loader-word {
      font-size: 1.25rem; } }

.idx-banner-wrap .idx-bn-content .idx-bn-context .main-slogan {
  font-size: 2.5rem;
  letter-spacing: 0px; }
  @media all and (max-width: 1199px) {
    .idx-banner-wrap .idx-bn-content .idx-bn-context .main-slogan {
      font-size: 2rem; } }
  @media all and (max-width: 991px) {
    .idx-banner-wrap .idx-bn-content .idx-bn-context .main-slogan {
      font-size: 1.75rem; } }
  @media all and (max-width: 575px) {
    .idx-banner-wrap .idx-bn-content .idx-bn-context .main-slogan {
      font-size: 1.25rem; } }
@media all and (max-width: 575px) {
  .idx-banner-wrap .idx-bn-content .idx-bn-context .sub-slogan p {
    font-size: 1rem; } }

.cd-horizontal-timeline .events-content p {
  font-size: 1rem;
  line-height: 2.35em; }

.idx-description p {
  line-height: 1.75em; }
  @media all and (max-width: 575px) {
    .idx-description p {
      line-height: 1.5em; } }

.footer .footer-office ul li {
  line-height: 1.75em; }

.idx-about-wrap .idx-about-context h3 {
  line-height: 1.75em; }

.about-cata-wrap .about-title-01 {
  font-size: 1.3rem; }
.about-cata-wrap .about-text {
  font-size: 1.125rem;
  letter-spacing: 1px; }
.about-cata-wrap .about-title-02 {
  font-size: 1.75rem; }
.about-cata-wrap .about-text-02 {
  font-size: 1.125rem;
  letter-spacing: 1px; }
.about-cata-wrap .about-title-03 {
  font-size: 1.75rem;
  font-weight: bold; }

.timeline-cc .timeline-date {
  font-size: 1.3rem; }
.timeline-cc .timeline-content p {
  font-size: 1.125rem;
  letter-spacing: 1px; }

.prod-cata-sect .prod-cata-wrap .prod-title {
  letter-spacing: 0; }

/*# sourceMappingURL=en.css.map */
