//Home
.page-loader .loader-word
    letter-spacing: 1px
    font-size: 1.5rem
    @media all and (max-width: 575px)
        font-size: 1.25rem
.idx-banner-wrap 
    .idx-bn-content
        .idx-bn-context
            .main-slogan
                font-size: 2.5rem
                letter-spacing: 0px
                @media all and (max-width: 1199px)
                    font-size: 2rem
                @media all and (max-width: 991px)
                    font-size: 1.75rem
                @media all and (max-width: 575px)
                    font-size: 1.25rem
            .sub-slogan p
                @media all and (max-width: 575px)
                    font-size: 1rem
.cd-horizontal-timeline .events-content p
    font-size: 1rem
    line-height: 2.35em
.idx-description
    p
        line-height: 1.75em
        @media all and (max-width: 575px)
            line-height: 1.5em
//footer
.footer
    .footer-office
        ul
            li
                line-height: 1.75em
//About
.idx-about-wrap
    .idx-about-context
        h3
            line-height: 1.75em
.about-cata-wrap
    .about-title-01
        font-size: 1.3rem
    .about-text
        font-size: 1.125rem
        letter-spacing: 1px
    .about-title-02
        font-size: 1.75rem
    .about-text-02
        font-size: 1.125rem
        letter-spacing: 1px
    .about-title-03
        font-size: 1.75rem
        font-weight: bold
.timeline-cc
    .timeline-date
        font-size: 1.3rem
    .timeline-content
        p
            font-size: 1.125rem
            letter-spacing: 1px

// products
.prod-cata-sect
    .prod-cata-wrap
        .prod-title
            letter-spacing: 0