
// aside
.nav-item
	position: relative
	padding: 5px 0
	a
		color: $gray
	a.active
		color: $base-color
	a:hover
		text-decoration: none
.aside-dropdown
	position: absolute
	right: 0 
	+size(20px, 20px) 
// page
.page-title-wrap
	margin-bottom: 50px
	@media (max-width: 1170px)
		padding: 0 15px