@import "../skins/color-style.scss"
// base
.float-l
	float: left
.float-r
	float: right
.cms-table-wrap
	width: 100%
	overflow-x: auto 
button:hover, button:focus
	outline: none
// header
.lang-links.circle 
	li a
		padding: 7px 0
		text-align: center
		text-decoration: none
		font-size: 12px
	li:hover a
		color: $black
	.dropdown-menu
		right: 0
		left: auto
		min-width: 200px
		text-align: right
	.dropdown-menu li a
		padding: 0 
.navbar
	.btn-group
		position: static
.navbar.navbar-toggleable-md .header-dropdown-buttons 
	position: relative
	top: 0
	left: auto
	right: auto
	text-align: center 
	border-bottom: 1px solid rgba(221, 221, 221, .1)
.navbar .btn-group .dropdown-menu
	left: 0
.header-top:not(.dark) .social-links .dropdown.show > button > i:before
	color: $white
#logo_img, #logo-mobile img, .logo
	width: 160px
	height: 50px
h1.large
	@media (max-width: 480px)
	font-size: 30px
h3
	@media (max-width: 480px)
	font-size: 18px
// footer
.footer
	padding: 10px 0
.footer-top
	h2.title
		font-size: 22px
		margin: 10px auto 30px

.idx-achievement-sect
	img
		max-width: initial